div.qrimg {
  opacity: 0;
}

div.qrimg > img {
  margin: 0 0 1rem 0;
}

a.download {
  background-color: white;
  border: 1px solid #dee2e6;
}

.hash-box {
  padding: 0.3em 0.5em;
  background-color: #edeff1;
}

body.darkBG {
  a.download {
    background-color: #2a2a2a;
    color: white;
    border-color: black;
  }

  a.download:hover {
    color: $dark-link-hover-color;
  }

  .hash-box {
    background-color: #12100e;
  }
}
