input[type=number] {
  -moz-appearance: textfield;
  font-size: 0.95rem;
  border-radius: 3px;
  border: 1px solid #ced4da;
  padding: 0 0.2rem 0 0.3rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider {
  max-width: 500px;
  width: 100%;
  height: calc(1rem + 0.4rem);
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider:focus {
  outline: 0;
}

.slider::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #2970ff;
  border: 0;
  border-radius: 1rem;
  -webkit-appearance: none;
  appearance: none;
}

.slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #2970ff;
  border: 0;
  border-radius: 1rem;
  -moz-appearance: none;
  appearance: none;
}

.slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.slider::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background-color: #2970ff;
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

.slider:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.slider::-webkit-slider-thumb:active {
  background-color: #b3d7ff;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}

.slider::-moz-range-thumb:active {
  background-color: #b3d7ff;
}

.slider::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}

.slider::-ms-thumb:active {
  background-color: #b3d7ff;
}

.slider::-ms-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0.5rem;
}

.slider::-ms-fill-lower {
  background-color: #dee2e6;
  border-radius: 1rem;
}

.slider::-ms-fill-upper {
  margin-right: 15px;
  background-color: #dee2e6;
  border-radius: 1rem;
}

.slider:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}

.slider:disabled::-webkit-slider-runnable-track {
  cursor: default;
}

.slider:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}

.slider:disabled::-moz-range-track {
  cursor: default;
}

.slider:disabled::-ms-thumb {
  background-color: #adb5bd;
}

.b-radius {
  border-radius: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -160px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
