/* elements */
html {
  color: #052f4b;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  padding-top: 35px;
}

body {
  padding-bottom: 2.1rem;
  padding-top: 1em;
}

.container.main {
  padding-top: 0.5em;
}
