/* elements */
html {
  color: #052f4b;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  padding-top: 35px;
}

body {
  font-family: 'source-sans-pro-v9-latin-regular', Helvetica, Arial, sans-serif;
  padding-bottom: 2.1rem;
  background: #f3f5f6;
}

a,
a:hover {
  color: #2e75ff;
}
