@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// sync bar
.sync-progress-bar {
  animation: glowGreen 3000ms infinite;
}

.sync-progress-bar span {
  vertical-align: -webkit-baseline-middle;
}

.container div.sync-progress {
  max-width: 600px;
  margin: 0 auto 2% auto;
}
