/* mempool */
.mp-count-card {
  background-color: #f8f8f9;
}

.card-pointer {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 20px;
  z-index: 10;
  border-style: solid;
}

.pointer-right {
  right: -40px;
  top: 50%;
  border-color: transparent transparent transparent white;
  transform: translateY(-50%);
}

.pointer-bottom {
  left: 50%;
  bottom: -40px;
  border-color: white transparent transparent transparent;
  transform: translateX(-50%);
}

.mempool-tables {
  .table {
    line-height: 1;
  }

  .table td {
    padding: 0.6em;
  }

  .table th {
    padding: 0.9em 0.6em;
    font-weight: bold;
  }

  .old-vote {
    background-color: #00000015; //ff3d001f
  }

  .table tr.old-vote {
    border-bottom: 1px solid #8885;
  }
}

.upcoming-vote,
.matching-hash {
  background: #0078ff1c;
}

/* dark theme */
body.darkBG {
  .mp-count-card {
    background-color: #171a26;
  }

  .pointer-right {
    border-color: transparent transparent transparent #2f3338;
  }

  .pointer-bottom {
    border-color: #2f3338 transparent transparent transparent;
  }

  .table tr.old-vote {
    background-color: #ff00000d; //ff3d001f
  }
}
