/* mempool Vote Table */
.old-vote {
  background-color: #ff3d001f;
}

.upcoming-vote,
.matching-hash {
  background: #0078ff1c;
}

.mb-3 tbody tr td .fs14-decimal {
  display: flex;
  flex-direction: row;
}

.mb-3 tbody tr td .fs14-decimal span {
  display: flex;
  flex-direction: row;
}

.mb-3 tbody tr td div span .fs14-decimal span.int {
  line-height: 1.3rem;
}

.mb-3 tbody tr td .fs14-decimal.fs18 span.int {
  line-height: 1.3rem;
}

.mb-3 tbody tr td .fs18 .fs14-decimal span span.int {
  line-height: 1.3rem;
}

.rm-spacing {
  display: flex;
  flex-direction: row;
}

.rm-spacing-tb {
  flex-direction: row;
  display: inline-flex;
}

.fs28 span.rm-spacing .int {
  line-height: 1.1rem;
}

.fs13 span.rm-spacing .int {
  line-height: 1.5rem;
}

.fs16 span.rm-spacing .int {
  line-height: 1.5rem;
}

.fs15 span.rm-spacing .int {
  line-height: 1.6rem;
}

.fs28 span.rm-spacing-tb .int {
  line-height: 1.1rem;
}

.fs13 span.rm-spacing-tb .int {
  line-height: 1.5rem;
}

.fs16 span.rm-spacing-tb .int {
  line-height: 1.5rem;
}

.fs15 span.rm-spacing-tb .int {
  line-height: 1.6rem;
}
