
/* nav */
.top-nav,
.navbar-fixed-bottom {
  position: fixed;
  z-index: 1000;
}

.top-nav {
  width: 100%;
  height: 45px;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #00000017;
  padding: 0.3em 0;
}

.navbar-fixed-bottom {
  bottom: 0;
  width: 100%;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  height: 28px;
  border-top: 1px solid #00000017;
  padding: 3px 0;
}

.navbar-fixed-bottom > div {
  max-height: 28px;
}

.top-nav a {
  color: #052f4b;
}

.navbar-fixed-bottom a,
.navbar-fixed-bottom a:visited {
  color: inherit;
}

.home-link {
  padding: 2px 1px;
}

.dcrdata-logo {
  width: 110px;
  height: 24px;
  background-image: url(/images/themes/light/logo.svg);
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
}

.search-form {
  display: block;
  padding: 0 35px 0 0;
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 2px 0 2px auto;
  border-width: 1px;
  border-color: transparent transparent #ccc transparent;
  border-style: solid;
  overflow: hidden;
  transition: all 0.2s;
}

.search-bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-style: none none none solid;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  width: 35px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: none;
}

.search-bttn:hover {
  background-color: #2dd8a3;
  color: white;
}

.search-form:focus-within {
  border-color: #aaa;
  // box-shadow: 0 0 5px #63b9ff;
  // outline: 1px solid #bfdeff;
}

body.darkBG .search-bttn {
  color: white;
}

.search-form:focus-within > .search-bttn {
  border-color: #aaa;
}

body.darkBG {
  .search-form {
    border-color: transparent transparent #777 transparent;
  }

  .search-bttn:hover {
    background-color: transparent;
    color: #2dd8a3;
  }

  .search-form:focus-within,
  .search-form:focus-within > .search-bttn {
    border-color: #999;
  }
}

.top-search {
  border: none;
  line-height: 15px;
  width: 100%;
  padding: 4px 10px;
  font-size: 15px;
  background-color: transparent;
}

.top-search:focus {
  outline: none;
}

.top-search:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

#menu {
  position: absolute;
  width: 273px;
  margin: -42px 0 0 -243px;
  padding: 20px 0;
  padding-top: 50px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.33s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0 0 0 1px #0000001a;

  .menu-item {
    padding: 7px 20px;
    margin: 1px 0;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;

    &:hover,
    &:hover span {
      color: #2e75ff;
    }
  }

  a.jsonly,
  span.jsonly {
    display: none;
  }
}

#menuToggle input:checked ~ #menu {
  transform: none;
}

#menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  padding: 3px;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 36px;
  position: absolute;
  top: -8px;
  left: -14px;
  cursor: pointer;
  opacity: 0;
  padding: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle .patty {
  display: block;
  width: 20px;
  height: 2px;
  top: 2px;
  margin: 0 5px 4px;
  position: relative;
  background: #052f4b;
  border-radius: 3px;
  z-index: 1;
  transform-origin: top right;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    width 0.3s,
    opacity 0.55s ease;
}

#menuToggle .patty.short {
  width: 14px;
}

#menuToggle .patty :first-child {
  transform-origin: top right;
}

#menuToggle .patty :nth-last-child(2) {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ .patty {
  opacity: 1;
  background: #232323;
  transform: rotate(-45deg) translate(0, -2px)  scale(1.1, 1.1);
}

#menuToggle input:checked ~ .patty.short {
  width: 20px;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  transform: rotate(0deg) scale(0, 0);
}

#menuToggle input:checked ~ .patty:nth-last-child(2) {
  transform: rotate(45deg) translate(2px, 1px) scale(1.1, 1.1);
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

@-webkit-keyframes autofillDark {
  to {
    color: #7fbdff;
    background: transparent;
  }
}
