.vscode/
*.exe
*.log
*.bak
debug
*.cert
*.key
dcrdata
dcrdata.conf
vendor/
*.orig
*.db
*.db-journal
rebuilddb.conf
cmd/rebuilddb/rebuilddb
cmd/scanblocks/scanblocks
fullscan.json
CURRENT
LOCK
LOG
MANIFEST-*
ffldb_stake/
*.pprof
