.vscode/
*.exe
*.log
*.log.*.gz
*.bak
.idea/
debug
*.cert
*.key
dcrdata
dcrdata*.conf
/vendor/
*.orig
*.db
*.db-journal
dcrdata.sqlt.db*
rebuilddb.conf
rebuilddb2.conf
cmd/rebuilddb/rebuilddb
cmd/rebuilddb2/rebuilddb2
rebuild_data/
cmd/scanblocks/scanblocks
fullscan.json
*.swp
*.swo
CURRENT
LOCK
LOG
MANIFEST-*
ffldb_stake*/
*.pprof
testnet/
.DS_Store
testdata/
\.project
test-data-repo
dcrdata-testdata-gitlfs
dcrdata-testdata
.vendor-new
v3
v4
tmp/runner-build
node_modules/
package-lock.json
public/dist/
public/js/dist/
public/**/*.gz
testutil/apiload/results/
testutil/apiload/apiload.conf
testutil/apiload/apiload
pubsub/democlient/democlient
dcrrates/server/server
dcrrates/server/logs/
