.vscode/
*.exe
*.log
*.log.*.gz
*.bak
.idea/
/dcrdata
debug
*.cert
*.key
cmd/dcrdata/dcrdata
dcrdata.conf
/vendor/
*.orig
*.db
*.db-journal
dcrdata.sqlt.db*
rebuilddb2.conf
cmd/rebuilddb2/rebuilddb2
rebuild_data/
cmd/scanblocks/scanblocks
fullscan.json
*.swp
*.swo
CURRENT
LOCK
LOG
MANIFEST-*
ffldb_stake*/
*.pprof
testnet/
.DS_Store
testdata/
dev/datadir/
\.project
test-data-repo
dcrdata-testdata-gitlfs
dcrdata-testdata
.vendor-new
v3
v4
v5
tmp/runner-build
node_modules/
public/dist/
cmd/dcrdata/public/dist/
public/js/dist/
cmd/dcrdata/public/js/dist/
public/**/*.gz
cmd/swapscan/swapscan*.csv
cmd/swapscan/swapscan*.txt
cmd/swapscan/swapscan
cmd/swapscan-btc/swapscan*.csv
cmd/swapscan-btc/swapscan*.txt
cmd/swapscan-btc/swapscan-btc
cmd/dcrdata/public/**/*.gz
testutil/apiload/results/
testutil/apiload/apiload.conf
testutil/apiload/apiload
testutil/dbload/dbload
testutil/dbconfig/test.data
pubsub/democlient/democlient
exchanges/rateserver/rateserver
exchanges/rateserver/logs/
*.gob
pgsql_*.sql
sqlite_*.sql
db/dcrpg/chkdcrpg/chkdcrpg
go.work
go.work.sum
