language: go
go:
  - "1.x"

addons:
  apt:
    packages:
    - xz-utils

sudo: required
services:
  - docker

env:
  - GOVERSION=1.9
  - GOVERSION=1.10

install: true

cache:
  directories:
    - ~/.cache

script:
  - ./run_tests.sh $GOVERSION
