{{define "address"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Decred Address %s" .Address}}
<body>

    {{template "navbar"}}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h4>Address</h4>
                <p class="mono">{{.Address}}</p>
                <table class="table-centered-1rem mb-3">
                    {{if .Balance}}
                    {{if not .KnownFundingTxns}}
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0">The {{.NumFundingTxns}} most recent transactions are tabulated below.</td>
                    </tr>
                    {{end}}
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0">TRANSACTIONS</td>
                        <td>{{add .Balance.NumSpent .Balance.NumUnspent}}</td>
                    </tr>
                    <!-- <tr>
                        <td class="text-right pr-2 h1rem p03rem0">UNCONFIRMED</td>
                        <td>{{.NumUnconfirmed}}</td>
                    </tr> -->
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0">RECEIVED</td>
                        <td>{{with $received := add .Balance.TotalSpent .Balance.TotalUnspent}}
                            {{template "decimalParts" (amountAsDecimalParts $received true)}}<span class="unit"> DCR</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0">SPENT</td>
                        <td>{{template "decimalParts" (amountAsDecimalParts .Balance.TotalSpent true)}}<span class="unit"> DCR</span></td>
                    </tr>
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0">UNSPENT</td>
                        <td>{{template "decimalParts" (amountAsDecimalParts .Balance.TotalUnspent true)}}<span class="unit"> DCR</span></td>
                    </tr>
                    {{end}}
                </table>

                <div class="d-flex flex-wrap align-items-center justify-content-end mb-1">
                    <h5 class="mr-auto mb-0">Transactions</h5>
                    {{if lt .NumFundingTxns .KnownFundingTxns}}
                    <div div class="d-flex flex-wrap-reverse align-items-center justify-content-end ">
                        <span class="fs12 nowrap text-right">{{int64Comma .Offset}} &mdash; {{int64Comma (add .Offset .NumFundingTxns)}} of {{int64Comma .KnownFundingTxns}} funding transactions.</span>
                        <nav aria-label="address transactions navigation" data-limit="{{.Limit}}" class="ml-1">
                            <ul class="pagination mb-0 pagination-sm">
                                <li class="page-item {{ if eq .Offset 0}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="{{.Path}}?n={{.Limit}}&start={{if gt (subtract .Offset .Limit) 0}}{{subtract .Offset .Limit}}{{else}}0{{end}}"
                                        id="prev"
                                    >Previous</a>
                                </li>
                                <li class="page-item {{if lt (subtract .KnownFundingTxns .Offset) (add .Limit 1)}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="{{.Path}}?n={{.Limit}}&start={{add .Offset .Limit}}"
                                        id="next">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {{end}}
                </div>

                <table class="table table-mono-cells table-sm striped">
                    <thead>
                        <th>Transactions ID</th>
                        <th class="text-right">Credit DCR</th>
                        <th>Debit DCR</th>
                        <th>Time</th>
                        <th>Age</th>
                        <th>Confirms</th>
                        <th>Size</th>
                    </thead>
                    <tbody>
                        {{range .Transactions}}
                        <tr>
                            <td><a href="../tx/{{.TxID}}" class="hash">{{.TxID}}</a></td>
                            {{if ne .RecievedTotal 0.0}}
                                <td class="text-right">{{template "decimalParts" (float64AsDecimalParts .RecievedTotal false)}}</td>
                            {{else}}
                                <td></td>
                            {{end}}
                            {{if ne .SentTotal 0.0}}
                                {{if lt 0.0 .SentTotal}}
                                    <td>{{template "decimalParts" (float64AsDecimalParts .SentTotal false)}}</td>
                                {{else}}
                                    <td>N/A</td>
                                {{end}}
                            {{else}}
                                <td></td>
                            {{end}}
                            <td>
                                {{if eq .Time 0}}
                                    Unconfirmed
                                {{else}}
                                    {{.FormattedTime}}
                                {{end}}
                            </td>
                            <td>
                            {{if eq .Time 0}}
                                N/A
                            {{else}}
                                <span data-age="{{.Time}}"></span>
                            {{end}}
                            </td>
                            <td>{{.Confirmations}}</td>
                            <td>{{.FormattedSize}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <div 
                    id="pagesize-wrapper" 
                    class="hidden d-flex align-items-center justify-content-end" 
                >
                    <label class="mb-0 mr-1" for="pagesize">Page size</label>
                    <select 
                        name="pagesize" 
                        id="pagesize" 
                        class="form-control-sm mb-2 mr-sm-2 mb-sm-0">
                        <option {{if eq .Limit 10}}selected{{end}} value="10">10</option>
                        <option {{if eq .Limit 100}}selected{{end}} value="100">100</option>
                        <option {{if eq .Limit 1000}}selected{{end}} value="1000">1000</option>
                    </select>
                </div>      
    
            </div>
        </div>
    </div>

    {{template "footer"}}
    <script>
        $("#pagesize-wrapper").removeClass("hidden")
        var $pagesize = $("#pagesize")
        var $prevWrapper = $("#prev").parent()
        var limit = {{.Limit}}
        var offset = {{.Offset}}
        function pageLink(pageSize, start) {
            return window.location.pathname + '?n='+ pageSize + "&start=" + start
        }
        $pagesize.change(function() {
            var pageSize = parseInt($pagesize.val())
            var prevStart = Math.max(offset - pageSize, 0)
            if (prevStart > 0) {
                if ($prevWrapper.hasClass("disabled")) {
                    $prevWrapper.removeClass("disabled")
                }
            }
            $("#prev").attr("href", pageLink(pageSize, prevStart))
            $("#next").attr("href", pageLink(pageSize, offset + limit))
        })
    </script>

</body>
</html>
{{end}}
