{{define "agenda"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Vote Agenda Pages"}}
    <body>
        {{template "navbar" .}}
        {{with .Ai}}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-sm-6 d-flex">
                    <h4 class="mb-2">{{.Id}}
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-7 col-sm-6 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Description</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.Description}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Mask</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.Mask}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">StartTime</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConvertion .StartTime}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">ExpireTime</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConvertion .ExpireTime}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 col-sm-6 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">Status</td>
                            <td class="lh1rem" style="min-width: 178px;">
                                <span class="hash break-word  lh1rem">{{.Status}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">QuorumProgress</td>
                            <td class="lh1rem" style="min-width: 178px;">
                                <span class="hash break-word  lh1rem">{{.QuorumProgress}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">VoteVersion</td>
                            <td class="lh1rem" style="min-width: 178px;">
                                <span class="hash break-word  lh1rem">{{.VoteVersion}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {{if .Choices}}
            <table class="table table-mono-cells table-sm striped">
                <thead>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Bits</th>
                    <th>IsAbstain</th>
                    <th>IsNo</th>
                    <th>Count</th>
                    <th>Progress</th>
                </thead>
                {{range $i, $v := .Choices}}
                {{with $v}}
                <thead>
                    <tr>
                        <td class="text-left">{{.Id}}</td>
                        <td class="text-left">{{.Description}}</td>
                        <td class="text-left">{{.Bits}}</td>
                        <td class="text-left">{{.IsAbstain}}</td>
                        <td class="text-left">{{.IsNo}}</td>
                        <td class="text-left">{{.Count}}</td>
                        <td class="text-left">{{.Progress}}</td>
                    </tr>
                </thead>
                {{end}}
                {{end}}
            </table>
            {{end}}

            <table>
                <tr>
                    <td>
                        <canvas id="barGraph" width="400" height="400"></canvas>
                    </td>
                    <td>
                        <canvas id="doughnutGraph" width="400" height="400"></canvas>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        {{end}}

        <script>
        var d = [], l = []
        var v = {{.Ai.Choices}}

        v.map(function(n){
            l.push(n.id)
            d.push(n.bits)
        });

        var plotGraph = function(divName, chartType){
            new Chart(
                document.getElementById(divName), {
                options: {
                    width:400,
                    height:400,
                    responsive: false },
                type: chartType,
                data: {
                    labels: l,
                    datasets: [{
                        data: d,
                        label: 'abstained votes',
                        backgroundColor: [
                            'rgba(255, 140, 0, 0.5)',
                            'rgba(255, 0, 0, 0.5)',
                            'rgba(0, 255, 0, 0.5)',
                        ],
                        borderColor: [
                            'rgba(255, 140, 0, 1.2)',
                            'rgba(255, 0, 0, 1.2)',
                            'rgba(0, 255, 0, 1.2)',
                        ],
                        borderWidth: 1
                    }]
                }
            });
        }

        plotGraph("barGraph", "bar")
        plotGraph("doughnutGraph", "doughnut")
        </script>
        {{template "footer" . }}
    </body>
</html>
{{end}}