{{define "attackcost"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Majority Attack Cost Calculator"}}
{{template "navbar" . }}
  
   <div
      class="container py-1 mb-2"
      data-controller="attackcost"
      data-attackcost-height="{{.Height}}"
      data-attackcost-hashrate="{{.HashRate}}"
      data-attackcost-dcrprice="{{.DCRPrice}}"
      data-attackcost-ticket-price="{{.TicketPrice}}"
      data-attackcost-ticket-pool-value="{{.TicketPoolValue}}"
      data-attackcost-ticket-pool-size="{{.TicketPoolSize}}"
    >
      <div class="col-md-24 p-0">
        <div class="bg-white mb-1 py-2 px-3 my-0">
          <div class="d-inline-block position-relative p-2">
            <span class="card-icon dcricon-twoblocks h1 mr-2"></span>
            <span class="h4 my-3">Majority Attack Cost Calculator</span>
          </div>

           <div class="justify-content-center align-items-center" data-target="attackcost.graph" style="width:90%; height:400px;"></div>

          <div class="mt-1 ml-2">
            <span>Drag the slider to change the amount of live tickets and hashpower required for a Majority attack on Decred.</span>
            <div class="slidecontainer">
              <input
                class="slider"
                data-target="attackcost.attackPercent"
                data-action="input->attackcost#updateSliderData"
                type="range"
                min="0.01"
                max="0.99"
                step="0.005"
                value="0.51"
              >
              <div>If an attacker has in their control <span class="font-weight-bold" data-target="attackcost.tickets">0</span> and
                <span class="font-weight-bold" data-target="attackcost.internalHash">0</span>
                (HashRate) they will be able to generate blocks at the same average speed as the honest network.
              </div>
            </div>
          </div>

          <div class="mt-2 ml-2 row">
            <span class="mr-1">Device:</span>
            <select
              class="form-control chart-form-control mr-5"
              data-action="attackcost#chooseDevice"
              data-target="attackcost.device"
            >
              <option data-target="attackcost.deviceDesc" value="0">DCR5</option>
              <option data-target="attackcost.deviceDesc" value="1">D1</option>
            </select>

            <span class="mr-1">Attack Type:</span>
            <select
              class="form-control chart-form-control"
              data-action="attackcost#chooseAttackType"
              data-target="attackcost.typeAttack"
            >
              <option value="0">Internal Attack</option>
              <option value="1">External Attack</option>
            </select>
          </div>

          <div class="mt-2 ml-2">
            The current hash rate is
            <span class="font-weight-bold" data-target="attackcost.actualHashRate"></span>
            Ph/s as of block <span data-target="attackcost.blockHeight">0</span>.
          </div>

          <div class="mt-2 ml-2 pr-3">
              A 
              <input
                type="number"
                data-target="attackcost.targetPow"
                data-action="change->attackcost#updateTargetPow"
                step="1"
                min="1"
                max="100"
                value="51"
                max="1000"
                autofocus
              >%
              PoW attack would need <span class="font-weight-bold" data-target="attackcost.targetHashRate">0</span>
              <span class="pl-1 unit lh15rem">Ph/s</span>.
          </div>

          <div class="mt-2 ml-2">
            In order to aquire a <span class="font-weight-bold" data-target="attackcost.targetHashRate">0</span>
            Ph/s hashrate, it would take
            <span class="font-weight-bold" data-target="attackcost.countDevice">0</span>
            <span class="fs11" data-target="attackcost.deviceName">&mdash;</span>
            at a cost of <span class="font-weight-bold" data-target="attackcost.totalDeviceCost">0</span>
            <span class="fs11">USD</span> to buy them.
          </div>

          <div class="mt-2 ml-2">
            Length of attack is
            <input
              type="number"
              data-target="attackcost.attackPeriod"
              data-action="change->attackcost#updateAttackTime"
              step="1"
              min="1"
              value="1"
              max="1000"
            > hour(s).
          </div>

          <div class="mt-2 ml-2 pr-3">
            Total kWh attack for 
            <span data-target="attackcost.durationLongDesc">0</span> :
            (<span data-target="attackcost.devicePower">0</span>W x
            <span data-target="attackcost.countDevice">0</span>
            <span class="fs11" data-target="attackcost.deviceName">&mdash;</span> x
            <span data-target="attackcost.durationShortDesc">0</span>) / 1000 =
            <span class="font-weight-bold" data-target="attackcost.totalKwh">0</span> kWh.
          </div>

          <div class="mt-2 ml-2">
            The cost of electricity is
            <input
              type="number"
              data-target="attackcost.kwhRate"
              data-action="change->attackcost#updateKwhRate"
              step="0.1"
              min="0.1"
              value="0.1"
              max="1000"
            >
            <span class="fs11">USD</span>
            per kWh.
          </div>

          <div class="mt-2 ml-2 ">
            Costs of <span data-target="attackcost.durationLongDesc">0</span>
            electricity consumption for <span class="font-weight-bold" data-target="attackcost.countDevice">0</span>
            <span class="fs11" data-target="attackcost.deviceName">&mdash;</span> :
            <span data-target="attackcost.totalKwh">0</span> kWh x
            <span data-target="attackcost.kwhRateLabel">0</span>
            <span class="fs11">USD</span> per kWh =
            <span class="font-weight-bold" data-target="attackcost.totalElectricity">0</span>
            <span class="fs11">USD</span>.
          </div>

          <div class="mt-2 ml-2">
            To carry out the attack, additional costs for facilities and cooling are estimated at 
            <input
              type="number"
              data-action="change->attackcost#updateOtherCosts"
              data-target="attackcost.otherCosts"
              step="1"
              min="1"
              max="100"
              value="0"
              max="1000"
            >% of the cost of the miners.
          </div>

          <div class="mt-2 ml-2 pr-3">
            Total PoW attack cost:
            (<span data-target="attackcost.totalDeviceCost">0</span>
            <span class="fs11">USD</span> x
            <span data-target="attackcost.totalExtraCostRate">0</span>) +
            <span data-target="attackcost.totalElectricity">0</span>
            <span class="fs11">USD</span> =
            <span class="font-weight-bold" data-target="attackcost.totalPow">0</span>
            <span class="fs11">USD</span>.
          </div>
          
          <div class="mt-2 ml-2 pr-3">Every block 5 tickets vote and 3/5 tickets are required for the block to be valid.</div>
          <div class="mt-2 ml-2 pr-3">
            Current ticket pool size is
            <span class="font-weight-bold" data-target="attackcost.ticketPoolSize">0</span> tickets.
          </div>

          <div class="mt-2 ml-2 pr-3" data-target="attackcost.internal">
            Current ticket price is 
            <span class="font-weight-bold" data-target="attackcost.ticketPrice">0</span>
            <span class="fs11">DCR</span>.
          </div>
          <div data-target="attackcost.external">
              <div class="mt-2 ml-2 pr-3">
                Total Staked is
                <span  data-target="attackcost.ticketPoolValue" class="font-weight-bold">0</span>
                <span class="fs11">DCR</span>.
              </div>
              <div class="mt-2 ml-2 pr-3">
                Amount needed for the attack process
                <span data-target="attackcost.ticketPoolValue">0</span> / 0.6 =
                <span class="font-weight-bold" data-target="attackcost.ticketPoolAttack">0</span>
                <span class="fs11">DCR</span>.
              </div>
              <div class="mt-2 ml-2 pr-3">
                The future ticket price is 
                <span data-target="attackcost.ticketPoolAttack">0</span> /
                <span data-target="attackcost.ticketPoolSize">0</span> =
                <span class="font-weight-bold" data-target="attackcost.ticketPrice">0</span>
                <span class="fs11">DCR</span>.
              </div>
          </div>

          <div class="mt-2 ml-2 pr-3">
            We assume that an attacker would need to aquire 
            <input
              type="number"
              data-target="attackcost.targetPos"
              data-action="change->attackcost#updateTargetPos"
              step="1"
              min="1"
              max="100"
              value="60"
              max="1000"
            >% of the ticket pool to do the attack.
          </div>

          <div class="mt-2 ml-2 pr-3">
            Tickets needed to attack is <span data-target="attackcost.ticketPoolSize">0</span> x
            <span data-target="attackcost.targetPosLabel">0</span> =
            <span class="font-weight-bold" data-target="attackcost.ticketSizeAttach">0</span>
            tickets.
          </div>

          <div class="mt-2 ml-2 pr-3">
            Funds needed to buy <span class="font-weight-bold" data-target="attackcost.ticketSizeAttach">0</span>
            tickets is <span data-target="attackcost.ticketSizeAttach">0</span> x
            <span data-target="attackcost.ticketPrice">0</span> =
            <span class="font-weight-bold" data-target="attackcost.totalDCRPos">0</span>
            <span class="fs11">DCR</span>.
          </div>

          <div class="mt-2 ml-2 pr-3">
            The current USD-DCR market price is
            <input
              type="number"
              data-target="attackcost.priceDCR"
              data-action="change->attackcost#UpdatePrice"
              step="0.1"
              min="0.01"
              value="20"
              max="1000"
            >
            <span class="fs11">USD</span>.
          </div>
          <div class="mt-2 ml-2 pr-3">
            Total PoS attack cost:
            <span data-target="attackcost.totalDCRPos">0</span> x
            <span data-target="attackcost.priceDCRLabel">0</span> =
            <span class="font-weight-bold" data-target="attackcost.totalPos">0</span>
            <span class="fs11">USD</span>.
          </div>
          <div class="mt-2 ml-2 pr-3">
            Total attack cost is
            <span data-target="attackcost.totalPow">0</span> +
            <span data-target="attackcost.totalPos">0</span> =
            <span class="font-weight-bold" data-target="attackcost.total">0</span>
            <span class="fs11">USD</span>.
          </div>
        </div>
      </div>
  </div>
 {{ template "footer" . }}
</body>
</html>
{{end}}

