{{define "chainParameters"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "Decred ChainParams"}}
    <body>
        {{template "navbar"}}
        {{with .Cp}}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-sm-6 d-flex">
                    <h4 class="mb-2">Chain Parameters</h4>
                </div>
                <div class="col-md-5 col-sm-6 d-flex">
                    <table>
                        <tr class="h2rem">
                            <td class="pr-2 lh1rem vam text-right xs-w117 w120">NETWORK</td>
                            <td class="fs28 mono d-flex align-items-center">{{.Net}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-mono-cells table-sm striped">
                        <thead>
                            <th>Parameter</th>
                            <th>Value</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">MAXIMUM TRANSACTION SIZE</td>
                                <td class="lh1rem" >{{.MaxTxSize}} b</td>
                                <td class="lh1rem">Size of largest allowable transaction</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">PoW RETARGET INTERVAL</td>
                                <td class="lh1rem" >{{TimeDurationFormat .TargetTimespan}}</td>
                                <td class="lh1rem">Amount of time that should elapse before the block difficulty requirement is examined</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TARGET TIME PER BLOCK</td>
                                <td class="lh1rem">{{.TargetTimePerBlock}}</td>
                                <td class="lh1rem">Amount of time to generate each block.</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">MAXIMUM BLOCK SIZE</td>
                                <td class="lh1rem">{{.MaximumBlockSize}} b</td>
                                <td class="lh1rem">Size a block can get to</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">COINBASE MATURITY</td>
                                <td class="lh1rem">{{.CoinbaseMaturity}} blocks</td>
                                <td class="lh1rem">Number of blocks required before newly mined</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKET PURCHASE CHANGE MATURITY</td>
                                <td class="lh1rem">{{.SStxChangeMaturity}}</td>
                                <td class="lh1rem">Maturity for spending SStx change outputs</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKET MATURITY</td>
                                <td class="lh1rem">{{.TicketMaturity}} blocks</td>
                                <td class="lh1rem">Number of blocks for tickets to mature</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKET POOL SIZE</td>
                                <td class="lh1rem">{{.TicketPoolSize}}</td>
                                <td class="lh1rem">Number of possible number of different ticket numbers</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKETS PER BLOCK</td>
                                <td class="lh1rem">{{.TicketsPerBlock}}</td>
                                <td class="lh1rem">Average number of tickets per block for Decred PoS</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKET EXPIRY</td>
                                <td class="lh1rem">{{.TicketExpiry}} blocks</td>
                                <td class="lh1rem">Number of blocks for tickets to expire after they have matured</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">STAKE REWARD PROPORTION</td>
                                <td class="lh1rem">{{.StakeRewardProportion}}</td>
                                <td class="lh1rem">Comparative amount of the subsidy</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">HD COIN TYPE</td>
                                <td class="lh1rem">{{.HDCoinType}}</td>
                                <td class="lh1rem">BIP44 coin type used in the hierarchical deterministic path for address generation.</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">ORGANISATION Pk SCRIPT</td>
                                <td class="lh1rem">{{.OrganizationPkScript}}</td>
                                <td class="lh1rem">Output script for block taxes to be distributed to in every block's coinbase</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">DECODED ADDRESS</td>
                                <td class="lh1rem"><a href="/address/{{.DecodedAddress}}">{{.DecodedAddress}}</a></td>
                                <td class="lh1rem">Development subsidy address for network</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">GENESIS BLOCK</td>
                                <td class="lh1rem"><a href="/block/{{.GenesisBlockHeight}}">{{.GenesisBlockHeight}}</a></td>
                                <td class="lh1rem">First block of the chain</td>
                            </tr>
                            <tr>
                                <td class="text-right pr-2 lh1rem nowrap p03rem0">BLOCK ONE</td>
                                <td class="lh1rem"><a href="/block/{{.BlockOneHeight}}">{{.BlockOneHeight}}</a></td>
                                <td class="lh1rem">Block height 1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{end}}
        {{ template "footer" . }}
    </body>
</html>
{{end}}