{{define "charts"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" "Decred Charts"}}
<body class="{{ theme }}">
    {{template "navbar" . }}

    <div data-controller="charts">

        <div class="container main">

            <div class="d-flex flex-wrap justify-content-center align-items-center chart-controls mb-1 mt-1">

                <div class="chart-control-wrapper mr-2 mt-1 mb-1">
                    <div class="chart-control-label">CHART</div>
                    <div class="chart-control">
                        <select
                            id="selectBox"
                            class="form-control"
                            data-target="charts.chartSelect"
                            data-action="charts#selectChart"
                            style="width: 250px"
                        >
                            <option name="ticket-price" value="ticket-price">Ticket Price</option>
                            <option name="ticket-pool-size" value="ticket-pool-size">Ticket Pool Size</option>
                            <option name="ticket-pool-value" value="ticket-pool-value">Ticket Pool Value</option>
                            <option name="avg-block-size" value="avg-block-size">Average Block Size</option>
                            <option name="blockchain-size" value="blockchain-size">BlockChain Size</option>
                            <option name="tx-per-block" value="tx-per-block">Transactions Per Block</option>
                            <option name="tx-per-day" value="tx-per-day">Transactions Per Day</option>
                            <option name="pow-difficulty" value="pow-difficulty">PoW Difficulty</option>
                            <option name="coin-supply" value="coin-supply">Total Coin Supply</option>
                            <option name="fee-per-block" value="fee-per-block">Total Fee Per Block</option>
                            <option name="duration-btw-blocks" value="duration-btw-blocks">Duration Between Blocks</option>
                            <option name="ticket-spend-type" value="ticket-spend-type">Ticket Spend Types</option>
                            <option name="ticket-by-outputs-windows" value="ticket-by-outputs-windows">Ticket Outputs by Price Window</option>
                            <option name="ticket-by-outputs-blocks" value="ticket-by-outputs-blocks">Ticket Outputs by Block</option>
                            <option name="chainwork" value="chainwork">Total Work</option>
                            <option name="hashrate" value="hashrate">Network Hashrate</option>
                        </select>
                    </div>
                </div>

                <div class="chart-control-wrapper mr-2 mb-1" data-target="charts.zoomSelector">
                    <div class="chart-control-label">ZOOM</div>
                    <div class="chart-control">
                        <ul
                            class="nav nav-pills"
                        >
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="charts.zoomOption"
                                    data-action="click->charts#onZoom"
                                    data-zoom="0"
                                >All</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="charts.zoomOption"
                                    data-action="click->charts#onZoom"
                                    data-zoom="105120"
                                >Year</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="charts.zoomOption"
                                    data-action="click->charts#onZoom"
                                    data-zoom="8760"
                                >Month</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="charts.zoomOption"
                                    data-action="click->charts#onZoom"
                                    data-zoom="2016"
                                >Week</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="charts.zoomOption"
                                    data-action="click->charts#onZoom"
                                    data-zoom="288"
                                >Day</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chart-control-wrapper mb-1" data-target="charts.zoomSelector">
                    <div class="chart-control-label">MOVING AVG</div>
                    <div class="chart-control">
                        <input
                            type="number"
                            min="1"
                            max="10000"
                            class="form-control"
                            style="max-width: 80px"
                            placeholder="&mdash;"
                            data-target="charts.rollPeriodInput"
                            data-action="change->charts#onRollPeriodChange"
                        >
                    </div>
                </div>

            </div>


        </div>


        <div data-target="charts.chartWrapper" class="chart-wrapper pl-2 pr-2 mb-5">
            <div
                data-target="charts.chartsView"
                style="width:100%; height:76vh; margin:0 auto;">
            </div>
            <div class="spinner-wrapper">
                <div class="spinner-centerer d-flex align-items-center justify-content-center">
                    <div class="spinner">
                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center legend-wrapper">
                <div class="legend d-flex" data-target="charts.labels"></div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        var ticketsPrice = {{.Data}};
    </script>

    {{ template "footer" . }}

</body>
</html>
{{end}}
