{{define "error"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Error %s" .ErrorCode}}
<body>

    {{template "navbar"}}

    <div class="container">
        <div class="row">
            <h1>Error {{.ErrorCode}}</h1>
        </div>
        <div class="row">
            <p>{{.ErrorString}}</p>
        </div>
    </div>

    {{template "footer"}}

</body>
</html>
{{end}}