{{define "error"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "%s" .ErrorCode}}
<body>

    {{template "navbar"}}

    <BR>
    <center>
    <p>{{.ErrorString}}</p>
    </center>

    {{template "footer"}}

</body>
</html>
{{end}}
