{{define "explorer"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head"}}

<body>
    
    <!-- Fixed navbar -->
    {{template "navbar"}}
    <style>
        td, th{
            text-align: center;
        }
    </style>
    <div class="wrapper" style="margin-top:60px;">
        <div id="boxagenda">
            <div style="clear:both;">&nbsp;</div>
            <h4><span>Recent Blocks</span></h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th> Height </th>
                    <th> Voters </th>
                    <th> Fresh Stake </th>
                    <th> Transactions </th>
                    <th> Size </th>
                    <th> Age </th>
                    <th> Time </th>
                </tr>
                </thead>
            {{range .Data}}
                <tr id="{{.Height}}"style="background-color:#2971FF;">
                    <td> <a href="/explorer/block/{{.Hash}}" class="height">{{.Height}}</a> </td>
                    <td> {{.Voters}} </td>
                    <td> {{.FreshStake}} </td>
                    <td> {{.TxCount}}</td>
                    <td> {{.Size}} B</td>
                    <td class="age"> {{.Time}} </td>
                    <td> {{.Time | getTime}} </td>
                </tr>
            {{end}}
            </table>
            <p id="best" class="hidden">{{.BestBlock}}</p>
            <a id="prev" href="/explorer">Previous Blocks</a>
            <a id="next" href="/explorer">Next Blocks</a>
        </div>
    </div>
    <script>
        function timeSince(date) {
            var seconds = Math.floor(((new Date().getTime()/1000) - date))
            var interval = Math.floor(seconds / 31536000);
            
            if (interval >= 1) {
                var s = "";
                if (interval > 1) {
                    s = "s"
                }
                return interval + " year" + s;
            }
            interval = Math.floor(seconds / 2592000);
            if (interval >= 1) {
                var s = "";
                if (interval > 1) {
                    s = "s"
                }
                return interval + " month" + s;
            }
            interval = Math.floor(seconds / 86400);
            if (interval >= 1) {
                var s = "";
                if (interval > 1) {
                    s = "s"
                }
                return interval + " day" + s;
            }
            interval = Math.floor(seconds / 3600);
            if (interval >= 1) {
                var s = "";
                if (interval > 1) {
                    s = "s"
                }
                return interval + " hour" + s;
            }
            interval = Math.floor(seconds / 60);
            if (interval >= 1) {
                var s = "";
                if (interval > 1) {
                    s = "s"
                }
                return interval + " minute" + s;
            }
            return Math.floor(seconds) + " seconds";
        }
        var ages = document.getElementsByClassName("age");
        var age_times = [];
        for (var i = 0; i < ages.length; i++) {
            age_times[i] = new Date(parseInt(ages[i].innerText));
            ages[i].innerText = timeSince(age_times[i]);
        }
        var heights = document.getElementsByClassName("height");
        var first = parseInt(heights[0].innerText);
        var last = parseInt(heights[heights.length-1].innerText);
        var numBlocks = first - last
        function updateTime() {
            for (var i = 0; i < ages.length; i++) {
                ages[i].innerText = timeSince(age_times[i]);
            }
        }
        setInterval(updateTime, 60000);
        var prev = document.getElementById("prev");
        var next = document.getElementById("next");
        prev.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = prev.href + '?start='+ (first-numBlocks).toString() + "&end=" + (last-numBlocks).toString();
        }, false);
        next.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = next.href + '?start='+ (first+numBlocks).toString() + "&end=" + (last+numBlocks).toString();
        }, false);
        var best = document.getElementById("best");
        if (parseInt(best.innerText) == first) {
            next.className = "hidden"
        }
        </script>
</body>

</html>
{{ end }}
