{{define "explorer"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "Decred Blocks"}}
<body class="{{ theme }}">
    {{template "navbar" . }}
    <div class="container main" data-controller="main">
        {{ $blocksCount := (len .Data) }}
        <h4>Blocks</h4>
        <div class="mb-1 fs13">
            {{if gt $blocksCount 0}}
            {{ $topBlock := ((index .Data 0).Height) }}
            {{ $Offset := (subtract .BestBlock $topBlock) }}
            <div class="d-flex flex-wrap-reverse align-items-center justify-content-end list-display">
                <span class="fs12 nowrap text-right">
                    {{intComma (add $Offset 1)}} &mdash; {{intComma (add $Offset .Rows)}} of {{intComma (add .BestBlock 1) }} blocks
                </span>
                <nav aria-label="blocks navigation" data-limit="{{.Rows}}" class="ml-2">
                    <ul class="pagination mb-0 pagination-sm">
                        <li class="page-item {{if lt $topBlock .Rows}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/blocks?height={{ subtract $topBlock (int64 $blocksCount) }}&rows={{.Rows}}"
                                id="prev"
                            >Previous</a>
                        </li>
                        <li class="page-item {{if ge $topBlock .BestBlock}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/blocks?height={{ add $topBlock (int64 $blocksCount) }}&rows={{.Rows}}"
                                id="next"
                            > Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {{else}}
            <span class="fs12 nowrap text-right list-display">no confirmed blocks found</span>
            {{end}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table striped table-responsive" id="explorertable">
                    <thead>
                        <tr>
                            <th>Height</th>
                            <th>Window</th>
                            <th>
                                <span class="d-none d-md-inline">Transactions</span>
                                <span class="d-md-none">Txn</span>
                            </th>
                            <th>Vote<span class="d-none d-md-inline">s</span></th>
                            <th>Ticket<span class="d-none d-md-inline">s</span></th>
                            <th>
                                <span class="d-none d-md-inline">Revocations</span>
                                <span class="d-md-none">Revoke</span>
                            </th>
                            <th>Size</th>
                            <th>Age</th>
                            <th>Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Data}}
                        <tr id="{{ .Height }}">
                            <td><a href="/block/{{.Height}}" class="fs16 height">{{if not .Valid}}<span class="attention">&#9888;</span>{{end}}{{ .Height }}</a></td>
                            <td>{{.Window}}</td>
                            <td {{if not .Valid}}class="grayed" title="Regular transactions invalidated by stakeholders."{{end}}>{{.Transactions}}</td>
                            <td>{{.Voters}}</td>
                            <td>{{.FreshStake}}</td>
                            <td>{{.Revocations}}</td>
                            <td>{{.FormattedBytes}}</td>
                            <td data-target="main.age" data-age="{{.BlockTime}}"></td>
                            <td>{{.FormattedTime}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer" . }}

</body>
</html>
{{ end }}