{{define "explorer"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head"}}

<body>
    
    <!-- Fixed navbar -->
    {{template "navbar"}}

    <div class="wrapper" style="margin-top:60px;">
        <div id="boxagenda">
            <div style="clear:both;">&nbsp;</div>
            <h4><span>Recent Blocks</span></h4>
            <table class="col-md-15">
                <tr>
                    <td> Height </td>
                    <td> Voters </td>
                    <td> Fresh Stake </td>
                    <td> Time </td>
                    <td> Size </td>
                </tr>
            {{range .Data}}
                <tr>
                    <td> <a href="explorer/block/{{.Hash}}">{{.Height}}</a> </td>
                    <td> {{.Voters}} </td>
                    <td> {{.FreshStake}} </td>
                    <td> {{.Time | getTime}} </td>
                    <td> {{.Size}} </td>
                </tr>
            {{end}}
            </table>
        </div>
    </div>
 
</body>

</html>
{{ end }}
