{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "Decred Block Explorer by dcrdata.org"}}

<body class="{{ theme }}">
    {{ template "navbar" . }}
    <div class="container main" data-controller="time blocklist homepage">
      <div class="text-left mx-1 pl-1 pb-1">{{.NetName}}</div>

        <div class="row">

          <div class="col-md-6 p-0">

                  <div class="pt-3 pb-1 px-4 mx-1 light-card text-center">

                    <div class="d-inline-block position-relative mt-1 p-2">
                        <span class="card-icon dcricon-twoblocks h1"></span> <a href="/blocks" class="h3">Latest Blocks</a>
                    </div>

                    {{with .BestBlock}}
                    <div class="d-flex justify-content-between align-items-center px-2 mx-auto">
                      <div class="text-left mt-2 d-inline-block">
                        <span class="h6 mb-0 position-relative" data-tooltip="stakeholders are validating this block now.">proposed</span><br>
                        <a class="d-inline-block h3 position-relative" href="/block/{{.Hash}}" data-target="homepage.blockHeight">{{.Height}}</a>
                      </div>
                      <div class="text-right my-2 d-inline-block">
                        <span class="h6 position-relative" data-tooltip="total DCR sent in this block">value</span><br>
                        <span class="h4" data-target="homepage.blockTotal">{{threeSigFigs .Total}}</span><span class="h6"> DCR</span>
                      </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center px-2 mx-auto">
                        <div class="text-left mt-2 pr-3 d-inline-block">
                          <div class="d-flex p-0 m-0 justify-content-between">
                            <span class="h6" data-tooltip="stakeholder's votes for the proposed block.">votes</span>
                            {{if eq $.Consensus -1}}
                              <span data-target="homepage.consensusMsg" class="small text-danger">rejected</span>
                            {{else if eq $.Consensus 0}}
                              <span data-target="homepage.consensusMsg" class="small"></span>
                            {{else}}
                              <span data-target="homepage.consensusMsg" class="small text-green">approved</span>
                            {{end}}
                          </div>
                          <div class="d-inline-block p1 h4" data-target="homepage.blockVotes" data-hash="{{.Hash}}">
                            {{range $index, $vote := $.BlockTally}}
                            <div
                              class="d-inline-block position-relative"
                              data-tooltip="{{if eq $vote -1}}the stakeholder has voted to reject this block{{else if eq $vote 1}}the stakeholder has voted to accept this block{{else}}this vote has not been received yet{{end}}"
                            >
                              <span class="dcricon-{{if eq $vote 0}}reject{{else if eq $vote 1}}affirm{{else}}missing{{end}}"></span>
                            </div>
                            {{end}}
                          </div>
                        </div>
                        <div class="text-right my-2 d-inline-block">
                          <span class="h6">size</span><br>
                          <span class="h4" data-target="homepage.blockSize">{{.FormattedBytes}}</span>
                        </div>
                    </div>
                    {{end}}

                    <table class="table w-100 mt-4 mx-auto mb-0">
                        <thead>
                            <tr class="card-theader">
                                <th class="text-left pl-3">Height</th>
                                <th><div class="position-relative text-center" data-tooltip="regular transactions">R</div></th>
                                <th><div class="position-relative text-center" data-tooltip="votes">V</div></th>
                                <th><div class="position-relative text-center" data-tooltip="tickets">T</div></th>
                                <th><div class="position-relative text-center" data-tooltip="revocations">X</div></th>
                                <th><div class="position-relative text-center" data-tooltip="total DCR sent">DCR</div></th>
                                <th class="d-none d-sm-table-cell d-md-none d-lg-table-cell"><div class="position-relative text-center">Size</div></th>
                                <th class="text-right pr-3" data-target="time.header" data-jstitle="Age">Time ({{timezone}})</th>
                            </tr>
                        </thead>
                        <tbody data-target="blocklist.table">
                            {{range .Blocks}}
                            <tr data-height="{{.Height}}" data-link-class="fs18">
                                <td class="text-left pl-2" data-type="height"><a href="/block/{{.Height}}" class="fs18">{{.Height}}</a></td>
                                <td class="text-center" data-type="tx">{{.Transactions}}</td>
                                <td class="text-center" data-type="votes">{{.Voters}}</td>
                                <td class="text-center" data-type="tickets">{{.FreshStake}}</td>
                                <td class="text-center" data-type="revocations">{{.Revocations}}</td>
                                <td class="text-center" data-type="value">{{threeSigFigs .Total}}</td>
                                <td class="text-center d-none d-sm-table-cell d-md-none d-lg-table-cell" data-type="value">{{.FormattedBytes}}</td>
                                <td class="text-right pr-2" data-type="age" data-target="time.age" data-age="{{.BlockTime}}">{{.BlockTime}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <a href="/blocks" class="small">more blocks...</a>
                  </div> <!-- end blocks card -->

                  <div class="pt-3 pb-1 px-4 mx-1 mb-2 dark-card text-center">
                    <div class="d-inline-block position-relative mt-1 p-2">
                        <span class="card-icon dcricon-stack h1"></span> <a href="/mempool" class="h3">Mempool</a>
                    </div>

                    <div class="text-center">
                      <span class="h2 position-relative"
                      data-target="homepage.mempool"
                      data-total="{{.Mempool.LikelyTotal}}"
                      data-reg-total="{{.Mempool.RegularTotal}}"
                      data-reg-count="{{.Mempool.NumRegular}}"
                      data-vote-total="{{.Mempool.VoteTotal}}"
                      data-vote-count="{{.Mempool.VotingInfo.TicketsVoted}}"
                      data-ticket-total="{{.Mempool.TicketTotal}}"
                      data-ticket-count="{{.Mempool.NumTickets}}"
                      data-rev-total="{{.Mempool.RevokeTotal}}"
                      data-rev-count="{{.Mempool.NumRevokes}}"
                      data-tooltip="transactions ready for the next block"
                      >{{threeSigFigs .Mempool.LikelyTotal}}</span>
                      <span class="h5">DCR</span>
                    </div>

                    <div class="mt-2 mb-2 mb-1 w-75 mx-auto jsonly text-nowrap d-block"
                      ><div class="tx-gauge tx-regular d-inline-block" data-target="homepage.mpRegBar"></div
                      ><div class="tx-gauge tx-ticket d-inline-block" data-target="homepage.mpTicketBar"></div
                      ><div class="tx-gauge tx-vote d-inline-block" data-target="homepage.mpVoteBar"></div
                      ><div class="tx-gauge tx-rev d-inline-block" data-target="homepage.mpRevBar"></div
                    ></div>

                    <div class="d-flex justify-content-between align-items-center px-2 mx-auto">
                        <div class="text-left my-3 pl-3 tx-bar tx-regular d-inline-block">
                          <span data-target="homepage.mpRegCount" class="h4">{{.Mempool.NumRegular}}</span>
                          <span class="h5"> regular</span>
                          <br>
                          <span class="h3" data-target="homepage.mpRegTotal">{{threeSigFigs .Mempool.RegularTotal}}</span>
                          <span class="h6">DCR</span>
                        </div>

                        <div class="text-right my-3 pr-3 tx-bar tx-vote d-inline-block">
                          <span data-target="homepage.mpVoteCount"
                          class="h4"
                          data-tickets-per-block="{{.Mempool.VotingInfo.MaxVotesPerBlock}}">
                            {{$afterFirst := false}}
                            {{range $hash, $tally := .Mempool.VotingInfo.VoteTallys}}
                              {{if $afterFirst}} + {{end}}
                              <span class="position-relative d-inline-block"
                              data-target="homepage.voteTally"
                              data-hash="{{$hash}}"
                              data-affirmed="{{$tally.Affirmations}}"
                              data-count="{{$tally.VoteCount}}"
                              data-tooltip="for block {{$hash}}"
                              >{{$tally.VoteCount}}</span>
                              {{$afterFirst = true}}
                            {{end}}
                          </span>
                          <span class="h5"> votes</span>
                          <br>
                          <span class="h3" data-target="homepage.mpVoteTotal">{{threeSigFigs .Mempool.VoteTotal}}</span>
                          <span class="h6">DCR</span><br>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mx-auto px-2">
                      <div class="text-left my-3 pl-3 tx-bar tx-ticket d-inline-block">
                        <span data-target="homepage.mpTicketCount" class="h4">{{.Mempool.NumTickets}}</span>
                        <span class="h5"> tickets</span>
                        <br>
                        <span class="h3" data-target="homepage.mpTicketTotal"
                        >{{threeSigFigs .Mempool.TicketTotal}}</span>
                        <span class="h6">DCR</span>
                      </div>

                        <div class="text-right my-3 pr-3 tx-bar tx-rev d-inline-block">
                          <span data-target="homepage.mpRevCount" class="h4">{{.Mempool.NumRevokes}}</span>
                          <span class="h5"> revocations</span>
                          <br>
                          <span class="h3" data-target="homepage.mpRevTotal"
                          >{{threeSigFigs .Mempool.RevokeTotal}}</span>
                          <span class="h6">DCR</span>
                        </div>
                    </div>

                    <div class="mx-auto my-3">
                        <h5 class="d-inline">Latest Transactions</h5>
                    </div>

                    <table class="table w-100 mx-auto mb-0">
                      <thead>
                        <tr class="card-theader">
                          <th class="text-left pl-2">Hash</th>
                          <th>Type</th>
                          <th>DCR</th>
                          <th class="d-none d-sm-table-cell d-md-none d-lg-table-cell">Size</th>
                          <th class="text-right pr-3 jsonly">Age</th>
                        </tr>
                      </thead>
                      <tbody class="homepage-mempool" data-target="homepage.transactions">
                        {{range .Mempool.LatestTransactions}}
                        <tr>
                          <td class="text-left pl-1">
                            <div class="hash-box">
                              <div class="hash-fill">{{template "hashElide" (hashlink .Hash (print "/tx/" .Hash))}}</div>
                            </div>
                          </td>
                          <td>{{.Type}}</td>
                          <td>{{threeSigFigs .TotalOut}}</td>
                          <td class="d-none d-sm-table-cell d-md-none d-lg-table-cell">{{.Size}} B</td>
                          <td class="text-right pr-3 jsonly" data-target="time.age" data-age="{{.Time}}"></td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                    <a href="/mempool" class="small">see more...</a>
                  </div>  <!-- end mempool card -->
          </div> <!-- end column -->

          <div class="col-md-6 p-0">

            {{with .Info}}

            <div class="dark-card py-2 px-3 mx-1 my-0">
                <div class="my-3 h4">
                    <span class="dcricon-ticket d-inline-block pr-2 h3"></span>
                    Voting
                </div>
                <div class="row mt-1">
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">
                            <a class="no-underline" href="/charts?chart=ticket-price&zoom=month">Current Ticket Price</a>
                        </div>
                        <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                            <span data-target="homepage.blocksdiff">{{template "decimalParts" (float64AsDecimalParts .StakeDiff 8 false 2)}}</span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Next Ticket Price</div>
                        <div class="mono d-flex align-items-baseline lh1rem pt-1 pb-1">
                            <span class="fs22">~</span><span class="fs24 d-flex" data-target="homepage.nextExpectedSdiff">{{template "decimalParts" (float64AsDecimalParts .NextExpectedStakeDiff 2 false)}}</span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                        <div class="d-flex lh1rem fs12 text-black-50">
                            <span>min:&nbsp;</span>
                            <span class="d-flex" data-target="homepage.nextExpectedMin">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMin 2 false)}}</span>
                            <span>&nbsp;&mdash;&nbsp;max:&nbsp;</span>
                            <span class="d-flex" data-target="homepage.nextExpectedMax">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMax 2 false)}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Vote Reward</div>
                        <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                            <span data-target="homepage.bsubsidyPos">
                                {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide .NBlockSubsidy.PoS 5)) 8 true 2)}}
                            </span>
                            <span class="pl-1 unit lh15rem" style="font-size:13px;">DCR/vote</span>
                        </div>
                        <div class="fs12 lh1rem text-black-50">
                            <span data-target="homepage.ticketReward">{{template "fmtPercentage" .TicketReward}}</span> per ~{{.RewardPeriod}}
                        </div>
                        <div class="fs12 lh1rem text-black-50" title="Annual Stake Rewards"><span class="text-green">+{{printf "%.2f" .ASR}} %</span> per year</div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Next Ticket Price Change</div>
                        <div class="progress mt-1 mb-1">
                            <div
                                class="progress-bar rounded"
                                data-target="homepage.posBar"
                                role="progressbar"
                                style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                aria-valuenow="{{.IdxBlockInWindow}}"
                                aria-valuemin="0"
                                aria-valuemax="{{.Params.WindowSize}}"
                            >
                                <span class="nowrap pl-1">block <span data-target="homepage.windowIndex" >{{.IdxBlockInWindow}}</span> of {{.Params.WindowSize}}</span>
                            </div>
                        </div>
                        <div class="fs12 lh1rem">
                            <span class="text-black-50">
                                {{remaining .IdxBlockInWindow .Params.WindowSize .Params.BlockTime}}
                            </span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Ticket Pool Size</div>
                        <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                            <span data-target="homepage.poolSize">
                                {{intComma .PoolInfo.Size}}
                            </span>
                        </div>
                        <div class="fs12 lh1rem text-black-50">
                            <span data-target="homepage.targetPct">{{printf "%.2f" .PoolInfo.PercentTarget}}</span> % of target&nbsp;<span>{{intComma .PoolInfo.Target}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Total Staked DCR</div>
                        <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                            <span data-target="homepage.poolValue">
                                {{template "decimalParts" (float64AsDecimalParts .PoolInfo.Value 0 true)}}
                            </span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                        <div class="fs12 lh1rem text-black-50">
                            <span data-target="homepage.poolSizePct">{{printf "%.2f" .PoolInfo.Percentage}}</span> % of total supply
                        </div>
                    </div>
                </div>
            </div> <!-- end voting card -->

            <div class="light-card py-2 px-3 mx-1 my-0">
                <div class="my-3 h4">
                    <span class="dcricon-pickaxe d-inline-block pr-2 h3"></span>
                    <span>Mining</span>
                </div>
                <div class="row mt-1">
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">
                            <a class="no-underline" href="/charts?chart=pow-difficulty">Difficulty</a>
                        </div>
                        <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                            <span data-target="homepage.difficulty">{{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1000000.0) 0 true)}}</span>
                            <span class="pl-1 unit lh15rem">Mil</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Hashrate</div>
                        <div class="mono lh1rem pt-1 pb-1 fs14-decimal fs24 d-flex align-items-baseline">
                            <span data-target="homepage.hashrate">{{template "decimalParts" (float64AsDecimalParts .HashRate 8 true 2)}}</span>
                            <span class="pl-1 unit lh15rem">Ph/s</span>
                        </div>
                        <div class="fs12 text-black-50 lh1rem text-black-50">
                            <span data-target="homepage.hashrateDelta">{{template "fmtPercentage" .HashRateChange}}</span> in past 24h
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">PoW Reward</div>
                        <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                            <span data-target="homepage.bsubsidyPow">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.PoW) 8 true 2)}}</span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-5 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Next Block Reward Reduction</div>
                        <div class="progress mt-1 mb-1">
                            <div
                                class="progress-bar rounded"
                                data-target="homepage.powBar"
                                role="progressbar"
                                style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                aria-valuenow="{{.IdxInRewardWindow}}"
                                aria-valuemin="0"
                                aria-valuemax="{{.Params.RewardWindowSize}}"
                            >
                                <span
                                    id="powreward"
                                    class="nowrap pl-1"
                                >
                                    block <span data-target="homepage.rewardIdx" >{{.IdxInRewardWindow}}</span> of {{.Params.RewardWindowSize}}
                                </span>
                            </div>
                        </div>
                        <div class="fs12 lh1rem">
                            <span class="text-black-50">
                                {{remaining .IdxInRewardWindow .Params.RewardWindowSize .Params.BlockTime}}
                            </span>
                        </div>
                    </div>

                </div>
            </div> <!-- end mining card -->

            <div class="dark-card p-2 mb-2 px-3 mx-1">
                <div class="my-3 h4">
                    <span class="dcricon-tree d-inline-block pr-2 h4"></span>
                    Distribution
                </div>
                <div class="row mt-1">
                    {{if .DevFund}}
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary"><a href="/address/{{.DevAddress}}?n=20&start=0&txntype=merged">Treasury</a></div>
                        <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                            <span data-target="homepage.devFund">
                                {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .DevFund) 0 true)}}
                            </span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                    </div>
                    {{end}}
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary lh1rem">Total Coin Supply (of 21 mil)</div>
                        <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                            <span data-target="homepage.coinSupply">
                                {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .CoinSupply) 0 true)}}
                            </span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-6 col-lg-4 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                        <div class="fs13 text-secondary">Treasury Block Reward</div>
                        <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                            <span data-target="homepage.bsubsidyDev">
                                {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.Dev) 8 true 2)}}
                            </span>
                            <span class="pl-1 unit lh15rem">DCR</span>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}

          </div> <!-- end column -->

        </div>

    </div>

    <!-- end wrapper -->

    {{  template "footer" . }}

</body>
</html>
{{end}}
