{{define "home"}}
{{$conv := .Conversions}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "Decred Block Explorer by dcrdata.org"}}
    {{ template "navbar" . }}
    <div class="container main" data-controller="time blocklist homepage">
        <div class="row">
            <div class="d-flex flex-column col-md-15 p-0">

                <div class="bg-white mb-1 py-2 px-3 my-0">
                    <div class="d-inline-block position-relative p-2">
                        <span class="card-icon dcricon-twoblocks h1 mr-2"></span> <a href="/blocks" class="h3 my-3">Latest {{.NetName}} Blocks</a>
                    </div>

                    <div class="row">
                        {{with .BestBlock}}
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 mb-0 position-relative text-secondary" data-tooltip="stakeholders are validating this block now.">proposed</span><br>
                            <a class="d-inline-block h3 position-relative" href="/block/{{.Hash}}" data-target="homepage.blockHeight">{{.Height}}</a>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 position-relative text-secondary" data-tooltip="total DCR sent in this block">value</span><br>
                            <span class="h4" data-target="homepage.blockTotal">{{threeSigFigs .Total}}</span><span class="h6"> DCR</span>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <div class="d-flex align-items-baseline justify-content-center p-0 m-0">
                                <span class="h6 mr-2 text-secondary" data-tooltip="stakeholder's votes for the proposed block.">votes</span>
                                {{if eq $.Consensus -1}}
                                <span data-target="homepage.consensusMsg" class="small text-danger">rejected</span>
                                {{else if eq $.Consensus 0}}
                                <span data-target="homepage.consensusMsg" class="small"></span>
                                {{else}}
                                <span data-target="homepage.consensusMsg" class="small text-green">approved</span>
                                {{end}}
                            </div>
                            <div class="d-inline-block p1 h5" data-target="homepage.blockVotes" data-hash="{{.Hash}}">
                                {{range $index, $vote := $.BlockTally}}
                                <div
                                class="d-inline-block position-relative"
                                data-tooltip="{{if eq $vote -1}}the stakeholder has voted to reject this block{{else if eq $vote 1}}the stakeholder has voted to accept this block{{else}}this vote has not been received yet{{end}}"
                                >
                                <span class="dcricon-{{if eq $vote -1}}reject{{else if eq $vote 1}}affirm{{else}}missing{{end}}"></span>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 text-secondary">size</span><br>
                            <span class="h4" data-target="homepage.blockSize">{{.FormattedBytes}}</span>
                        </div>
                        {{end}}
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table w-100 mt-2 mx-auto mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-left pl-2">Height</th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="regular transactions">Txn</span
                                          ><span class="d-none d-sm-inline">Transactions</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="vote transactions">Vote</span
                                          ><span class="d-none d-sm-inline">Votes</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="ticket transactions">Tkt</span
                                          ><span class="d-none d-sm-inline">Tickets</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="ticket revocations">Rev</span
                                          ><span class="d-none d-sm-inline">Revokes</span></th>
                                        <th class="text-right" data-tooltip="total DCR sent">DCR</th>
                                        <th class="d-none d-sm-table-cell d-md-none d-lg-table-cell text-right">Size</th>
                                        <th class="text-right pr-2" data-target="time.header" data-jstitle="Age">Time (UTC)</th>
                                    </tr>
                                </thead>
                                <tbody data-target="blocklist.table">
                                    {{range .Blocks}}
                                    <tr data-height="{{.Height}}" data-link-class="fs18">
                                        <td class="text-left pl-1" data-type="height"><a href="/block/{{.Height}}" class="fs18">{{.Height}}</a></td>
                                        <td class="text-center" data-type="tx">{{.Transactions}}</td>
                                        <td class="text-center" data-type="votes">{{.Voters}}</td>
                                        <td class="text-center" data-type="tickets">{{.FreshStake}}</td>
                                        <td class="text-center" data-type="revocations">{{.Revocations}}</td>
                                        <td class="text-right" data-type="value">{{threeSigFigs .Total}}</td>
                                        <td class="text-right d-none d-sm-table-cell d-md-none d-lg-table-cell text-nowrap" data-type="size">{{.FormattedBytes}}</td>
                                        <td class="text-right pr-1 text-nowrap" data-type="age" data-target="time.age" data-age="{{.BlockTime.UNIX}}">{{.BlockTime.DatetimeWithoutTZ}}</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            <a href="/blocks" class="small ml-2">more blocks...</a>
                        </div>
                    </div>
                </div> <!-- end blocks card -->

                <div class="py-1 px-2 mb-1 bg-white flex-grow-1">

                    <div class="d-flex align-items-baseline my-2">
                        <div class="position-relative col nowrap">
                            <span class="card-icon dcricon-stack h1 mr-2"></span> <a href="/mempool" class="h3">Mempool</a>
                        </div>
                        <div class="align-right mr-3">
                            <span
                                class="h2 position-relative"
                                data-target="homepage.mempool"
                                {{template "mempoolDump" .Mempool}}
                                data-tooltip="transactions ready for the next block"
                            >{{threeSigFigs .Mempool.LikelyMineable.Total}}</span>
                            <span class="h5">DCR</span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-9 mb-3">
                            <div class="d-flex justify-content-between align-items-center px-2 mx-auto mt-1 mt-lg-4 pt-1">
                                <div class="text-left pl-3 pl-sm-3 pl-md-3 pl-lg-3 tx-bar tx-regular d-inline-block">
                                    <span data-target="homepage.mpRegCount" class="h4">{{.Mempool.NumRegular}}</span>
                                    <span class="h6"> regular</span>
                                    <br>
                                    <span class="h4" data-target="homepage.mpRegTotal">{{threeSigFigs .Mempool.LikelyMineable.RegularTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                                <div class="text-right pr-3 pr-sm-3 pr-md-3 pr-lg-3 tx-bar tx-ticket d-inline-block">
                                    <span data-target="homepage.mpTicketCount" class="h4">{{.Mempool.NumTickets}}</span>
                                    <span class="h6"> tickets</span>
                                    <br>
                                    <span class="h4" data-target="homepage.mpTicketTotal"
                                    >{{threeSigFigs .Mempool.LikelyMineable.TicketTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                            </div>

                            <div class="mx-2 jsonly text-nowrap d-flex my-3">
                                <div class="tx-gauge tx-regular rounded-left" data-target="homepage.mpRegBar"></div>
                                <div class="tx-gauge tx-ticket" data-target="homepage.mpTicketBar"></div>
                                <div class="tx-gauge tx-rev" data-target="homepage.mpRevBar"></div>
                                <div class="tx-gauge tx-vote rounded-right" data-target="homepage.mpVoteBar"></div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mx-auto px-2">
                                <div class="text-left pl-3 pr-sm-3 pr-md-3 pr-lg-3 tx-bar tx-rev d-inline-block">
                                    <span data-target="homepage.mpRevCount" class="h4 lh1rem">{{.Mempool.NumRevokes}}</span>
                                    <span class="h6"> revokes</span>
                                    <br>
                                    <span class="h4" data-target="homepage.mpRevTotal"
                                    >{{threeSigFigs .Mempool.LikelyMineable.RevokeTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                                <div class="text-right pr-3 pl-sm-3 pl-md-3 pl-lg-3 tx-bar tx-bar tx-vote d-inline-block">
                                    <span data-target="homepage.mpVoteCount"
                                    class="h4 lh1rem"
                                    data-tickets-per-block="{{.Mempool.VotingInfo.MaxVotesPerBlock}}">
                                    {{$afterFirst := false}}
                                    {{range $hash, $tally := .Mempool.VotingInfo.VoteTallys}}
                                        {{if $afterFirst}} + {{end}}
                                        <span class="position-relative d-inline-block"
                                        data-target="homepage.voteTally"
                                        data-hash="{{$hash}}"
                                        data-affirmed="{{$tally.Affirmations}}"
                                        data-count="{{$tally.VoteCount}}"
                                        data-tooltip="for block {{$hash}}"
                                        >{{$tally.VoteCount}}</span>
                                        {{$afterFirst = true}}
                                    {{end}}
                                    </span>
                                    <span class="h6"> votes</span>
                                    <br>
                                    <span class="h4" data-target="homepage.mpVoteTotal">{{threeSigFigs .Mempool.LikelyMineable.VoteTotal}}</span>
                                    <span class="h6">DCR</span><br>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-1">
                            <table class="table table-sm w-100 mx-auto mb-0">
                                <thead>
                                <tr>
                                    <th class="text-left pl-2">Hash</th>
                                    <th class="text-left">Type</th>
                                    <th class="text-right">DCR</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right pr-2 jsonly">Age</th>
                                </tr>
                                </thead>
                                <tbody class="homepage-mempool" data-target="homepage.transactions">
                                {{range .Mempool.LatestTransactions}}
                                <tr>
                                    <td class="text-left pl-1 clipboard">{{template "hashElide" (hashlink .Hash (print "/tx/" .Hash))}}</td>
                                    <td class="text-left">{{.Type}}</td>
                                    <td class="text-right">{{threeSigFigs .TotalOut}}</td>
                                    <td class="text-nowrap text-right">{{.Size}} B</td>
                                    <td class="text-right pr-1 jsonly text-nowrap" data-target="time.age" data-age="{{.Time}}"></td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                            <a href="/mempool" class="small ml-2">more transactions...</a>
                        </div>
                    </div>
                </div>  <!-- end mempool card -->
            </div> <!-- end column -->

            <div class="d-flex flex-column col-md-9 p-0">
                {{with .Info}}
                <div class="bg-white mb-1 py-2 px-3 mx-1">
                    <div class="mt-2 my-3 h4">
                        <span class="dcricon-ticket d-inline-block pr-2 h3"></span>
                        Voting
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/charts?chart=ticket-price&zoom=month">Current Ticket Price</a>
                            </div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-target="homepage.blocksdiff">{{template "decimalParts" (float64AsDecimalParts .StakeDiff 8 false 2)}}</span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.convertedStake">{{$conv.StakeDiff.TwoDecimals}} {{$conv.StakeDiff.Index}}</span>
                            </div>
                            {{end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Next Ticket Price</div>
                            <div class="mono d-flex align-items-baseline lh1rem pt-1 pb-1">
                                <span class="fs22">~</span><span class="fs24 d-flex" data-target="homepage.nextExpectedSdiff">{{template "decimalParts" (float64AsDecimalParts .NextExpectedStakeDiff 2 false)}}</span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="d-flex lh1rem fs12 text-black-50">
                                <span>min:&nbsp;</span>
                                <span class="d-flex" data-target="homepage.nextExpectedMin">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMin 2 false)}}</span>
                                <span>&nbsp;&mdash;&nbsp;max:&nbsp;</span>
                                <span class="d-flex" data-target="homepage.nextExpectedMax">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMax 2 false)}}</span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="d-block fs13 text-secondary"><a href="/charts?chart=ticket-pool-size">Ticket Pool Size</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-target="homepage.poolSize">
                                    {{intComma .PoolInfo.Size}}
                                </span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.targetPct">{{printf "%.2f" (toAbsValue $.PercentChange)}}</span>%
                                {{if lt $.PercentChange 0.0}} under {{else}} over {{end}}
                                target
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Next Ticket Price Change</div>
                            <div class="progress mt-1 mb-1">
                                <div
                                    class="progress-bar rounded"
                                    data-target="homepage.posBar"
                                    role="progressbar"
                                    style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                    aria-valuenow="{{.IdxBlockInWindow}}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{.Params.WindowSize}}"
                                >
                                    <span class="nowrap pl-1">block <span data-target="homepage.windowIndex" >{{.IdxBlockInWindow}}</span> of {{.Params.WindowSize}}</span>
                                </div>
                            </div>
                            <div class="fs12 lh1rem">
                                <span class="text-black-50">
                                    {{remaining .IdxBlockInWindow .Params.WindowSize .Params.BlockTime}}
                                </span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Vote Reward</div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-target="homepage.bsubsidyPos">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide .NBlockSubsidy.PoS 5)) 8 true 2)}}
                                </span>
                                <span class="pl-1 unit lh15rem" style="font-size:13px;">DCR/vote</span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.ticketReward">{{printf "%.2f" .TicketReward}}%</span> per ~{{.RewardPeriod}}
                            </div>
                            <div class="fs12 lh1rem text-black-50" title="Annual Stake Rewards">{{printf "%.2f" .ASR}}% per year</div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/charts?chart=stake-participation">Total Staked DCR</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-target="homepage.poolValue">
                                    {{template "decimalParts" (float64AsDecimalParts .PoolInfo.Value 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.poolSizePct">{{printf "%.2f" .PoolInfo.Percentage}}</span> % of circulating supply
                            </div>
                        </div>
                    </div>
                </div> <!-- end voting card -->

                <div class="bg-white mb-1 py-2 px-3 mx-1 my-0">
                    <div class="my-3 h4">
                        <span class="dcricon-pickaxe d-inline-block pr-2 h3"></span>
                        <span>Mining</span>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/charts?chart=pow-difficulty">Difficulty</a>
                            </div>
                            <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-target="homepage.difficulty">{{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1000000.0) 0 true)}}</span>
                                <span class="pl-1 unit lh15rem">Mil</span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/charts?chart=hashrate">Hashrate</a></div>
                            <div class="mono lh1rem pt-1 pb-1 fs14-decimal fs24 d-flex align-items-baseline">
                                <span data-target="homepage.hashrate">{{template "decimalParts" (float64AsDecimalParts .HashRate 8 true 2)}}</span>
                                <span class="pl-1 unit lh15rem">Ph/s</span>
                            </div>
                            <div class="fs12 text-black-50 lh1rem text-black-50">
                                <span data-target="homepage.hashrateDelta">{{template "fmtPercentage" .HashRateChangeMonth}}</span> in past 30 days
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">PoW Reward</div>
                            <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-target="homepage.bsubsidyPow">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.PoW) 8 true 2)}}</span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.powConverted">{{$conv.PowSplit.TwoDecimals}} {{$conv.PowSplit.Index}}</span>
                            </div>
                            {{end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary lh1rem">Next Block Reward Reduction</div>
                            <div class="progress mt-1 mb-1">
                                <div
                                    class="progress-bar rounded"
                                    data-target="homepage.powBar"
                                    role="progressbar"
                                    style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                    aria-valuenow="{{.IdxInRewardWindow}}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{.Params.RewardWindowSize}}"
                                >
                                    <span
                                        id="powreward"
                                        class="nowrap pl-1"
                                    >
                                        block <span data-target="homepage.rewardIdx" >{{.IdxInRewardWindow}}</span> of {{.Params.RewardWindowSize}}
                                    </span>
                                </div>
                            </div>
                            <div class="fs12 lh1rem">
                                <span class="text-black-50">
                                    {{remaining .IdxInRewardWindow .Params.RewardWindowSize .Params.BlockTime}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end mining card -->

                <div class="bg-white mb-1 p-2 px-3 mx-1 flex-grow-1">
                    <div class="my-3 h4">
                        <span class="dcricon-tree d-inline-block pr-2 h4"></span>
                        Distribution
                    </div>
                    <div class="row mt-1">
                        {{if .DevFund}}
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/address/{{.DevAddress}}?n=20&start=0&txntype=merged_debit">Treasury</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-target="homepage.devFund">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .DevFund) 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.convertedDev">{{threeSigFigs $conv.TreasuryBalance.Value}} {{$conv.TreasuryBalance.Index}}</span>
                            </div>
                            {{end}}
                        </div>
                        {{end}}
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="d-block fs13 text-secondary lh1rem"><a href="/charts?chart=coin-supply">Total Coin Supply</a> <span class="nowrap">(of 21 mil)</span></div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-target="homepage.coinSupply">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .CoinSupply) 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.convertedSupply">{{threeSigFigs $conv.CoinSupply.Value}} {{$conv.CoinSupply.Index}}</span>
                            </div>
                            {{end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Treasury Block Reward</div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-target="homepage.bsubsidyDev">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.Dev) 8 true 2)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-target="homepage.convertedDevSub">{{$conv.TreasurySplit.TwoDecimals}} {{$conv.TreasurySplit.Index}}</span>
                            </div>
                            {{end}}
                        </div>
                        {{if $conv}}
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/market">Exchange Rate</a>
                            </div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span class="d-inline-block" data-target="homepage.exchangeRate">{{$conv.ExchangeRate.TwoDecimals}}</span>
                                <span class="pl-1 unit lh15rem">{{$conv.ExchangeRate.Index}}</span>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div> <!-- end column -->
        </div>
    </div>
    <!-- end wrapper -->

    {{  template "footer" . }}

</body>
</html>
{{end}}
