{{define "mempool"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Mempool"}}
    <body data-controller="mempool" class="{{ theme }}">
        {{template "navbar" . }}
        {{with .Mempool}}
        <div class="container" data-controller="main">
            <div class="row justify-content-between">
                <div class="col-md-7 col-sm-6 d-flex">
                    <h4 class="mb-2">Mempool</h4>
                </div>
                <div class="col-md-5 col-sm-6 d-flex">
                <table>
                    <tr class="h2rem">
                        <td class="pr-2 lh1rem vam text-right xs-w117 w120">TOTAL SENT</td>
                        <td class="fs28 mono fs16-decimal d-flex align-items-center" data-target="mempool.totalOut" >{{template "decimalParts" (float64AsDecimalParts .TotalOut false)}}<span class="pl-1 unit">DCR</span></td>
                    </tr>
                </table>
            </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-md-5 col-sm-7 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">LAST BLOCK</td>
                            <td class="lh1rem"><a href="/block/{{.LastBlockHeight}}" data-target="mempool.bestBlock" data-hash="{{.LastBlockHash}}" data-keynav-priority>{{.LastBlockHeight}}</a> (<span data-target="mempool.bestBlockTime  main.age" data-age="{{.LastBlockTime}}"></span> ago)</td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">VOTES</td>
                            <td data-target="mempool.numVote" class="lh1rem">{{.NumVotes}}</td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">TICKETS</td>
                            <td data-target="mempool.numTicket" class="lh1rem">{{.NumTickets}}</td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">VOTE CHOICES</td>
                            <td class="lh1rem"><span data-target="mempool.totalCollected">
                            {{.VotingInfo.TotalCollected}}</span>/<span data-target="mempool.totalNeeded">{{.VotingInfo.TotalNeeded}}</span>
                            <span class="lh1rem {{if lt .VotingInfo.TotalCollected .VotingInfo.TotalNeeded}}hidden{{end}}">({{if .VotingInfo.BlockValid}}Valid{{else}}Invalid{{end}})</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 col-sm-7 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">SIZE</td>
                            <td data-target="mempool.mempoolSize" class="lh1rem" >{{.FormattedTotalSize}}</td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">REVOCATIONS</td>
                            <td data-target="mempool.numRevoke" class="lh1rem">{{.NumRevokes}}</td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem nowrap p03rem0">TRANSACTIONS</td>
                            <td data-target="mempool.numRegular" class="lh1rem">{{.NumRegular}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <h4><span>Votes</span></h4>

                    <table class="table table-sm striped">
                        <thead>
                            <th>Transactions ID</th>
                            <th>Vote Block</th>
                            <th>Vote Index</th>
                            <th>Vote Version</th>
                            <th>Last Block</th>
                            <th>Total DCR</th>
                            <th class="text-right">Size</th>
                            <th class="text-right">Time</th>
                        </thead>
                        <tbody data-target="mempool.voteTransactions">
                            {{if gt .NumVotes 0}}
                            {{range .Votes}}
                            <tr {{if not .VoteInfo.ForLastBlock}}class="old-vote"{{end}} data-blockhash="{{.VoteInfo.Validation.Hash}}" data-height="{{.VoteInfo.Validation.Height}}">
                                <td class="break-word"><a class="hash lh1rem" href="/tx/{{.Hash}}">{{.Hash}}</a></td>
                                <td class="mono fs15"><a href="/block/{{.VoteInfo.Validation.Height}}">{{.VoteInfo.Validation.Height}}</a></td>
                                <td class="mono fs15"><a href="/tx/{{.VoteInfo.TicketSpent}}">{{.VoteInfo.MempoolTicketIndex}}</a></td>
                                <td class="mono fs15">{{.VoteInfo.Version}}</td>
                                <td class="mono fs15 last_block">{{if .VoteInfo.ForLastBlock}}Valid{{else}}Invalid{{end}}</td>
                                <td class="mono fs15 text-right">{{template "decimalParts" (float64AsDecimalParts .TotalOut false)}}</td>
                                <td class="mono fs15 text-right">{{.Size}} B</td>
                                <td class="mono fs15 text-right" data-target="main.age" data-age="{{.Time}}"></td>
                            </tr>
                            {{end}}
                            {{else}}
                                <tr>
                                    <td colspan="8">No votes in mempool.</td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <h4><span>Tickets</span></h4>
                    <table class="table table-sm striped">
                        <thead>
                            <th>Transaction ID</th>
                            <th class="text-right">Total DCR</th>
                            <th class="text-right">Size</th>
                            <th class="text-right">Time in Mempool</th>
                        </thead>
                        <tbody data-target="mempool.ticketTransactions">
                            {{if gt .NumTickets 0}}
                            {{range .Tickets}}
                            <tr>
                                <td class="break-word">
                                    <span>
                                        <a class="hash" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                    </span>
                                </td>
                                <td class="mono fs15 text-right">{{template "decimalParts" (float64AsDecimalParts .TotalOut false)}}</td>
                                <td class="mono fs15 text-right">{{.Size}} B</td>
                                <td class="mono fs15 text-right" data-target="main.age" data-age="{{.Time}}"></td>
                            </tr>
                            {{end}}
                            {{else}}
                            <tr>
                                <td colspan="4">No tickets in mempool.</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                <h4><span>Revocations</span></h4>
                    <table class="table table-sm striped">
                        <thead>
                            <th>Transaction ID</th>
                            <th class="text-right">Total DCR</th>
                            <th class="text-right">Size</th>
                            <th class="text-right">Time in Mempool</th>
                        </thead>
                        <tbody data-target="mempool.revokeTransactions">
                            {{if gt .NumRevokes 0}}
                            {{range .Revocations}}
                            <tr>
                                <td class="break-word">
                                    <span>
                                        <a class="hash" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                    </span>
                                </td>
                                <td class="mono fs15 text-right">{{template "decimalParts" (float64AsDecimalParts .TotalOut false)}}</td>
                                <td class="mono fs15 text-right">{{.Size}} B</td>
                                <td class="mono fs15 text-right" data-target="main.age" data-age="{{.Time}}"></td>
                            </tr>
                            {{end}}
                            {{else}}
                                <tr>
                                    <td colspan="4">No revocations in mempool.</td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                <h4><span>Transactions</span></h4>
                    <table class="table table-sm striped">
                        <thead>
                            <th>Transaction ID</th>
                            <th class="text-right">Total DCR</th>
                            <th class="text-right">Size</th>
                            <th class="text-right">Time in Mempool</th>
                        </thead>
                        <tbody data-target="mempool.regularTransactions">
                            {{if gt .NumRegular 0}}
                            {{range .Transactions}}
                            <tr>
                                <td class="break-word">
                                    <span>
                                        <a class="hash" href="/tx/{{.Hash}}">{{.Hash}}</a>
                                    </span>
                                </td>
                                <td class="mono fs15 text-right">{{template "decimalParts" (float64AsDecimalParts .TotalOut false)}}</td>
                                <td class="mono fs15 text-right">{{.Size}} B</td>
                                <td class="mono fs15 text-right" data-target="main.age" data-age="{{.Time}}"></td>
                            </tr>
                            {{end}}
                            {{else}}
                            <tr>
                                <td colspan="4">No regular transactions in mempool.</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{end}}
        {{ template "footer" . }}
    </body>
</html>
{{end}}
