{{define "mining-calculations"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Attack Cost Calculator"}}
{{template "navbar" . }}
    <style>
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <div class="container py-1"  data-controller="calculator">
    		<div class="col-md-24 p-0" >
    			<div class="bg-white mb-1 py-2 px-3 my-0">
    				<div class="d-inline-block position-relative p-2">
    					<span class="card-icon dcricon-twoblocks h1 mr-2"></span> <span class="h4 my-3">Attack Cost Calculator</span>
    				</div>
    				<div class="mt-2 my-3 h5">
    				   &nbsp;&nbsp;&nbsp;&nbsp;The current hash rate is  <span class="font-weight-bold" data-target="calculator.hashRate">{{printf "%.3f" .HashRate}}</span> Ph/s as of block  {{$.Height}}. </span>
    				</div>
    				<div class="mt-2 my-3 h5  pr-3">
    					&nbsp;&nbsp;&nbsp;&nbsp;A <input type="number" step="1" data-action="change->calculator#UpdateTargetPow" min="1" max="100" value="51" data-target="calculator.targetPow" style="width: 4%; padding: 1px 2px 0 10px;">%
    					PoW attack would need <span class="font-weight-bold" data-target="calculator.targetHashRate"></span><span class="pl-1 unit lh15rem">Ph/s</span>.
    				</div>
    				<div class="mt-2 my-3 h5 row">
    					<div class="col-sm-4">&nbsp;&nbsp;&nbsp;&nbsp;Choose Device:</div>
    					<div class="col-sm-20">
    						<div>
    					  <input class="form-check-input" data-action="change->calculator#ChooseDevice" type="radio" name="exampleRadios" data-target="calculator.device" id="exampleRadios1" value="0">
    					  <label class="form-check-label" for="exampleRadios1" >
    						<a href="https://www.cryptocompare.com/mining/bitmain/antminer-dr5-blake256r14-34ths/" target="_blank">DR5 </a><span class="text-muted"> 34 Th/s, 1610W, $1,282 per unit.  </span>
    					  </label>
    					</div>
    					<div>
    					  <input class="form-check-input" data-action="change->calculator#ChooseDevice" type="radio" name="exampleRadios" data-target="calculator.device" id="exampleRadios2" value="1">
    					  <label class="form-check-label" for="exampleRadios2">
    						 <a href="https://www.cryptocompare.com/mining/crypto-drilling/microbt-whatsminer-d1-plus-psu-dcr-44ths/" target="_blank">D1</a>  <span class="text-muted">44 Th/s, 2200w, $4,199 per unit.  </span></label>

    					</div>
    				   </div>
    				</div>

    				<div class="mt-2 my-3 h5">
    					&nbsp;&nbsp;&nbsp;&nbsp;In order to aquire a <span class="font-weight-bold" data-target="calculator.targetHashRateTwo"></span> Ph/s hashrate, it would take <span class="font-weight-bold"></span> <span data-target="calculator.deviceHashRate"></span> at  <span class="font-weight-bold" data-target="calculator.countDevice"></span>  <span data-target="calculator.deviceName"></span>. It would cost <span class="font-weight-bold" data-target="calculator.totalDeviceCost"></span> to buy them.
    				 </div>
    				 <div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Total kWh attack for <span data-target="calculator.timeStr"></span>:   (<span data-target="calculator.devicePower"></span>W * <input type="number" step="1" min="1" data-action="change->calculator#UpdateTime" data-target="calculator.time" value="1"  style="width: 4%;padding: 1px 2px 0 10px;">h )/1000 =
    					<span class="font-weight-bold" data-target="calculator.totalKwh"></span> kWh.
    				</div>
    				<div class="mt-2 my-3 h5">
    				&nbsp;&nbsp;&nbsp;&nbsp;The cost of electricity is $<input type="number"  step="0.1" min="0.1" data-action="change->calculator#UpdateKwhRate" data-target="calculator.kwhRate" style="width: 4%;padding: 1px 2px 0 10px;" value="0.1"> per kilowatt hour.
    				</div>
    				<div class="mt-2 my-3 h5">
    					&nbsp;&nbsp;&nbsp;&nbsp;Costs of <span data-target="calculator.timeStrTwo"></span>   electricity consumption for <span class="font-weight-bold" data-target="calculator.deviceName"></span> DR5s:  <span data-target="calculator.totalKwhStr"></span> * $<span  data-target="calculator.kwhRateTwo"></span> per kilowatt hour  =
    					  <span class="font-weight-bold" data-target="calculator.totalElectricity"></span>.
    				</div>
                    <div class="mt-2 my-3 h5">&nbsp;&nbsp;&nbsp;&nbsp;To carry out the attack, additional costs for facilities and cooling are estimated at <input type="number"  step="1" min="1" max="100" data-action="change->calculator#UpdateFacility" data-target="calculator.facility" style="width: 4%;padding: 1px 2px 0 10px;" value="10">% of the cost of the miners.
                    </div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Total PoW attack cost: (<span data-target="calculator.totalDeviceCostTwo"></span> + <span data-target="calculator.totalElectricityTwo"></span>  )* <span data-target="calculator.TotalFree"></span>  =
    				   <span class="font-weight-bold" data-target="calculator.totalPow"></span>.
    				</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Every block 5 tickets vote and 3/5 tickets are required for the block to be valid.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Current ticket pool size is <span style="display:none" data-target="calculator.ticketPoolSize"> {{ $.TicketPoolSize }}</span> <span class="font-weight-bold" > {{ int64Comma .TicketPoolSize }} </span> tickets.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Current ticket price is <span class="font-weight-bold" data-target="calculator.ticketPrice">  {{printf "%.3f" .TicketPrice }} </span>DCR.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;We assume that an attacker would need to aquire <input type="number" step="1" min="1" data-target="calculator.targetPos" data-action="change->calculator#UpdateTargetPos" max="100" value="60" style="width: 4%;padding: 1px 2px 0 10px;">% of the ticket pool to do the attack.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Tickets needed to attack is {{ int64Comma .TicketPoolSize }} * <span  data-target="calculator.targetPosStr"></span>   = <span class="font-weight-bold" data-target="calculator.ticketSizeAttach"></span> tickets.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Funds needed to buy <span class="font-weight-bold" data-target="calculator.ticketSizeAttach"></span> tickets is  <span  data-target="calculator.ticketSizeAttachTwo"></span> *   {{printf "%.3f" .TicketPrice }} = <span class="font-weight-bold" data-target="calculator.totalDCRPos"></span> DCR.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;The current USD-DCR market price is $<input type="number"  step="0.1" min="0.01" data-action="change->calculator#UpdatePrice" data-target="calculator.price" style="width: 6%;padding: 1px 2px 0 10px;" value="{{printf "%.2f" .Price}}"> .</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Total PoS attack cost:  <span data-target="calculator.totalDCRPosTwo"></span> * <span data-target="calculator.priceTwo"></span>= <span class="font-weight-bold" data-target="calculator.totalPos"> </span>.</div>
    				<div class="mt-2 my-3 h5 pr-3">&nbsp;&nbsp;&nbsp;&nbsp;Total attack cost is  <span data-target="calculator.totalPowTwo"></span>  + <span data-target="calculator.totalPosTwo"></span> = <span class="font-weight-bold" data-target="calculator.total"> <span>.</div>
    			</div>

    		</div>
       </div>
 {{ template "footer" . }}
</body>
</html>
{{end}}
