{{define "parameters"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "Decred Chain Parameters"}}
        {{template "navbar" . }}
        <div class="container main">
            <div class="row justify-content-between">
                <div class="col-lg-14 col-sm-12 d-flex">
                    <h4 class="mb-2">Parameters for Decred {{.ChainParams.Name}}
                      <span class="fs12" >
                        from <a href="{{.Links.NetParams}}">chaincfg/params.go</a>
                      </span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4><span>Chain parameters</span></h4>
                    <table class="table table-mono-cells table-sm">
                        <thead>
                          <tr>
                            <th width="20%">Parameter</th>
                            <th>Value</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0"><a href="/block/{{.ChainParams.GenesisHash}}">GenesisBlock</a></td>
                                <td class="mono">{{.ChainParams.GenesisBlock.Header.Height}}</td>
                                <td>First block of the chain</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0"><a href="/block/1">PremineBlock</a></td>
                                <td class="mono">1</td>
                                <td>Premine Block of the chain</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">PowLimitBits</td>
                                <td class="mono">{{.ChainParams.PowLimitBits}} bits</td>
                                <td>Highest allowed proof of work value for a block in compact form</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">ReduceMinDifficulty</td>
                                <td class="mono">{{.ChainParams.ReduceMinDifficulty}}</td>
                                <td>Whether the network should reduce the minimum required difficulty after a long enough period of time has passed without finding a block</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MinDiffReductionTime</td>
                                <td class="mono">{{.ChainParams.MinDiffReductionTime}}</td>
                                <td>Amount of time after which the minimum required difficulty should be reduced when a block hasn't been found</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">GenerateSupported</td>
                                <td class="mono">{{.ChainParams.GenerateSupported}}</td>
                                <td>Whether or not CPU mining is allowed</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MaximumBlockSize</td>
                                <td class="mono">{{.ExtendedParams.MaximumBlockSize}} bytes</td>
                                <td>Maximum size of a block that can be generated on the network</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MaxTxSize</td>
                                <td class="mono">{{.ChainParams.MaxTxSize}} bytes</td>
                                <td>Largest allowable transaction size</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">WorkDiffAlpha</td>
                                <td class="mono">{{.ChainParams.WorkDiffAlpha}}</td>
                                <td>Stake difficulty EMA calculation alpha (smoothing) value</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">WorkDiffWindowSize</td>
                                <td class="mono">{{.ChainParams.WorkDiffWindowSize}} blocks</td>
                                <td>Number of windows (intervals) used for calculation of the exponentially weighted average</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">WorkDiffWindows</td>
                                <td class="mono">{{.ChainParams.WorkDiffWindows}}</td>
                                <td>Number of windows (intervals) used for calculation of the exponentially weighted average</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TargetTimespan</td>
                                <td class="mono">{{durationToShortDurationString .ChainParams.TargetTimespan}}</td>
                                <td>Amount of time that should elapse before the block difficulty requirement is examined to determine how it should be changed in order to maintain the desired block generation rate</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TargetTimePerBlock</td>
                                <td class="mono">{{durationToShortDurationString .ChainParams.TargetTimePerBlock}}</td>
                                <td>The desired amount of time to generate each block</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">RetargetAdjustmentFactor</td>
                                <td class="mono">{{.ChainParams.RetargetAdjustmentFactor}}</td>
                                <td>Adjustment factor used to limit the minimum and maximum amount of adjustment that can occur between difficulty retargets</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">AcceptNonStdTxs</td>
                                <td class="mono">{{.ChainParams.AcceptNonStdTxs}}</td>
                                <td>Mempool param to either accept and relay non standard txs to the network or reject them</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4><span>Subsidy parameters</span></h4>
                    <table class="table table-mono-cells table-sm">
                        <thead>
                          <tr>
                            <th width="20%">Parameter</th>
                            <th>Value</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">BaseSubsidy</td>
                                <td>
                                    {{template "decimalParts" (amountAsDecimalParts .ChainParams.BaseSubsidy true)}}
                                    <span class="pl-1 unit lh15rem">DCR</span>
                                </td>
                                <td>Starting subsidy amount for mined blocks</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MulSubsidy</td>
                                <td class="mono">{{.ChainParams.MulSubsidy}}</td>
                                <td>Subsidy reduction multiplier</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">DivSubsidy</td>
                                <td class="mono">{{.ChainParams.DivSubsidy}}</td>
                                <td>Subsidy reduction divisor</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">SubsidyReductionInterval</td>
                                <td class="mono">{{.ChainParams.SubsidyReductionInterval}} blocks</td>
                                <td>Reduction interval in blocks</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">WorkRewardProportion</td>
                                <td class="mono">{{uint16Mul .ChainParams.WorkRewardProportion 10}}%</td>
                                <td>Comparative amount of the subsidy given for creating a block</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeRewardProportion</td>
                                <td class="mono">{{uint16Mul .ChainParams.StakeRewardProportion 10}}%</td>
                                <td>Comparative amount of the subsidy given for casting stake votes (collectively, per block)</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">BlockTaxProportion</td>
                                <td class="mono">{{uint16Mul .ChainParams.BlockTaxProportion 10}}%</td>
                                <td>Inverse of the percentage of funds for each block to allocate to the developer organization</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4><span>Stake parameters</span></h4>
                    <table class="table table-mono-cells table-sm">
                        <thead>
                          <tr>
                            <th width="20%">Parameter</th>
                            <th>Value</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MinimumStakeDiff</td>
                                <td class="mono">{{template "decimalParts" (amountAsDecimalParts .ChainParams.MinimumStakeDiff true)}} DCR</td>
                                <td>Minimum amount of Atoms required to purchase a stake ticket</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TicketPoolSize</td>
                                <td class="mono">{{.ChainParams.TicketPoolSize}} ({{.ExtendedParams.ActualTicketPoolSize}} actual)</td>
                                <td>Target size of ticket pool. (actual ticket count = TicketPoolSize x TicketsPerBlock)</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TicketsPerBlock</td>
                                <td class="mono">{{.ChainParams.TicketsPerBlock}}</td>
                                <td>Average number of tickets per block for Decred PoS</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TicketMaturity</td>
                                <td class="mono">{{.ChainParams.TicketMaturity}} blocks</td>
                                <td>Number of blocks for tickets to mature</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TicketExpiry</td>
                                <td class="mono">{{.ChainParams.TicketExpiry}} blocks</td>
                                <td>Number of blocks for tickets to expire after they have matured</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">CoinbaseMaturity</td>
                                <td class="mono">{{.ChainParams.CoinbaseMaturity}} blocks</td>
                                <td>Number of blocks required before newly mined coins (coinbase transactions) can be spent</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">SStxChangeMaturity</td>
                                <td class="mono">{{.ChainParams.SStxChangeMaturity}} blocks</td>
                                <td>Maturity for spending SStx change outputs</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">TicketPoolSizeWeight</td>
                                <td class="mono">{{.ChainParams.TicketPoolSizeWeight}}</td>
                                <td>Multiplicative weight applied to the ticket pool size difference between a window period and its target when determining the stake system</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeDiffAlpha</td>
                                <td class="mono">{{.ChainParams.StakeDiffAlpha}}</td>
                                <td>stake difficulty EMA calculation alpha (smoothing) value</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeDiffWindowSize</td>
                                <td class="mono">{{.ChainParams.StakeDiffWindowSize}} blocks</td>
                                <td>Number of blocks used for each interval in exponentially weighted average</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeDiffWindows</td>
                                <td class="mono">{{.ChainParams.StakeDiffWindows}} windows</td>
                                <td>Number of windows (intervals) used for calculation of the exponentially weighted average</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeVersionInterval</td>
                                <td class="mono">{{.ChainParams.StakeVersionInterval}} blocks</td>
                                <td>Interval where the stake version is calculated</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">MaxFreshStakePerBlock</td>
                                <td class="mono">{{.ChainParams.MaxFreshStakePerBlock}} tickets</td>
                                <td>Maximum number of new tickets that may be submitted per block</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0"><a href="/block/{{.ChainParams.StakeEnabledHeight}}">StakeEnabledHeight</a></td>
                                <td class="mono">{{.ChainParams.StakeEnabledHeight}}</td>
                                <td>Height in which the first ticket could possibly mature</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0"><a href="/block/{{.ChainParams.StakeValidationHeight}}">StakeValidationHeight</a></td>
                                <td class="mono">{{.ChainParams.StakeValidationHeight}}</a></td>
                                <td>Height at which votes (SSGen) are required to add a new block to the top of the blockchain</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeBaseSigScript</td>
                                <td class="mono">{{convertByteArrayToString .ChainParams.StakeBaseSigScript}}</td>
                                <td>Consensus stakebase signature script for all votes on the network</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeMajorityMultiplier</td>
                                <td class="mono">{{.ChainParams.StakeMajorityMultiplier}}</td>
                                <td>Calculate the super majority of stake votes using integer math</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">StakeMajorityDivisor</td>
                                <td class="mono">{{.ChainParams.StakeMajorityDivisor}}</td>
                                <td>Calculate the super majority of stake votes using integer math</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4><span>Rule change parameters</span></h4>
                    <table class="table table-mono-cells table-sm f15">
                        <thead>
                          <tr>
                            <th width="20%">Parameter</th>
                            <th>Value</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">RuleChangeActivationQuorum</td>
                                <td class="mono">{{.ChainParams.RuleChangeActivationQuorum}}</td>
                                <td>Number of votes required for a vote to take effect</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">RuleChangeActivationMultiplier</td>
                                <td class="mono">{{.ChainParams.RuleChangeActivationMultiplier}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">RuleChangeActivationDivisor</td>
                                <td class="mono">{{.ChainParams.RuleChangeActivationDivisor}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">RuleChangeActivationInterval</td>
                                <td class="mono">{{.ChainParams.RuleChangeActivationInterval}} blocks</td>
                                <td>Number of blocks in each threshold state retarget window</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">BlockEnforceNumRequired</td>
                                <td class="mono">{{.ChainParams.BlockEnforceNumRequired}} blocks</td>
                                <td>Enforce current block version once network has upgraded</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">BlockRejectNumRequired</td>
                                <td class="mono">{{.ChainParams.BlockRejectNumRequired}} blocks</td>
                                <td>Reject previous block versions once network has upgraded</td>
                            </tr>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">BlockUpgradeNumToCheck</td>
                                <td class="mono">{{.ChainParams.BlockUpgradeNumToCheck}} blocks</td>
                                <td>The number of nodes to check</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4><span>Address parameters</span></h4>
                    <table class="table table-mono-cells table-sm">
                        <thead>
                          <tr>
                            <th width="20%">Address</th>
                            <th>Prefix</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">NetworkAddressPrefix</td>
                                <td class="mono">{{.ChainParams.NetworkAddressPrefix}}</td>
                                <td>First letter of the network for any given address encoded as a string</td>
                            </tr>
                            {{range $i, $v := .ExtendedParams.AddressPrefix}}
                            <tr>
                                <td class="mono text-left pr-2 nowrap p03rem0">{{$v.Name}}</td>
                                <td class="mono">{{$v.Prefix}}</td>
                                <td class="mono">{{$v.Description}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{ template "footer" . }}
    </body>
</html>
{{end}}
