{{define "proposals"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Vote Proposals Page"}}
        {{template "navbar" .}}
        <div class="container main" data-controller="pagenavigation">
            <div class="row justify-content-between">
                <div class="col-sm-lg-14 col-sm-12 d-flex">
                    <h4 class="mb-2">Politeia Proposals</h4>
                </div>
            </div>
            <div class="mb-1 fs13">
                <h6><a href="{{.PoliteiaURL}}">Politeia</a> is Decred's blockchain-anchored proposal system used for Decred's operational initiatives that don't affect consensus.</h6>
                {{if not .Proposals }}
                    {{block  "voteStatusWidget" .}}
                        <div class="fs12 nowrap text-left" style="margin:auto auto auto 0px;">
                            <label class="mb-0 mr-1">Vote Status</label>
                            <select
                                id="votestatus"
                                class="form-control-sm mb-2 mr-sm-2 mb-sm-0"
                                data-target="pagenavigation.votestatus"
                                data-action="change->pagenavigation#setFilterbyVoteStatus"
                            >
                                <option value="all">All</option>
                                {{range $k, $v := .VotesStatus}}
                                    <option {{if eq $k $.VStatusFilter}}selected{{end}} value="{{$k}}">{{$v}}</option>
                                {{end}}
                            </select>
                        </div>
                    {{end}}

                    <table class="table">
                        <tr>
                            <td>No proposal found for {{ .NetName }}.</td>
                        </tr>
                    </table>
                {{ else }}

                {{block "proposalsPagination" .}}
                    <div class="d-flex flex-wrap-reverse align-items-center justify-content-end list-display mb-1 fs13">
                        {{template  "voteStatusWidget" .}}

                        {{$count := (int64 (len .Proposals))}}
                        {{$oldest := (add .Offset $count)}}
                        {{$pending := (subtract $.TotalCount .Offset)}}

                        <span class="fs12 nowrap text-right">
                            <label class="mb-0 mr-1" for="tbPagesize">Page Size</label>
                            <select
                                id="tbPagesize"
                                data-target="pagenavigation.pagesize"
                                data-action="change->pagenavigation#setPageSize"
                                data-offset="{{$.Offset}}"
                                data-offsetkey="offset"
                                class="form-control-sm mb-2 mr-sm-2 mb-sm-0 {{if lt $pending 20}}disabled{{end}}"
                                {{if lt $pending 20}}disabled="disabled"{{end}}
                            >
                            {{if ge $pending 20}}<option {{if eq $count 20}}selected{{end}} value="20">20</option>{{end}}
                            {{if ge $pending 30}}<option {{if eq $count 30}}selected{{end}} value="30">30</option>{{end}}
                            {{if ge $pending 50}}<option {{if eq $count 50}}selected{{end}} value="50">50</option>{{end}}
                            {{if eq $.TotalCount $count 20 30 50}}{{else}}<option value="{{$.TotalCount}}">{{$.TotalCount}}</option>{{end}}
                            {{if eq $count 20 30 50}}{{else}}<option selected value="{{$count}}">{{$count}}</option>{{end}}
                            </select>
                        </span>
                        <span class="fs12 nowrap text-right">
                            {{intComma (add .Offset 1)}} &ndash; {{intComma $oldest}} of {{ intComma $.TotalCount }} rows
                        </span>
                        <nav aria-label="blocks navigation" data-limit="{{.Limit}}" class="ml-2">
                            <ul class="pagination mb-0 pagination-sm">
                                <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="?offset=0&rows={{.Limit}}&byvotestatus={{$.VStatusFilter}}"
                                        id="next"
                                    > Newest</a>
                                </li>
                                <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="?offset={{subtract .Offset .Limit}}&rows={{.Limit}}&byvotestatus={{$.VStatusFilter}}"
                                        id="next"
                                    > Newer</a>
                                </li>
                                <li class="page-item {{if ge $oldest $.TotalCount}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="?offset={{add .Offset .Limit}}&rows={{.Limit}}&byvotestatus={{$.VStatusFilter}}"
                                        id="prev"
                                    >Older</a>
                                </li>
                                <li class="page-item {{if ge $oldest $.TotalCount}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="?offset={{subtract $.TotalCount .Limit}}&rows={{.Limit}}&byvotestatus={{$.VStatusFilter}}"
                                        id="prev"
                                    >Oldest</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                {{end}}
            </div>

            <table class="table table-mono-cells my-2">
                <thead>
                    <tr>
                        <th class="text-left">Title</th>
                        <th class="text-left">Author</th>
                        <th class="text-left">Proposal Status</th>
                        <th class="text-left">Vote Status</th>
                        <th class="text-right">Age</th>
                        <th class="text-right">Updated</th>
                    </tr>
                </thead>
                <tbody data-controller="time">
                {{range $i, $v := .Proposals}}
                {{with $v}}
                    <tr>
                        <td class="text-left"><a href="/proposal/{{.TokenVal}}">{{.Name}}</a></td>
                        <td class="text-left">{{.Username}}</td>
                        {{with .Status}}
                            <td class="text-left">{{toTitleCase .String}}</td>
                        {{end}}
                        <td class="text-left">
                            {{if .VoteStatus}}{{with .VoteStatus}}{{.ShortDesc}}{{end}}{{else}}N/A{{end}}
                        </td>
                        <td class="text-right" data-target="time.age" data-age="{{.Timestamp}}"></td>
                        <td class="text-right">{{timeWithoutDateAndTimeZone .Timestamp}}</td>
                    </tr>
                {{end}}
                {{end}}
                </tbody>
            </table>
            <div class="text-center mb-0 fs11">
                <span class="mr-2">Proposals Sync:&nbsp;
                    <span data-controller="time" data-target="time.age" data-age="{{$.LastPropSync}}"></span>&nbsp;Ago
                </span>
                <span>Votes Sync:&nbsp;
                    <span data-controller="time" data-target="time.age" data-age="{{$.LastVotesSync}}"></span>&nbsp;Ago
                </span>
            </div>

            {{if gt .Limit 20}}
                {{template "proposalsPagination" .}}
            {{end}}
            {{end}}
        </div>
        {{template "footer" . }}
    </body>
</html>
{{end}}
