{{define "proposal"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Vote Proposal Pages"}}
        {{template "navbar" .}}
        {{with .Data}}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-20 col-sm-12 d-flex">
                    <a class="medium row" href="/proposals">All Proposals ></a>
                </div>
                <div class="col-lg-20 col-sm-12 d-flex">
                    <h4 class="mb-2 row">{{.Name}}</h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-12 col-sm-12 d-flex">
                    <table>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Token:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">
                                    <a href="{{$.PoliteiaURL}}/proposals/{{.Censorship.Token}}">{{.Censorship.Token}}</a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Author:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{.Username}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Published:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{TimeConversion .PublishedDate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Updated:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{TimeConversion .Timestamp}}</span>
                            </td>
                        </tr>
                         {{if ne .CensoredDate 0}}
                            <tr>
                                <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Censored:</td>
                                <td>
                                    <span class="break-word py-1 lh1rem">{{TimeConversion .CensoredDate}}</span>
                                </td>
                            </tr>
                        {{end}}
                        {{if ne .AbandonedDate 0}}
                            <tr>
                                <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Abandoned:</td>
                                <td>
                                    <span class="break-word py-1 lh1rem">{{TimeConversion .AbandonedDate}}</span>
                                </td>
                            </tr>
                        {{end}}
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Comments Count:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{.NumComments}}</span>
                           </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">
                    <table>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">State:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{with .State}}{{toTitleCase .String}}{{end}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Status:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">{{with .Status}}{{toTitleCase .String}}{{end}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Version:</td>
                            <td>
                                <span class="break-word lh1rem">v{{.Version}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">End Height:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">
                                    {{if .Endheight}}
                                        <a href="/block/{{.Endheight}}">{{.Endheight}}</a>
                                    {{else}}
                                        N/A
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                        {{if ne $.TimeRemaining ""}}
                            <tr>
                                <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Remaining:</td>
                                <td>
                                    <span class="break-word py-1 lh1rem">{{$.TimeRemaining}}</span>
                                </td>
                            </tr>
                        {{end}}
                    </table>
                </div>
                <div class="col-lg-7 col-sm-12 d-flex">
                    <table>
                        {{if .VoteStatus}}
                            {{range $i, $v := .VoteResults}}
                                {{if eq $v.Option.OptionID "yes"}}
                                    <tr>
                                        <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Yes Votes:</td>
                                        <td>
                                            <span class="break-word py-1 lh1rem">{{$v.VotesReceived}}</span>
                                        </td>
                                    </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                        {{if .VoteStatus}}
                            {{range $i, $v := .VoteResults}}
                                {{if eq $v.Option.OptionID "no"}}
                                    <tr>
                                        <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">No Votes:</td>
                                        <td>
                                            <span class="break-word py-1 lh1rem">{{$v.VotesReceived}}</span>
                                        </td>
                                    </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Vote Status:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">
                                    {{if .VoteStatus}}
                                        {{with .VoteStatus}}
                                            {{.ShortDesc}}
                                            <span class="position-relative d-inline-block" data-tooltip="{{.LongDesc}}">
                                        {{end}}
                                    {{else}}
                                        N/A
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Quorum:</td>
                            <td>
                                <span class="break-word py-1 lh1rem">
                                    {{if and .QuorumPercentage (and .NumOfEligibleVotes .TotalVotes)}}
                                        {{$voted := (percentage .TotalVotes .NumOfEligibleVotes)}}
                                        {{.TotalVotes}} of {{.NumOfEligibleVotes}},  {{printf "%.0f" $voted}}% voted,  {{.QuorumPercentage}}% needed
                                    {{else}}
                                        N/A
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                        {{if .VoteResults}}
                            {{range $i, $v := .VoteResults}}
                                {{if eq $v.Option.OptionID "yes"}}
                                    <tr>
                                        <td class="text-right pr-2 py-2 vam nowrap xs-w117 font-weight-bold">Total:</td>
                                        <td>
                                            <span class="break-word py-1 lh1rem">
                                                {{printf "%.0f" (percentage $v.VotesReceived $.Data.TotalVotes)}}% yes, {{if $.Data.PassPercentage}}{{$.Data.PassPercentage}}%{{end}} needed
                                            </span>
                                        </td>
                                    </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                    </table>
                </div>
            </div>
        </div>
        {{if gt (len .VoteResults) 1}}
            <div
                class="proposal-charts-align"
                data-controller="proposal"
                data-target="proposal.token"
                data-hash="{{$.Data.Censorship.Token}}"
                >
                <div class="d-flex proposal-chart-responsive">
                    <div id="percent-of-votes" class="proposal-chart-align"></div>
                    <div id="percent-of-votes-legend" class="dygraph-legend proposal-chart-legend"></div>
                </div>
                <div class="d-flex proposal-chart-responsive">
                    <div id="cumulative" class="proposal-chart-align mt-1"></div>
                    <div id="cumulative-legend" class="dygraph-legend proposal-chart-legend"></div>
                </div>
                <div class="d-flex proposal-chart-responsive">
                    <div id="votes-by-time" class="proposal-chart-align mt-1"></div>
                    <div id="votes-by-time-legend" class="dygraph-legend proposal-chart-legend"></div>
                </div>
                <span  data-controller="time" class="text-center">Last Piparser Sync:
                    <span data-target="time.age" data-age="{{$.LastSyncTime}}"></span>
                </span>
            </div>
        {{else}}
            <table class="table container">
                <tr>
                    <td class="text-center">No Proposal votes data found</td>
                </tr>
            </table>
            <span  data-controller="time" class="text-center">Last Piparser Sync:
                <span data-target="time.age" data-age="{{$.LastSyncTime}}"></span>
            </span>
        {{end}}
    {{end}}
    {{template "footer" . }}
    </body>
</html>
{{end}}
