{{define "proposal"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Vote Proposal Pages"}}
    <body class="{{ theme }}">
        {{template "navbar" .}}
        {{with .Data}}
        <div class="container main">
            <div class="row justify-content-between">
                <div class="col-lg-14 col-sm-12 d-flex">
                    <h4 class="mb-2">{{.Name}}
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-18 col-sm-12 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Token</td>
                            <td>
                                <span class="hash break-word  lh1rem"><a>{{.ID}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">Status</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.Status}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">State</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.State}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">Version</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.Version}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Username</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.Username}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Vote Status</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.Status}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">TotalVotes</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.TotalVotes}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Endheight</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.Endheight}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-sm-12 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Last Update</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConversion .Timestamp}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Published Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConversion .PubishedDate}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Censored Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConversion .CensoredDate}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Abandoned Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{TimeConversion .AbandonedDate}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">NumOfEligibleVotes</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.NumOfEligibleVotes}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">QuorumPercentage</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.QuorumPercentage}}</span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">PassPercentage</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.VotesStatus.PassPercentage}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Comments Count</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.Numcomments}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {{if .VotesStatus.VoteResults}}
            <table class="table table-mono-cells table-sm striped">
                <thead>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Bits</th>
                    <th>Count</th>
                </thead>
                {{range $i, $v := .VotesStatus.VoteResults}}
                {{with $v}}
                <thead>
                    <tr>
                        <td class="text-left">{{.Option.OptionID}}</td>
                        <td class="text-left">{{.Option.Description}}</td>
                        <td class="text-left">{{.Option.Bits}}</td>
                        <td class="text-left">{{.VotesReceived}}</td>
                    </tr>
                </thead>
                {{end}}
                {{end}}
            </table>
            {{end}}
        </div>
        {{end}}
        {{template "footer" . }}
    </body>
</html>
{{end}}
