{{define "proposal"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Vote Proposal Pages"}}
    <body class="{{ theme }}">
        {{template "navbar" .}}
        {{with .Data}}
        <div class="container main">
            <div class="row justify-content-between">
                <div class="col-lg-14 col-sm-12 d-flex">
                    <h4 class="mb-2">{{.Name}}
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-16 col-sm-12 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Token</td>
                            <td>
                                <span class="hash break-word  lh1rem"><a>{{.Censorship.Token}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">Status</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.Status}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">State</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.State}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right lh1rem pr-2 xs-w117">Version</td>
                            <td class="lh1rem">
                                <span class="hash break-word  lh1rem">{{.Version}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Username</td>
                            <td>
                                <span class="hash break-word  lh1rem">@{{.Username}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Vote Status</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.Status}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Total Votes</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.TotalVotes}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">End Height</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.Endheight}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-8 col-sm-12 d-flex">
                    <table class="">
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Last Update</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if ne .Timestamp 0}}
                                        {{TimeConversion .Timestamp}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Published Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if ne .PublishedDate 0}}
                                        {{TimeConversion .PublishedDate}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Censored Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if ne .CensoredDate 0}}
                                        {{TimeConversion .CensoredDate}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Abandoned Date</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if ne .AbandonedDate 0}}
                                        {{TimeConversion .AbandonedDate}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Eligible Votes Count</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.NumOfEligibleVotes}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Quorum Percentage</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.QuorumPercentage}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Pass Percentage</td>
                            <td>
                                <span class="hash break-word  lh1rem">
                                    {{if .VotesStatus}}
                                        {{.VotesStatus.PassPercentage}}
                                    {{else}}
                                        --
                                    {{end}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Comments Count</td>
                            <td>
                                <span class="hash break-word  lh1rem">{{.NumComments}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {{if .VotesStatus}}
            <table class="table table-mono-cells table-sm striped">
                <thead>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Bits</th>
                    <th>Count</th>
                </thead>
                {{range $i, $v := .VotesStatus.VoteResults}}
                {{with $v}}
                <thead>
                    <tr>
                        <td class="text-left">{{.Option.OptionID}}</td>
                        <td class="text-left">{{.Option.Description}}</td>
                        <td class="text-left">{{.Option.Bits}}</td>
                        <td class="text-left">{{.VotesReceived}}</td>
                    </tr>
                </thead>
                {{end}}
                {{end}}
            </table>
            {{end}}
        </div>
        {{end}}
        {{template "footer" . }}
    </body>
</html>
{{end}}
