{{define "rawtx"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decred Transaction %.20s..." .TxID}}
    <body>
        {{template "navbar"}}
        <div class="container">
                <h4 class="mb-2">Decode a Decred transaction</h4>
                <form>
                    <textarea
                        autofocus
                        rows="6"
                        class="col"
                        name="rawtx"
                        id="rawtx"
                        placeholder="Enter the transation hex here"
                    /></textarea>
                </form>
                <h4 class="mb-2">Decoded tx</h4>
<pre
    id="decoded_tx"
    class="json-block mono"
>

    Press Enter or click here to decode

</pre>
        </div>
        <script>
            setTimeout(function(){
                $("#rawtx")
                    .keypress( function(e){
                        if (!e) e = window.event;
                        var keyCode = e.keyCode || e.which;
                        if (keyCode == '13'){
                            ws.send("decodetx", this.value)
                            return false;
                        }
                    })
                    .focus()
                $("#decoded_tx").on("click", function(){
                    ws.send("decodetx", $("#rawtx").val())
                })
            }, 14)
        </script>
        {{template "footer"}}
    </body>
</html>
{{end}}
