{{define "rawtx"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" printf "Decode Raw Recred Transaction"}}
    <body>
        {{template "navbar"}}
        <div class="container">
                <h4 class="mb-2">Decode a Decred transaction</h4>
                <form>
                    <textarea
                        autofocus
                        rows="6"
                        class="col"
                        name="rawtx"
                        id="rawtx"
                        placeholder="Enter the transation hex here"
                    /></textarea>
                </form>
                <h4 class="mb-2" id="decode_header">Decoded tx</h4><button id="send_tx">Send Tx</button>
            <pre
                id="decoded_tx"
                class="json-block mono"
            >

                Press Enter or click here to decode

            </pre>
        </div>
        <script>
            $("#send_tx").on("click", function() {
                var msg = $("#rawtx").val();
                    if (msg !== ""){
                        ws.send("sendtx", msg);
                    }
            })
            setTimeout(function(){
                $("#rawtx").keypress( function(e){
                        if (!e) e = window.event;
                        var keyCode = e.keyCode || e.which;
                        if (keyCode == '13'){
                            if (this.value !== "") {
                                ws.send("decodetx", this.value);
                            }
                            return false;
                        }
                    })
                    .focus()
                $("#decoded_tx").on("click", function(){
                    var msg = $("#rawtx").val();
                    if (msg !== ""){
                        ws.send("decodetx", msg);
                    }
                })
            }, 14)
        </script>
        {{template "footer"}}
    </body>
</html>
{{end}}
