{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "Dcrdata Web"}}

<body>
        <style>
                .wrapper {
                    width: 60%;
                    min-width: 360px;
                }
                .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
                    background: black;
                }
                    /* Notice: Portions of the connection indicator style come from html5rocks.com */
                    @-webkit-keyframes glowGreen {
                        from {
                            -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
                        }
                        50% {
                            -webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;
                        }
                        to {
                            -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
                        }
                    }
                    @-webkit-keyframes glowRed {
                        from {
                            -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
                        }
                        50% {
                            -webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;
                        }
                        to {
                            -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
                        }
                    }
                    #connection {
                        top: -1px;
                        font: 12px sans-serif;
                        font-weight: bold;
                        vertical-align: middle;
                        color: silver;
                    }
                    #connection div {
                        background-color: orange;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-radius: 10px;
                        margin-left: 5px;
                        -webkit-animation-duration: 2s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: linear;
                    }
                    #connection.connected div {
                        background-color: #63df1e;
                        -webkit-box-shadow: rgba(0, 255, 0, 0.5) 0px 0px 5px;
                        -webkit-animation-name: glowGreen;
                    }
                    #connection.disconnected div {
                        background-color: red;
                        -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
                        -webkit-animation-name: glowRed;
                    }
            </style>
    <script type="text/javascript">
        if (!window.DOMTokenList) {
            Element.prototype.containsClass = function(name) {
                return new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)").test(this.className);
            };
            Element.prototype.addClass = function(name) {
                if (!this.containsClass(name)) {
                var c = this.className;
                this.className = c ? [c, name].join(' ') : name;
                }
            };
            Element.prototype.removeClass = function(name) {
                if (this.containsClass(name)) {
                var c = this.className;
                this.className = c.replace(
                    new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)", "g"), "");
                }
            };
        }

	    var loc = window.location;
        var uri = 'ws:';
        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }
        uri += '//' + loc.host;
        uri += loc.pathname + 'ws';

        var ws = new MessageSocket(uri);

        ws.registerEvtHandler("open", function() {
            console.log('Connected')
            updateConnectionStatus('Connected', true);
        });

        ws.registerEvtHandler("close", function() {
            console.log('Disconnected')
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("error", function(evt) {
            console.log("WebSocket error:", evt);
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("ping", function(evt) {
            console.debug("ping. users online: ", evt)
            ws.send("pong", "copy")
        });

        var updateMempool = function (event) {
            console.log("Received mempoolsstxfeeinfo message", event);
            var m = JSON.parse(event);

            //mempool fee info
            var number = document.getElementById('mempoolfeeinfo_number');
            number.innerHTML = String(m.number);

        };

        ws.registerEvtHandler("mempoolsstxfeeinfo", updateMempool);

        var updateBlockData = function (event) {
            console.log("Received newblock message", event);
            var newblock = JSON.parse(event);

            // block summary data
            var b = newblock.block;
            var expTable = document.getElementById('explorertable');
            expTable.deleteRow(6);

            var newRow = expTable.insertRow(1);
            newRow.id = String(b.height);

            var height = newRow.insertCell();
            var heightlink = document.createElement("A");

            heightlink.href = "/explorer/block/"+String(b.height);
            height.appendChild(heightlink);
            heightlink.innerHTML = b.height;

            var votes = newRow.insertCell();
            votes.innerHTML = b.votes;

            var tickets = newRow.insertCell();
            tickets.innerHTML = b.tickets;

            var tx = newRow.insertCell();
            tx.innerHTML = b.tx;

            var revocations = newRow.insertCell();
            revocations.innerHTML = b.revocations;

            var size = newRow.insertCell();
            size.innerHTML = String(b.size) + " B";

            var age = newRow.insertCell();
            age.className = "age";
            age.innerHTML = b.time;

            var h_age = newRow.insertCell();
            h_age.className = "hidden";
            h_age.innerHTML = b.time;

            var blocksubsidy = b.next_block_subsidy;

            var bsdev = document.getElementById("bsubsidy_dev");
            bsdev.innerHTML = blocksubsidy.dev;

            var bspos = document.getElementById("bsubsidy_pos");
            bspos.innerHTML = blocksubsidy.pos;

            var bspow = document.getElementById("bsubsidy_pow");
            bspow.innerHTML = blocksubsidy.pow;

            var bstotal = document.getElementById("bsubsidy_total");
            bstotal.innerHTML = blocksubsidy.total;

            var coin_supply = b.coin_supply;

            var csupply = document.getElementById("coin_supply");
            csupply.innerHTML = coin_supply;

            var time = newRow.insertCell();
            time.innerHTML = b.formatted_time;

            var sdiff = document.getElementById('blocksdiff');
            sdiff.innerHTML = b.sdiff.toFixed(4);

            // stake
            var s = newblock.stake;

            // var sdiffcurrent = document.getElementById('blocksdiff');
            // sdiffcurrent.innerHTML = String(s.stakediff.current);
            // var sdiffnext = document.getElementById('blocksdiffnext');
            // sdiffnext.innerHTML = String(s.next);

            var window_block_index = document.getElementById('window_block_index');
            window_block_index.innerHTML = String(s.window_block_index);


        };

        ws.registerEvtHandler("newblock", updateBlockData);

        setInterval(function () {
            ws.send("ping", 'Hi. I am a client!');
        }, 1000);

	    function updateConnectionStatus(msg, connected) {
            var el = document.getElementById('connection');
            if (el.classList) {
                el.classList.remove('hidden');
            } else {
                el.removeClass('hidden');
            }
            if (connected) {
                if (el.classList) {
                    el.classList.add('connected');
                    el.classList.remove('disconnected');
                } else {
                    el.addClass('connected');
                    el.removeClass('disconnected');
                }
            } else {
                if (el.classList) {
                    el.classList.remove('connected');
                    el.classList.add('disconnected');
                } else {
                    el.removeClass('connected');
                    el.addClass('disconnected');
                }
            }
            el.innerHTML = msg + '<div></div>';
        }

        // function closeConnection() {
        //     ws.close();
        //     updateConnectionStatus('Disconnected', false);
        // }
    </script>

    {{ template "navbar" }}

    <div class="container">

        <div class="row mt-3">

            <div class="col-lg-7">
                <strong>Latest Blocks</strong>
                <table class="table striped" id="explorertable">
                    <thead>
                        <tr>
                            <th>Height</th>
                            <th>Votes</th>
                            <th>Tickets</th>
                            <th>Transactions</th>
                            <th>Revocations</th>
                            <th>Size</th>
                            <th>Age</th>
                            <th>Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .InitialData}}
                        <tr id="{{.Height}}">
                            <td><a href="/explorer/block/{{.Height}}" class="height">{{.Height | int64Comma}}</a></td>
                            <td>{{.Voters}}</td>
                            <td>{{.FreshStake}}</td>
                            <td>{{len .Tx}}</td>
                            <td>{{.Revocations}}</td>
                            <td>{{formatBytes .Size}}</td>
                            <td class="age">{{.Time}}</td>
                            <td class="hidden">{{.Time}}</td>
                            <td>{{getTime .Time}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <div class="mb-3"><a href="/explorer">More blocks...</a></div>
            </div>

            <div class="col-lg-5">
                {{with .Data}}
                <div class="row">
                    <div class="col-md-12">
                        <strong>Current Ticket Price Window</strong>
                        <table class="table table-sm">
                            <thead>
                                <th>Ticket Price</th>
                                <th>Progress</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span style="color:#65d4a5;" id="blocksdiff" ><strong>{{printf "%12.4f" .BlockSummary.StakeDiff}}</strong></span></td>
                                    <td id="blocksdiff">block <span id="window_block_index" >{{.StakeSummary.IdxBlockInWindow}}</span> of 144</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mb-3"><strong>Tickets in Mempool:</strong>  <span id="mempoolfeeinfo_number">{{.MempoolFeeInfo.Number}}</span></div>

                <div class="row">
                    <div class="col-md-12 mb-1">
                        <strong>Block Subsidy</strong>
                        <table class="table table-sm">
                            <thead>
                                <th>Developer</th>
                                <th>PoS (per vote)</th>
                                <th>PoW</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span id="bsubsidy_dev" >{{.BlockSummary.NextBlockSubsidy.Developer}}</span></td>
                                    <td><span id="bsubsidy_pos" >{{.BlockSummary.NextBlockSubsidy.PoS}}</span></td>
                                    <td><span id="bsubsidy_pow" >{{.BlockSummary.NextBlockSubsidy.PoW}}</span></td>
                                    <td><span id="bsubsidy_total" >{{.BlockSummary.NextBlockSubsidy.Total}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mb-3"><strong>Coin Supply:</strong> <span id="coin_supply" >{{.BlockSummary.CoinSupply}}</span></div>
                {{end}}

            </div>

        </div>

    </div>

    <!-- end wrapper -->

    {{ template "footer"}}

</body>

</html>
{{end}}