{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "Dcrdata Web"}}

<body>
    <script type="text/javascript">
        var subsidyToString = function(x, y = 1) {
            return (x / 100000000 / y) + " DCR"
        }
	    var loc = window.location;
        var uri = 'ws:';
        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }
        uri += '//' + loc.host;
        uri += loc.pathname + 'ws';

        var ws = new MessageSocket(uri);

        ws.registerEvtHandler("open", function() {
            console.log('Connected')
            updateConnectionStatus('Connected', true);
        });

        ws.registerEvtHandler("close", function() {
            console.log('Disconnected')
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("error", function(evt) {
            console.log("WebSocket error:", evt);
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("ping", function(evt) {
            console.debug("ping. users online: ", evt)
            ws.send("pong", "copy")
        });

        var updateMempool = function (event) {
            console.log("Received mempoolsstxfeeinfo message", event);
            var m = JSON.parse(event);

            //mempool fee info
            $('#mempoolfeeinfo_number').html(m.number)
        };

        ws.registerEvtHandler("mempoolsstxfeeinfo", updateMempool);

        var updateBlockData = function (event) {
            console.log("Received newblock message", event);
            var newblock = JSON.parse(event);

            // block summary data
            var b = newblock.block;
            var expTableRows = $('#explorertable tbody tr');
            if (!expTableRows) return
            expTableRows.last().remove()
            var newRow = '<tr id="' + b.height + '">' +
                 '<td><a href="/explorer/block/' + b.height + '" class="fs18">' + b.height + '</a></td>' +
                 '<td>' + b.tx + '</td>' +
                 '<td>' + b.votes + '</td>' +
                 '<td>' + b.tickets + '</td>' +
                 '<td>' + b.revocations + '</td>' +
                 '<td>' + humanize.bytes(b.size) + '</td>' +
                 '<td class="age">' + humanize.timeSince(b.time) + '</td>' +
                 '<td class="hidden timestamp">' + b.time + '</td>' +
                 '<td>' + b.formatted_time + '</td>' +
            '</tr>'
            $(newRow).insertBefore(expTableRows.first())
            $("#bsubsidy_dev").html(subsidyToString(b.next_block_subsidy.developer))
            $("#bsubsidy_pos").html(subsidyToString(b.next_block_subsidy.pos, 5))
            $("#bsubsidy_pow").html(b.next_block_subsidy.pow)
            $("#bsubsidy_total").html(b.next_block_subsidy.total)
            $("#coin_supply").html(b.coin_supply)
            $('#blocksdiff').html(b.sdiff.toFixed(4))
            $('#window_block_index').html(newblock.stake.window_block_index)
        };

        ws.registerEvtHandler("newblock", updateBlockData);

        setInterval(function () {
            ws.send("ping", 'Hi. I am a client!');
        }, 1000);

	    function updateConnectionStatus(msg, connected) {
            var el = $('#connection');
            el.removeClass('hidden')
            if (connected) {
                el.addClass('connected')
                el.removeClass('disconnected')
            } else {
                el.removeClass('connected');
                el.addClass('disconnected');
            }
            el.html(msg + '<div></div>')
        }

        // function closeConnection() {
        //     ws.close();
        //     updateConnectionStatus('Disconnected', false);
        // }
    </script>

    {{ template "navbar" }}

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <h3 class="mt-2">Chain State</h3>

                {{with .Data}}

                <div>
                    <table class="mb-3 col">
                        <tr class="h2rem">
                            <td class="text-right pr-2 p03rem0 sm-w151 w142 lh1rem">TOTAL SUPPLY</td>
                            <td class="fs24 mono lh1rem"><span class="dcr">{{.BlockSummary.CoinSupply}}</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1 vam">TICKET PRICE</td>
                            <td class="mono vam fs24"><span class="dcr"><span id="blocksdiff" ><strong>{{.BlockSummary.StakeDiff}}</strong></span></span><span class="pl-1">DCR</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">TICKETS IN MEMPOOL</td>
                            <td><span id="mempoolfeeinfo_number" class="mono fs24">{{.MempoolFeeInfo.Number}}</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">TICKET WINDOW PROGRESS</td>
                            <td>
                                <div class="row">
                                    <div class="col-11 col-lg-8">
                                        <div class="progress" style="max-width: 330px">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{ticketWindowProgress .StakeSummary.IdxBlockInWindow}}%; background: #2ed8a3;"
                                                aria-valuenow="{{.StakeSummary.IdxBlockInWindow}}"
                                                aria-valuemin="0"
                                                aria-valuemax="144"
                                            >
                                            <span id="blocksdiff" style="color:#383b41" class="nowrap pl-1"><span id="window_block_index" >block {{.StakeSummary.IdxBlockInWindow}}</span> of 144</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">PROOF OF WORK DIFFICULTY</td>
                            <td class="mono lh1rem p03rem0"><span id="difficulty">{{printf "%.2f" (index $.InitialData 1).Difficulty}}</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1">BLOCK REWARD</td>
                            <td>
                                <div class="mono lh1rem p03rem0"><span id="bsubsidy_total">{{.BlockSummary.NextBlockSubsidy.Total}}</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">DEV REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_dev">{{.BlockSummary.NextBlockSubsidy.Developer}}</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">POS REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_pos">{{.BlockSummary.NextBlockSubsidy.PoS}}</span> / ticket</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">POW REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_pow">{{.BlockSummary.NextBlockSubsidy.PoW}}</span></div>
                            </td>
                        </tr>
                    </table>
                </div>
                {{end}}

            </div>

            <div class="col-md-6">

                <h4 class="mb-3">Latest Blocks</h4>
                <table class="table striped table-responsive full-width" id="explorertable">
                    <thead>
                        <tr>
                            <th>Height</th>
                            <th>
                                <span class="d-none d-lg-inline">Transactions</span>
                                <span class="d-lg-none">Txn</span>
                            </th>
                            <th>Vote<span class="d-none d-lg-inline">s</span></th>
                            <th>Ticket<span class="d-none d-lg-inline">s</span></th>
                            <th>
                                <span class="d-none d-lg-inline">Revocations</span>
                                <span class="d-lg-none">Revoke</span>
                            </th>
                            <th>Size</th>
                            <th>Age</th>
                            <th>Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .InitialData}}
                        <tr id="{{.Height}}">
                            <td><a href="/explorer/block/{{.Height}}" class="fs18">{{.Height}}</a></td>
                            <td>{{len .Tx}}</td>
                            <td>{{.Voters}}</td>
                            <td>{{.FreshStake}}</td>
                            <td>{{.Revocations}}</td>
                            <td>{{formatBytes .Size}}</td>
                            <td class="age">{{.Time}}</td>
                            <td class="hidden timestamp">{{.Time}}</td>
                            <td>{{getTime .Time}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <div class="mb-3"><a href="/explorer"><small>More blocks...</small></a></div>

            </div>

        </div>

    </div>

    <!-- end wrapper -->

    {{ template "footer"}}

</body>
<script>
    var bsdev = document.getElementById("bsubsidy_dev");
    bsdev.innerHTML = subsidyToString(bsdev.innerHTML);

    var bspos = document.getElementById("bsubsidy_pos");
    bspos.innerHTML = subsidyToString(bspos.innerHTML, 5);

    var bspow = document.getElementById("bsubsidy_pow");
    bspow.innerHTML = subsidyToString(bspow.innerHTML);

    var bstotal = document.getElementById("bsubsidy_total");
    bstotal.innerHTML = subsidyToString(bstotal.innerHTML);
</script>
</html>
{{end}}