{{define "home"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "Decred Block Explorer by dcrdata.org"}}

<body>
        <style>
                .wrapper {
                    width: 60%;
                    min-width: 360px;
                }
                .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
                    background: black;
                }
                    /* Notice: Portions of the connection indicator style come from html5rocks.com */
                    @-webkit-keyframes glowGreen {
                        from {
                            -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
                        }
                        50% {
                            -webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;
                        }
                        to {
                            -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
                        }
                    }
                    @-webkit-keyframes glowRed {
                        from {
                            -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
                        }
                        50% {
                            -webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;
                        }
                        to {
                            -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
                        }
                    }
                    #connection {
                        top: -1px;
                        font: 12px sans-serif;
                        font-weight: bold;
                        vertical-align: middle;
                        color: silver;
                    }
                    #connection div {
                        background-color: orange;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-radius: 10px;
                        margin-left: 5px;
                        -webkit-animation-duration: 2s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: linear;
                    }
                    #connection.connected div {
                        background-color: #63df1e;
                        -webkit-box-shadow: rgba(0, 255, 0, 0.5) 0px 0px 5px;
                        -webkit-animation-name: glowGreen;
                    }
                    #connection.disconnected div {
                        background-color: red;
                        -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
                        -webkit-animation-name: glowRed;
                    }
            </style>
    <script type="text/javascript">
        if (!window.DOMTokenList) {
            Element.prototype.containsClass = function(name) {
                return new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)").test(this.className);
            };
            Element.prototype.addClass = function(name) {
                if (!this.containsClass(name)) {
                var c = this.className;
                this.className = c ? [c, name].join(' ') : name;
                }
            };
            Element.prototype.removeClass = function(name) {
                if (this.containsClass(name)) {
                var c = this.className;
                this.className = c.replace(
                    new RegExp("(?:^|\\s+)" + name + "(?:\\s+|$)", "g"), "");
                }
            };
        }

        var subsidyToString = function(x, y = 1) {
            return (x / 100000000 / y) + " DCR"
        }
	    var loc = window.location;
        var uri = 'ws:';
        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }
        uri += '//' + loc.host;
        uri += loc.pathname + 'ws';

        var ws = new MessageSocket(uri);

        ws.registerEvtHandler("open", function() {
            console.log('Connected')
            updateConnectionStatus('Connected', true);
        });

        ws.registerEvtHandler("close", function() {
            console.log('Disconnected')
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("error", function(evt) {
            console.log("WebSocket error:", evt);
            updateConnectionStatus('Disconnected', false);
        });

        ws.registerEvtHandler("ping", function(evt) {
            console.debug("ping. users online: ", evt)
            ws.send("pong", "copy")
        });

        var updateMempool = function (event) {
            console.log("Received mempoolsstxfeeinfo message", event);
            var m = JSON.parse(event);

            //mempool fee info
            var number = document.getElementById('mempoolfeeinfo_number');
            number.innerHTML = String(m.number);

        };

        ws.registerEvtHandler("mempoolsstxfeeinfo", updateMempool);

        var updateBlockData = function (event) {
            console.log("Received newblock message", event);
            var newblock = JSON.parse(event);

            // block summary data
            var b = newblock.block;
            var expTable = document.getElementById('explorertable');
            expTable.deleteRow(6);

            var newRow = expTable.insertRow(1);
            newRow.id = String(b.height);

            var height = newRow.insertCell();
            if (height.classList) {
                height.classList.add('fs18');
            } else {
                height.addClass('fs18');
            }
            var heightlink = document.createElement("A");

            heightlink.href = "/explorer/block/"+String(b.height);
            height.appendChild(heightlink);
            heightlink.innerHTML = b.height;

            var votes = newRow.insertCell();
            votes.innerHTML = b.votes;

            var tickets = newRow.insertCell();
            tickets.innerHTML = b.tickets;

            var tx = newRow.insertCell();
            tx.innerHTML = b.tx;

            var revocations = newRow.insertCell();
            revocations.innerHTML = b.revocations;

            var size = newRow.insertCell();
            size.innerHTML = humanize.bytes(b.size);

            var age = newRow.insertCell();
            age.className = "age";
            age.innerHTML = humanize.timeSince(b.time);

            var h_age = newRow.insertCell();
            h_age.className = "hidden";
            h_age.innerHTML = b.time;

            var blocksubsidy = b.next_block_subsidy;

            var bsdev = document.getElementById("bsubsidy_dev");
            bsdev.innerHTML = subsidyToString(blocksubsidy.developer);

            var bspos = document.getElementById("bsubsidy_pos");
            bspos.innerHTML = subsidyToString(blocksubsidy.pos, 5);

            var bspow = document.getElementById("bsubsidy_pow");
            bspow.innerHTML = subsidyToString(blocksubsidy.pow);

            var bstotal = document.getElementById("bsubsidy_total");
            bstotal.innerHTML = subsidyToString(blocksubsidy.total);

            var coin_supply = b.coin_supply;

            var csupply = document.getElementById("coin_supply");
            csupply.innerHTML = coin_supply;

            var time = newRow.insertCell();
            time.innerHTML = b.formatted_time;

            var sdiff = document.getElementById('blocksdiff');
            sdiff.innerHTML = b.sdiff.toFixed(4);

            // stake
            var s = newblock.stake;

            // var sdiffcurrent = document.getElementById('blocksdiff');
            // sdiffcurrent.innerHTML = String(s.stakediff.current);
            // var sdiffnext = document.getElementById('blocksdiffnext');
            // sdiffnext.innerHTML = String(s.next);

            var window_block_index = document.getElementById('window_block_index');
            window_block_index.innerHTML = String(s.window_block_index);


        };

        ws.registerEvtHandler("newblock", updateBlockData);

        setInterval(function () {
            ws.send("ping", 'Hi. I am a client!');
        }, 1000);

	    function updateConnectionStatus(msg, connected) {
            var el = document.getElementById('connection');
            if (el.classList) {
                el.classList.remove('hidden');
            } else {
                el.removeClass('hidden');
            }
            if (connected) {
                if (el.classList) {
                    el.classList.add('connected');
                    el.classList.remove('disconnected');
                } else {
                    el.addClass('connected');
                    el.removeClass('disconnected');
                }
            } else {
                if (el.classList) {
                    el.classList.remove('connected');
                    el.classList.add('disconnected');
                } else {
                    el.removeClass('connected');
                    el.addClass('disconnected');
                }
            }
            el.innerHTML = msg + '<div></div>';
        }

        // function closeConnection() {
        //     ws.close();
        //     updateConnectionStatus('Disconnected', false);
        // }
    </script>

    {{ template "navbar" }}

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <h3 class="mt-2">Chain State</h3>

                {{with .Data}}

                <div>
                    <table class="mb-3 col">
                        <tr class="h2rem">
                            <td class="text-right pr-2 p03rem0 sm-w151 w142 lh1rem">TOTAL SUPPLY</td>
                            <td class="fs24 mono lh1rem">
                                {{template "fancyFloatParts" (amountAsFloatParts .BlockSummary.CoinSupply)}}<span class="pl-1">DCR</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1 vam">TICKET PRICE</td>
                            <td class="mono vam fs24"><span class="dcr"><span id="blocksdiff" ><strong>{{.BlockSummary.StakeDiff}}</strong></span></span><span class="pl-1">DCR</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">TICKETS IN MEMPOOL</td>
                            <td><span id="mempoolfeeinfo_number" class="mono fs24">{{.MempoolFeeInfo.Number}}</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">TICKET WINDOW PROGRESS</td>
                            <td>
                                <div class="row">
                                    <div class="col-11 col-lg-8">
                                        <div class="progress" style="max-width: 330px">
                                            <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: {{ticketWindowProgress .StakeSummary.IdxBlockInWindow}}%; background: #2ed8a3;"
                                                aria-valuenow="25"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                            >
                                            <span id="blocksdiff" style="color:#383b41" class="nowrap pl-1"><span id="window_block_index" >block {{.StakeSummary.IdxBlockInWindow}}</span> of 144</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1 pb-1">PROOF OF WORK DIFFICULTY</td>
                            <td class="mono lh1rem p03rem0"><span id="difficulty">{{printf "%.2f" (index $.InitialData 1).Difficulty}}</span></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem pt-1">BLOCK REWARD</td>
                            <td>
                                <div class="mono lh1rem p03rem0"><span id="bsubsidy_total">{{.BlockSummary.NextBlockSubsidy.Total}}</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">DEV REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_dev">{{.BlockSummary.NextBlockSubsidy.Developer}}</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">POS REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_pos">{{.BlockSummary.NextBlockSubsidy.PoS}}</span> / ticket</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right pr-2 lh1rem">POW REWARD</td>
                            <td>
                                <div class="mono lh1rem"><span id="bsubsidy_pow">{{.BlockSummary.NextBlockSubsidy.PoW}}</span></div>
                            </td>
                        </tr>
                    </table>
                </div>
                {{end}}

            </div>

            <div class="col-md-6">

                <h4 class="mb-3">Latest Blocks</h4>
                <table class="table striped table-responsive full-width" id="explorertable">
                    <thead>
                        <tr>
                            <th>Height</th>
                            <th>
                                <span class="d-none d-lg-inline">Transactions</span>
                                <span class="d-lg-none">Txn</span>
                            </th>
                            <th>Vote<span class="d-none d-lg-inline">s</span></th>
                            <th>Ticket<span class="d-none d-lg-inline">s</span></th>
                            <th>
                                <span class="d-none d-lg-inline">Revocations</span>
                                <span class="d-lg-none">Revoke</span>
                            </th>
                            <th>Size</th>
                            <th>Age</th>
                            <th>Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .InitialData}}
                        <tr id="{{.Height}}">
                            <td><a href="/explorer/block/{{.Height}}" class="fs18">{{.Height}}</a></td>
                            <td>{{len .Tx}}</td>
                            <td>{{.Voters}}</td>
                            <td>{{.FreshStake}}</td>
                            <td>{{.Revocations}}</td>
                            <td>{{formatBytes .Size}}</td>
                            <td class="age">{{.Time}}</td>
                            <td class="hidden timestamp">{{.Time}}</td>
                            <td>{{getTime .Time}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <div class="mb-3"><a href="/explorer"><small>More blocks...</small></a></div>

            </div>

        </div>

    </div>

    <!-- end wrapper -->

    {{ template "footer"}}

</body>
<script>
    var bsdev = document.getElementById("bsubsidy_dev");
    bsdev.innerHTML = subsidyToString(bsdev.innerHTML);

    var bspos = document.getElementById("bsubsidy_pos");
    bspos.innerHTML = subsidyToString(bspos.innerHTML, 5);

    var bspow = document.getElementById("bsubsidy_pow");
    bspow.innerHTML = subsidyToString(bspow.innerHTML);

    var bstotal = document.getElementById("bsubsidy_total");
    bstotal.innerHTML = subsidyToString(bstotal.innerHTML);
</script>
</html>
{{end}}