{{define "status"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Status %s" .StatusType}}
<body class="{{ theme }}">
    {{template "navbar" . }}

    <div class="container" data-controller="status">
        <br/>
        <div class="alert alert-info">
            {{if .StatusType.IsNotFound}}
                <h5>No matching page, block, address or transaction that could be found.</h5>
            {{end}}
            <h5>{{.Message}}</h5>
        </div>
        <div id="initial-load" class="sync-progress">
        {{if .StatusType.IsSyncing}}
            <img src="/images/loader.gif" style="margin: 0px auto;display: block;"/>
        {{end}}
        </div>
        <div id="addresses-sync" class="sync-progress"></div>
    </div>
{{ template "footer" . }}
</body>
</html>
{{end}}
