{{define "status"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Status %s" .StatusType}}
    {{template "navbar" . }}

    <div class="container py-1" data-controller="status">
        <br/>
        <div class="alert alert-info" data-target="status.message">
            {{if .StatusType.IsNotFound}}
                <h5>No matching page, block, address or transaction that could be found.</h5>
                <h5>{{.Message}}</h5>
            {{else if .StatusType.IsWrongNet}}
                <h5>{{.Message}}
                {{if redirectToTestnet .NetName .Message}}
                    {{if ne .AdditionalInfo ""}}
                    You can <a href="{{.Links.TestnetSearch}}{{.AdditionalInfo}}">switch to testnet here.</a>
                    {{end}}
                {{else if redirectToMainnet .NetName .Message}}
                    {{if ne .AdditionalInfo ""}}
                    You can <a href="{{.Links.MainnetSearch}}{{.AdditionalInfo}}">switch to mainnet here.</a>
                    {{end}}
                {{end}}
                </h5>
            {{else if .StatusType.IsP2PKAddress}}
                {{$P2PKHAddr := PKAddr2PKHAddr .AdditionalInfo}}
                <h5>{{.Message}}
                {{if and (ne .AdditionalInfo "") (ne $P2PKHAddr "")}}
                    You can <a href="{{.Links.MainnetSearch}}{{$P2PKHAddr}}">search for the P2PKH address instead.</a>
                {{end}}
                </h5>
            {{else if .StatusType.IsFutureBlock}}
                <h5 data-target="status.futureBlock">{{.Message}}</h5>
            {{else}}
                <h5>{{.Message}}</h5>
            {{end}}
        </div>
        <div data-target="status.init" class="sync-progress">
        {{if .StatusType.IsSyncing}}
            <img src="/images/loader.gif" style="margin: 0px auto;display: block;"/>
        {{end}}
        </div>
        <div data-target="status.address" class="sync-progress"></div>
    </div>
{{ template "footer" . }}
</body>
</html>
{{end}}
