{{define "stats"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "Decred Statistics Page"}}

    <body>
        {{ template "navbar" . }}
        {{with .Stats}}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-sm-6 d-flex">
                    <h4 class="mb-2">Stats</h4>
                </div>
            </div>
            <div class="row">
                <div width="20%" class="col">
                    <h5 class="mb-2">Network Statistics</h5>
                    <div class="card">
                        <div class="card-header">Total Supply</div>
                        <div class="card-body">
                            <span>{{template "decimalParts" (amountAsDecimalParts .TotalSupply true)}}</span><span class="pl-1 unit">DCR</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Development Fund</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (amountAsDecimalParts .DevFunds true)}}</span><span class="pl-1 unit"> DCR</span>
                            <span class="mono lh1rem fs14-decimal fs18"><a href="/address/{{.DevAddress}}">Show Address</a></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Proof-Of-Work Difficulty</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (float64AsDecimalParts .POWDiff true)}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Hash Rate</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{.HashRate}}</span>
                        </div>
                    </div>
                </div>

                <div width="20%" class="col">
                    <h5 class="mb-2">Block Rewards</h5>
                    <div class="card">
                        <div class="card-header">Block Reward</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (amountAsDecimalParts .BlockReward true)}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Proof-Of-Work Reward</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (amountAsDecimalParts .POWReward true)}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Proof-Of-Stake Reward</div>
                        <div class="card-body">
                                <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (amountAsDecimalParts .POSReward true)}}</span><span class="unit"> DCR per Ticket</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Development Fund Reward</div>
                        <div class="card-body">
                            <span class="mono lh1rem fs14-decimal fs18">{{template "decimalParts" (amountAsDecimalParts .DevFundReward true)}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                </div>

                <div width="20%" class="col">
                    <h5 class="mb-2">Proof-Of-Stake Statistics</h5>
                    <div width="45%" class="card">
                        <div class="card-header">Votes In Mempool</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">{{.VotesInMempool}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Tickets In Mempool</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">{{.TicketsInMempool}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Ticket Price</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">{{template "decimalParts" (float64AsDecimalParts .TicketPrice false)}}</span><span class="unit"> DCR</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">TicketROI</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">+{{.TicketsROI}}%</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Ticket Pool Size</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">{{.TicketPoolSize}}</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Ticket Pool Value</div>
                        <div class="card-body">
                            <span id="bsubsidy_total">{{template "decimalParts" (float64AsDecimalParts  .TicketPoolValue true)}}</span>
                            <span class="mono lh1rem fs14-decimal fs18">{{.TPVOfTotalSupplyPeecentage}}% of Total Suppy</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Block Reward Adjustment</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-11 col-lg-8">
                                    <div class="progress" style="max-width: 330px">
                                        <div
                                            class="progress-bar"
                                            id="pow-window-progess-bar"
                                            role="progressbar"
                                            style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                            aria-valuenow="{{.IdxInRewardWindow}}"
                                            aria-valuemin="0"
                                            aria-valuemax="{{.RewardWindowSize}}"
                                        >
                                        <span id="powreward" class="nowrap pl-1">block <span id="reward_block_index" >{{.IdxInRewardWindow}}</span> of {{.RewardWindowSize}} ({{remaining .IdxInRewardWindow .RewardWindowSize .BlockTime}})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header">Ticket Window Progress</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-11 col-lg-8">
                                    <div class="progress">
                                        <div
                                            class="progress-bar"
                                            id="pos-window-progess-bar"
                                            role="progressbar"
                                            style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                            aria-valuenow="{{.IdxBlockInWindow}}"
                                            aria-valuemin="0"
                                            aria-valuemax="{{.WindowSize}}"
                                        >
                                        <span class="nowrap pl-1">block <span id="window_block_index" >{{.IdxBlockInWindow}}</span> of {{.WindowSize}} ({{remaining .IdxBlockInWindow .WindowSize .BlockTime}})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
        {{template "footer" . }}
    </body>

</html>
{{end}}