{{define "timelisting"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" printf "Decred %s List" .TimeGrouping}}
<body class="{{ theme }}">
    {{template "navbar" . }}
    <div class="container main" data-controller="time pagenavigation">
        <h4>{{.TimeGrouping}}</h4>

        {{block "timeBasedPagination" .}}
        {{$count := (int64 (len .Data))}}
        <div class="mb-1 fs13">
            {{if gt $count 0}}
            <div class="d-flex flex-wrap-reverse align-items-center justify-content-end list-display">
                {{$oldest := (add .Offset $count)}}
                {{$lastGrouping := (add .BestGrouping 1)}}
                {{$lowerCaseVal := (toLowerCase .TimeGrouping)}}
                {{$pending := (subtract $lastGrouping .Offset)}}
                {{$dropVal := $lastGrouping}}
                {{if gt $lastGrouping 200}}{{$dropVal = 200}}{{end}}

                {{template "listViewRouting" $lowerCaseVal}}

                <span class="fs12 nowrap text-right">
                    <label class="mb-0 mr-1" for="tbPagesize">Page Size</label>
                    <select
                        id="tbPagesize"
                        data-target="pagenavigation.pagesize"
                        data-action="change->pagenavigation#setPageSize"
                        data-offset="{{$.Offset}}"
                        data-offsetkey="offset"
                        class="form-control-sm mb-2 mr-sm-2 mb-sm-0 {{if lt $pending 20}}disabled{{end}}"
                        {{if lt $pending 20}}disabled="disabled"{{end}}
                    >
                    {{if ge $pending 20}}<option {{if eq $count 20}}selected{{end}} value="20">20</option>{{end}}
                    {{if ge $pending 30}}<option {{if eq $count 30}}selected{{end}} value="30">30</option>{{end}}
                    {{if ge $pending 50}}<option {{if eq $count 50}}selected{{end}} value="50">50</option>{{end}}
                    {{if ge $pending 100}}<option {{if eq $count 100}}selected{{end}} value="100">100</option>{{end}}
                    {{if eq $dropVal $count 20 30 50 100}}{{else}}<option value="{{$dropVal}}">{{$dropVal}}</option>{{end}}
                    {{if eq $count 20 30 50 100 200}}{{else}}<option selected value="{{$count}}">{{$count}}</option>{{end}}
                    </select>
                </span>
                <span class="fs12 nowrap text-right px-2">
                    {{intComma (add .Offset 1)}} &ndash; {{intComma $oldest}} of {{ intComma $lastGrouping }} rows
                </span>
                <nav aria-label="blocks navigation" data-limit="{{.Limit}}" class="m-2">
                    <ul class="pagination mb-0 pagination-sm">
                        <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/{{$lowerCaseVal}}?offset=0&rows={{.Limit}}"
                                id="next"
                            > Newest</a>
                        </li>
                        <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/{{$lowerCaseVal}}?offset={{subtract .Offset .Limit}}&rows={{.Limit}}"
                                id="next"
                            > Newer</a>
                        </li>
                        <li class="page-item {{if ge $oldest $lastGrouping}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/{{$lowerCaseVal}}?offset={{add .Offset .Limit}}&rows={{.Limit}}"
                                id="prev"
                            >Older</a>
                        </li>
                        <li class="page-item {{if ge $oldest $lastGrouping}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/{{$lowerCaseVal}}?offset={{subtract $lastGrouping .Limit}}&rows={{.Limit}}"
                                id="prev"
                            >Oldest</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {{else}}
            <span class="fs12 nowrap text-right list-display">no confirmed blocks found</span>
            {{end}}
        </div>
        {{end}}

        {{$lowerCaseVal := (toLowerCase .TimeGrouping)}}
        <div class="row">
            <div class="col-lg-24 v2-tables">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th class="text-right d-none d-sm-table-cell">
                                <span class="d-none d-md-inline">Regular</span>
                                <span class="d-md-none position-relative" data-tooltip="regular transactions">R</span>
                            </th>
                            <th class="text-right d-none d-sm-table-cell">
                                <span class="d-none d-md-inline">Votes</span>
                                <span class="d-md-none position-relative" data-tooltip="votes">V</span>
                            </th>
                            <th class="text-right d-none d-sm-table-cell">
                                <span class="d-none d-md-inline">Tickets</span>
                                <span class="d-md-none position-relative" data-tooltip="tickets">T</span>
                            </th>
                            <th class="text-right d-none d-sm-table-cell">
                                <span class="d-none d-md-inline">Revocations</span>
                                <span class="d-md-none position-relative" data-tooltip="revocations">X</span>
                            </th>
                            <th class="text-right d-table-cell d-sm-none">Txns</th>
                            <th class="text-right"><span class="d-none d-sm-inline">Total </span>Blocks</th>
                            <th class="text-right"><span class="d-none d-sm-inline">Total </span>Size</th>
                            <th class="text-right">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Data}}
                        <tr id="{{.EndBlock}}">
                            <td>
                               <a class="fs16 height" href="{{fetchRowLinkURL $lowerCaseVal .StartTime.T .EndTime.T}}">{{.FormattedStartTime}}</a>
                            </td>
                            <td class="text-right d-none d-sm-table-cell">{{intComma .Transactions}}</td>
                            <td class="text-right d-none d-sm-table-cell">{{intComma .Voters}}</td>
                            <td class="text-right d-none d-sm-table-cell">{{intComma .FreshStake}}</td>
                            <td class="text-right d-none d-sm-table-cell">{{intComma .Revocations}}</td>
                            <td class="text-right d-table-cell d-sm-none">{{intComma .TxCount}}</td>
                            <td class="text-right">{{intComma .BlocksCount}}</td>
                            <td class="text-right">{{.FormattedSize}}</td>
                            <td id="{{toLowerCase $.TimeGrouping}}" class="text-right" data-target="time.age" data-age="{{.StartTime.UNIX}}"></td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{if gt (len $.Data) 20}}
        <div style="margin-bottom:5%;">
            {{template "timeBasedPagination" .}}
        </div>
        {{end}}
    </div>

{{ template "footer" . }}

</body>
</html>
{{ end }}
