{{define "tx"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" printf "Decred Transaction %.20s..." .TxID}}
<body>
{{template "navbar"}}

<div class="container">

    <div class="row justify-content-between">
        <div class="col-md-8 col-sm-6">
            <h4 class="mb-2">
                Transaction
                <span class="fs15">
                {{if eq .Confirmations 0}}
                    <strong>( unconfirmed )</strong>
                {{else}}
                    ({{.Confirmations}} confirmations)
                {{end}}
                </span>
            </h4>
            <div class="lh1rem mb-1">
                <span class="break-word fs15 w80">{{.TxID}}</span>
                <a class="fs13 nowrap" href="/api/tx/{{.TxID}}?indent=true">view raw</a>
            </div>
            <table class="table-centered-1rem">
                {{if gt .BlockHeight 0}}
                    <tr>
                        <td class="text-right pr-2 h1rem p03rem0 xs-w91">INCLUDED IN BLOCK</td>
                        <td>
                             <a href="/explorer/block/{{.BlockHeight}}" class="fs18">{{.BlockHeight}}</a>
                        </td>
                    </tr>
                {{end}}
                <tr>
                    <td class="text-right pr-2 h1rem p03rem0">TYPE</td>
                    <td>
                        {{.Type}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 col-sm-6 d-flex">

            <table>
                <tr class="h2rem">
                    <td class="pr-2 lh1rem vam text-right xs-w91">TOTAL SENT</td>
                    <td class="fs28 mono nowrap"><span class="dcr mr-1">{{ .FormattedTotal}}</span><span class="fs18 vam">DCR</span></td>
                </tr>
                <tr>
                    <td class="text-right pr-2">TIME</td>
                    <td class="lh1rem">
                        {{if eq .Time 0}}
                            N/A
                        {{else}}
                            <span class="hidden timestamp">{{.Time}}</span>
                            ({{timezone}}) {{.FormattedTime}} <span class="op60 fs12 nowrap">(<span class="age">{{.Time}}</span> ago)</span>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right pr-2">SIZE</td>
                    <td class="mono">{{.FormattedSize}}</td>
                </tr>
                {{if .Fee }}
                {{if gt .Fee 0}}
                <tr>
                    <td class="text-right pr-2">FEE</td>
                    <td class="mono">{{.Fee}}</td>
                </tr>
                {{end}}
                {{end}}
                {{if .FeeRate}}
                {{if gt .Fee 0}}
                <tr>
                    <td class="text-right pr-2">RATE</td>
                    <td class="mono">{{.FeeRate}}/kB</td>
                </tr>
                {{end}}
                {{end}}
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-7 mb-3">
            <h4>Input</h4>
            <table class="table table-sm striped">
                <thead>
                    <th>Previous Outpoint</th>
                    <th>Addresses</th>
                    <th class="text-center">Block</th>
                    <th class="text-center">DCR</th>
                </thead>
                <tbody>
                    {{range .Vin}}
                    <tr>
                        <td>
                            {{if .Coinbase}}
                                Coinbase: {{ .Coinbase }}
                            {{else if .Stakebase}}
                                Stakebase: {{ .Stakebase }}
                            {{else}}
                                <a href="/explorer/tx/{{.Txid}}"><span class="break-word">{{.Txid}}:{{.Vout}}</span></a>
                            {{end}}
                        </td>
                        <td><div>
                            {{if gt (len .Addresses) 0}}
                                {{range .Addresses}}
                                    <a class="break-word" href="/explorer/address/{{.}}">{{.}}</a><br>
                                {{end}}
                            {{else}}
                                N/A
                            {{end}}
                        </div></td>
                        <td>
                        {{if or .Coinbase .Stakebase}}
                            created
                        {{else if eq .BlockHeight 0}}
                            pending
                        {{else}}
                            <a class="mono fs13" href="/explorer/block/{{.BlockHeight}}">{{.BlockHeight}}</a></td>
                        {{end}}
                        </td>
                        <td class="dcr mono fs13 text-right">{{if lt .AmountIn 0.0}} N/A {{else}} {{.FormattedAmount}} {{end}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="col-md-5 mb-3">
            <h4>Output</h4>
            <table class="table table-sm striped">
                <thead>
                    <th>Address</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">DCR</th>
                </thead>
                <tbody>
                    {{range .Vout}}
                    {{ if ne .Amount 0.0}}
                    <tr>
                        <td>
                            {{range .Addresses}}
                                <a class="break-word mono" href="/explorer/address/{{.}}">{{.}}</a><br>
                            {{end}}
                        </td>
                        <td>
				            {{.Type}}
                        </td>
                        <td class="dcr text-right">
                            {{.FormattedAmount}}
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{if .VoteInfo}}
    {{with .VoteInfo}}
    <div class="row mb-3">
        <div class="col-md-12">
            <h4>Vote Info</h4>
            <p>Version: <span class="mono">{{.Version}}</span> | Bits: <span class="mono">{{printf "%#04x" .Bits}}</span></p>
            <table class="table striped">
                <thead>
                    <th class="text-right">Issue ID</th>
                    <th>Issue Description</th>
                    <th>Choice ID</th>
                    <th>Choice Description</th>
                </thead>
                <tbody>
                    {{range .Choices}}
                    <tr>
                        <td class="text-right"><span class="highlight-text">{{.ID}}</span></td>
                        <td>{{.Description}}</td>
                        <td>
                            <span class="agenda-voting-overview-option-dot _{{.Choice.Id}}"></span>
                            {{.Choice.Id}}
                        </td>
                        <td>{{.Choice.Description}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{end}}
    {{end}}
</div>

{{template "footer"}}

</body>
</html>
{{end}}

