{{define "tx"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head"}}
<body>
{{template "navbar"}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Transaction</h4>
            <p>{{.TxID}}</p>
            <a href="/api/tx/{{.TxID}}?indent=true">View raw JSON</a>
            <table class="table">
                <thead>
                    <th>Transactions ID</th>
                    <th>Total Value</th>
                    <th>Time</th>
                    <th>Confirmations</th>
                    <th>Included in block</th>
                    <th>Size</th>
                </thead>
                <tbody>
                    {{with .TxShort}}
                    <tr>
                        <td><span class="hash collapse">{{.TxID}}</span></td>

                        <td>{{ .Vout | getTotalFromTx | getAmount}}</td>
                        <td>
                        {{if eq $.Block.Time 0}}
                            N/A
                        {{else}}
                            {{$.Block.Time | getTime }}
                        {{end}}
                        </td>

                        <td>
                        {{if eq $.Confirmations 0}}
                            Unconfirmed
                        {{else}}
                            {{$.Confirmations}}
                        {{end}}
                        </td>

                        <td>
                        {{if eq $.Block.BlockHeight 0}}
                            N/A
                        {{else}}
                            <a href="/explorer/block/{{$.Block.BlockHash}}">{{$.Block.BlockHeight}}</a></td>
                        {{end}}

                        <td>{{.Size}} B</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h4>In</h4>
            <table class="table table-sm">
                <thead>
                    <th>Transaction</th>
                    <th>Block Height </th>
                    <th>Sequence</th>
                    <th>Tree</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    {{range .Vin}}
                    <tr>
                        <td>
                            {{if .Coinbase}}
                                Coinbase: {{ .Coinbase }}
                            {{else if eq .Txid "0000000000000000000000000000000000000000000000000000000000000000"}}
                                Vote Reward
                            {{else}}
                            <a href="/explorer/tx/{{.Txid}}"><span class="hash collapse">{{.Txid}}</span></a>
                            {{end}}
                        </td>
                        <td>
                        {{if eq .BlockHeight 0}}
                            N/A
                        {{else}}
                            <a href="/explorer/block/{{$.Block.BlockHash}}">{{.BlockHeight}}</a></td>
                        {{end}}
                        </td>
                        <td>{{.Sequence}}</td>
                        <td>{{.Tree}}</td>
                        <td>{{if eq .AmountIn -1e-8}} N/A {{else}} {{.AmountIn}} {{end}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h4>Out</h4>
            <table class="table table-sm">
                <thead>
                    <th>Value</th>
                    <th>Address</th>
                </thead>
                <tbody>
                    {{range .Vout}}
                    {{ if ne .Value 0.0}}
                    <tr>
                        <td>
                            {{.Value | getAmount}}
                        </td>
                        <td>
                            {{range .ScriptPubKeyDecoded.Addresses}}
                                <div class="hash"><a href="/explorer/address/{{.}}">{{.}}</a></div>
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{template "footer"}}

</body>
</html>
{{end}}
