{{define "windows"}}
<!DOCTYPE html>
<html lang="en">
{{$lastWindow := 0}}
{{$oldest := 0}}

{{template "html-head" "Decred Windows List"}}
    {{template "navbar" . }}
    {{template "blocksBanner" .}}
    <div data-controller="pagenavigation" class="container main">
        {{$windowsCount := (int64 (len .Data))}}
        <div class="mb-1">
            {{if gt $windowsCount 0}}
            {{$pendingWindows := (int64 (index .Data 0).IndexVal)}}
            {{$oldest = (add .OffsetWindow $windowsCount)}}
            {{$lastWindow = (add .BestWindow 1)}}
            {{$dropVal := $lastWindow}}
            {{if gt $lastWindow 200}}{{$dropVal = 200}}{{end}}
            <div class="d-flex justify-content-between align-items-end">
              <span class="h2 d-flex pt-4 pb-1 pr-2">
                Windows
                <span class="dcricon-info fs24 ml-3 mt-2"></span>
              </span>

              <div class="pb-1 d-flex justify-content-end align-items-end flex-wrap">
              <span class="fs12 nowrap text-secondary px-2 my-2">
                    {{intComma (add .OffsetWindow 1)}} &ndash; {{intComma $oldest}} of {{ intComma $lastWindow }} rows
                </span>
                <span class="fs12 nowrap text-right">
                    <select
                        data-target="pagenavigation.pagesize"
                        data-action="change->pagenavigation#setPageSize"
                        data-offset="{{$.OffsetWindow}}"
                        data-offsetkey="offset"
                        class="dropdown text-secondary my-2 {{if lt $pendingWindows 10}}disabled{{end}}"
                        {{if lt $pendingWindows 10}}disabled="disabled"{{end}}
                    >
                      {{if eq $windowsCount 20 30 50 100 200}}{{else}}<option selected value="{{$windowsCount}}">{{$windowsCount}} per page</option>{{end}}
                      {{if ge $pendingWindows 20}}<option {{if eq $windowsCount 20}}selected{{end}} value="20">20 per page</option>{{end}}
                      {{if ge $pendingWindows 30}}<option {{if eq $windowsCount 30}}selected{{end}} value="30">30 per page</option>{{end}}
                      {{if ge $pendingWindows 50}}<option {{if eq $windowsCount 50}}selected{{end}} value="50">50 per page</option>{{end}}
                      {{if ge $pendingWindows 100}}<option {{if eq $windowsCount 100}}selected{{end}} value="100">100 per page</option>{{end}}
                      {# {{if eq $dropVal $windowsCount 20 30 50 100}}{{else}}<option value="{{$dropVal}}">{{$dropVal}} per page</option>{{end}} #}
                    </select>
                </span>
                <nav aria-label="blocks navigation" data-limit="{{.Limit}}" class="ml-2 my-2 d-inline-block text-right">
                  <ul class="pages mb-0">
                    {{if ne .OffsetWindow 0}}
                    <li>
                        <a
                        class="text-secondary"
                        href="/ticketpricewindows?offset=0&rows={{.Limit}}"
                        > Newest</a>
                    </li>
                    <li>
                        <a
                        class="text-secondary"
                        href="/ticketpricewindows?offset={{ subtract .OffsetWindow .Limit }}&rows={{.Limit}}"
                        > Newer</a>
                    </li>
                    {{end}}
                    {{if lt $oldest $lastWindow}}
                    <li>
                        <a
                        class="text-secondary"
                        href="/ticketpricewindows?offset={{ add .OffsetWindow .Limit }}&rows={{.Limit}}"
                        >Older</a>
                    </li>
                    <li>
                        <a
                        class="text-secondary"
                        href="/ticketpricewindows?offset={{subtract $lastWindow .Limit}}&rows={{.Limit}}"
                        >Oldest</a>
                    </li>
                    {{end}}
                  </ul>
                </nav>
              </div>
            </div>
            {{else}}
            <span class="fs12 nowrap text-right list-display">no confirmed windows found</span>
            {{end}}
        </div>

        <div class="bg-white px-1 px-md-4 pb-4">
          <table class="table v3">
              <thead>
                  <tr>
                      <th class="text-left pl-0">Window #</th>
                      <th class="text-center">End<span class="d-none d-sm-inline"> Block</span></th>
                      <th class="text-center d-none d-sm-table-cell">
                          <span class="d-none d-md-inline">Regular</span>
                          <span class="d-md-none position-relative" data-tooltip="regular transactions">R</span>
                      </th>
                      <th class="text-center d-none d-sm-table-cell">
                          <span class="d-none d-md-inline">Votes</span>
                          <span class="d-md-none position-relative" data-tooltip="votes">V</span>
                      </th>
                      <th class="text-center d-none d-sm-table-cell">
                          <span class="d-none d-md-inline">Tickets</span>
                          <span class="d-md-none position-relative" data-tooltip="tickets">T</span>
                      </th>
                      <th class="text-center d-none d-sm-table-cell">
                          <span class="d-none d-md-inline">Revocations</span>
                          <span class="d-md-none position-relative" data-tooltip="revocations">X</span>
                      </th>
                      <th class="text-center d-table-cell d-sm-none">Txns</th>
                      <th><span class="d-none d-sm-inline">Total </span>Size</th>
                      <th class="text-center d-none d-sm-table-cell">Difficulty</th>
                      <th class="text-center"><span class="d-none d-sm-inline">Ticket </span>Price<span class="d-none d-sm-inline"> (DCR)</span></th>
                      <th class="text-right pr-0 jsonly">Age</th>
                      <th class="text-right pr-0 d-none d-sm-table-cell">Start Time (UTC)</th>
                  </tr>
              </thead>
              <tbody>
              {{range .Data}}
                  <tr>
                      <td class="text-left pl-0">
                          {{if lt .BlocksCount $.WindowSize}} <span>({{.BlocksCount}}/{{$.WindowSize}}) </span>{{end}}
                          <span>{{.IndexVal}}</span>
                      </td>
                      <td class="text-center">
                          <a class="fs16 height" data-keynav-priority href="/blocks?height={{.EndBlock}}&rows=20">{{.EndBlock}}</a>
                      </td>
                      <td class="text-center d-none d-sm-table-cell">{{intComma .Transactions}}</td>
                      <td class="text-center d-none d-sm-table-cell">{{intComma .Voters}}</td>
                      <td class="text-center d-none d-sm-table-cell">{{intComma .FreshStake}}</td>
                      <td class="text-center d-none d-sm-table-cell">{{intComma .Revocations}}</td>
                      <td class="text-center d-table-cell d-sm-none">{{intComma .TxCount}}</td>
                      <td>{{.FormattedSize}}</td>
                      <td class="text-center d-none d-sm-table-cell">{{template "decimalParts" (float64AsDecimalParts .Difficulty 0 true)}}</td>
                      <td class="text-center">{{printf "%.2f" (toFloat64Amount .TicketPrice)}}</td>
                      <td class="text-right pr-0 jsonly" data-controller="time" data-target="time.age" data-age="{{.StartTime.UNIX}}"></td>
                      <td class="text-right pr-0 d-none d-sm-table-cell">{{.StartTime.DatetimeWithoutTZ}}</td>
                  </tr>
              {{end}}
              </tbody>
          </table>
          {{if len .Pages}}
          <div class="text-right pr-3">
            {{if ne .OffsetWindow 0}}
              <a href="/ticketpricewindows?offset={{ subtract .OffsetWindow .Limit }}&rows={{.Limit}}"
              class="d-inline-block dcricon-arrow-left m-1 fs20"></a>
            {{end}}
            {{range .Pages}}
              {{if eq .Link ""}}
                <span>{{.Str}}</span>
              {{else}}
                <a href="{{.Link}}" class="fs18 pager px-1{{if .Active}} active{{end}}">{{.Str}}</a>
              {{end}}
            {{end}}
            {{if lt $oldest $lastWindow}}
              <a href="/ticketpricewindows?offset={{ add .OffsetWindow .Limit }}&rows={{.Limit}}"
              class="d-inline-block dcricon-arrow-right m-1 fs20"></a>
            {{end}}
          </div>
        </div>
        {{end}}
    </div>

{{ template "footer" . }}

</body>
</html>
{{ end }}
