{{define "windows"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "Decred Windows List"}}
<body class="{{ theme }}">
    {{template "navbar" . }}
    <div class="container main" data-controller="time">
        <h4>Ticket Price Windows</h4><h6>The ticket price and mining difficulty are adjusted every {{$.WindowSize}} blocks on {{toLowerCase .NetName}} (~12 hours).</h6>

        {{block "windowsPagination" .}}
        {{$windowsCount := (int64 (len .Data))}}
        <div class="mb-1 fs13">
            {{if gt $windowsCount 0}}
            {{$pendingWindows := (int64 (index .Data 0).IndexVal)}}
            <div class="d-flex flex-wrap-reverse align-items-center justify-content-end list-display">
                {{$oldest := (add .OffsetWindow $windowsCount)}}
                {{$lastWindow := (add .BestWindow 1)}}
                {{template "listViewRouting" "windows"}}

                <span class="fs12 nowrap text-right">
                    <label class="mb-0 mr-1" for="windows-pagesize">Page Size</label>
                    <select
                        name="windows-pagesize"
                        id="windows-pagesize"
                        class="form-control-sm mb-2 mr-sm-2 mb-sm-0 {{if lt $pendingWindows 20}}disabled{{end}}"
                        {{if lt $pendingWindows 20}}disabled="disabled"{{end}}
                    >
                    {{if ge $pendingWindows 20}}<option {{if eq $windowsCount 20}}selected{{end}} value="20">20</option>{{end}}
                    {{if ge $pendingWindows 30}}<option {{if eq $windowsCount 30}}selected{{end}} value="30">30</option>{{end}}
                    {{if ge $pendingWindows 50}}<option {{if eq $windowsCount 50}}selected{{end}} value="50">50</option>{{end}}
                    {{if ge $pendingWindows 100}}<option {{if eq $windowsCount 100}}selected{{end}} value="100">100</option>{{end}}
                    {{if eq $lastWindow $windowsCount 20 30 50 100}}{{else}}<option value="{{$lastWindow}}">{{$lastWindow}}</option>{{end}}
                    {{if eq $windowsCount 20 30 50 100}}{{else}}<option selected value="{{$windowsCount}}">{{$windowsCount}}</option>{{end}}
                    </select>
                </span>
                <span class="fs12 nowrap text-right">
                    {{intComma (add .OffsetWindow 1)}} &ndash; {{intComma $oldest}} of {{ intComma $lastWindow }} rows
                </span>
                <nav aria-label="blocks navigation" data-limit="{{.Limit}}" class="ml-2">
                    <ul class="pagination mb-0 pagination-sm">
                        <li class="page-item {{if eq .OffsetWindow 0}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/ticketpricewindows?offset=0&rows={{.Limit}}"
                                id="next"
                            > Newest</a>
                        </li>
                        <li class="page-item {{if eq .OffsetWindow 0}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/ticketpricewindows?offset={{ subtract .OffsetWindow .Limit }}&rows={{.Limit}}"
                                id="next"
                            > Newer</a>
                        </li>
                        <li class="page-item {{if ge $oldest $lastWindow}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/ticketpricewindows?offset={{ add .OffsetWindow .Limit }}&rows={{.Limit}}"
                                id="prev"
                            >Older</a>
                        </li>
                        <li class="page-item {{if ge $oldest $lastWindow}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/ticketpricewindows?offset={{subtract $lastWindow .Limit}}&rows={{.Limit}}"
                                id="prev"
                            >Oldest</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {{else}}
            <span class="fs12 nowrap text-right list-display">no confirmed windows found</span>
            {{end}}
        </div>
        {{end}}

        <div class="row">
            <div class="col-md-12">
                <table class="table striped table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-right">Ticket Price Window #</th>
                            <th class="text-right">End Block</th>
                            <th class="text-right">Transactions</th>
                            <th class="text-right">Votes</th>
                            <th class="text-right">Tickets</th>
                            <th class="text-right">Revokes</th>
                            <th>Total Size</th>
                            <th class="text-right">Difficulty</th>
                            <th class="text-right">Ticket Price (DCR)</th>
                            <th class="text-right jsonly">Age</th>
                            <th>Start Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Data}}
                        <tr id="{{.EndBlock}}">
                            <td class="text-right">
                                {{$blocksCount := (.BlocksCount)}}
                                {{if lt .BlocksCount $.WindowSize}}{{$blocksCount = (subtract .BlocksCount 1)}} <span>({{$blocksCount}}/{{$.WindowSize}}) </span>{{end}}
                                <span>{{.IndexVal}}</span>
                            </td>
                            <td class="text-right">
                                <a class="fs16 height" href="/blocks?height={{.EndBlock}}&rows=20">{{.EndBlock}}</a>
                            </td>
                            <td class="text-right">{{intComma .Transactions}}</td>
                            <td class="text-right">{{intComma .Voters}}</td>
                            <td class="text-right">{{intComma .FreshStake}}</td>
                            <td class="text-right">{{intComma .Revocations}}</td>
                            <td>{{.FormattedSize}}</td>
                            <td class="text-right">{{template "decimalParts" (float64AsDecimalParts .Difficulty 0 true)}}</td>
                            <td class="text-right">{{printf "%.2f" (toFloat64Amount .TicketPrice)}}</td>
                            <td class="text-right jsonly" data-target="time.age" data-age="{{.StartTime}}"></td>
                            <td>{{.StartTime}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{if gt (len $.Data) 20}}
        <div style="margin-bottom:5%;">
            {{template "windowsPagination" .}}
        </div>
        {{end}}
    </div>

{{ template "footer" . }}

<script>
    $("#windows-pagesize").change(function(ev) {
        var pagesize = "20"
        var offset = {{$.OffsetWindow}}
        if (ev.currentTarget.id.indexOf("windows-pagesize") != -1){
            pagesize = $("#windows-pagesize option:selected").val()
        }

        Turbolinks.visit(
            window.location.pathname
            + "?offset="+ offset
            + "&rows=" + pagesize
        )
    })
</script>

</body>
</html>
{{ end }}
