{{define "windows"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "Decred Blocks Windows"}}
<body class="{{ theme }}">
    {{template "navbar" . }}
    <div class="container main" data-controller="main">
        <h4><span>Windows</span></h4>
        {{ $windowsCount := (int64 (len .Data)) }}
        {{ $topWindow := (int64 (index .Data 0).Window) }}
        <div class="mb-1 fs13">
            {{if gt $windowsCount 0}}
            <div class="d-flex flex-wrap-reverse align-items-center justify-content-end list-display">
                <span class="fs12 nowrap text-right">
                    {{intComma (add $.OffsetWindow 1)}} &mdash; {{intComma (add $.OffsetWindow $windowsCount)}} of {{ intComma (add .BestWindow 1) }} windows
                </span>
                <nav aria-label="blocks navigation" data-limit="{{.Limit}}" class="ml-2">
                    <ul class="pagination mb-0 pagination-sm">
                        <li class="page-item {{if le (index .Data (subtract $windowsCount 1)).Window 1}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/windows?offset={{ add .OffsetWindow .Limit }}&rows={{.Limit}}"
                                id="prev"
                            >Previous</a>
                        </li>
                        <li class="page-item {{if gt $topWindow .BestWindow}}disabled{{end}}">
                            <a
                                class="page-link"
                                href="/windows?offset={{ subtract .OffsetWindow .Limit }}&rows={{.Limit}}"
                                id="next"
                            > Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {{else}}
            <span class="fs12 nowrap text-right list-display">no confirmed windows found</span>
            {{end}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table striped table-responsive">
                    <thead>
                        <tr>
                            <th>Window</th>
                            <th>End Block</th>
                            <th>Transactions</th>
                            <th>Votes</th>
                            <th>Tickets</th>
                            <th>Revocations</th>
                            <th>Total Size</th>
                            <th>Difficulty</th>
                            <th>Ticket Price (DCR)</th>
                            <th>Age</th>
                            <th>Start Time ({{timezone}})</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Data}}
                        <tr id="{{.StartBlock}}">
                            <td>
                                <span>{{.Window}}</span>
                                {{$blocksCount := (.BlocksCount)}}
                                {{if lt .BlocksCount $.WindowSize}}{{$blocksCount = (subtract .BlocksCount 1)}} <span>({{$blocksCount}}/{{$.WindowSize}}) </span>{{end}}
                            </td>
                            <td>
                                {{$nextEndBlock := (add .StartBlock $blocksCount)}}
                                <a class="fs16 height" href="/block/{{$nextEndBlock}}">{{$nextEndBlock}}</a>
                            </td>
                            <td>{{.Transactions}}</td>
                            <td>{{.Voters}}</td>
                            <td>{{.FreshStake}}</td>
                            <td>{{.Revocations}}</td>
                            <td>{{.FormattedSize}}</td>
                            <td>{{template "decimalParts" (float64AsDecimalParts .Difficulty 0 true)}}</td>
                            <td>{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .TicketPrice) 2 false)}}</td>
                            <td data-target="main.age" data-age="{{.StartTime}}"></td>
                            <td>{{.FormattedTime}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer" . }}

</body>
</html>
{{ end }}