/* dygraph */
.dygraph-label {
    font-size: 14px;
}
.dygraph-legend-line {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    padding-left: 1em;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.dygraph-legend-dash {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.dygraph-roller {
    position: absolute;
    z-index: 10;
}
.dygraph-axis-label {
    z-index: 10;
    line-height: normal;
    overflow: hidden;
    color: black;
}
.dygraph-xlabel {
    text-align: center;
}
.dygraph-label-rotate-left {
    text-align: center;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.dygraph-label-rotate-right {
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
/* chart theme */
.chart-wrapper {
    position: relative;
}
.chart-wrapper.loading .spinner-wrapper {
    display: block;
}
.chart-control-wrapper {
    border: 1px solid #E6EAED;
}
.chart-control-label {
    font-size: 14px;
    font-weight: 600;
    color: #8997A5;
    text-align: center;
    border-bottom: 1px solid #E6EAED;
}
.chart-control {
    padding: 2px;
    background: #fff;
    height: 42px;
}
.chart-control select,
.chart-control input {
    border: none;
}
.chart-control input {
    height: 38px;
}
.chart-control-wrapper {
    border-left:  1px solid #E6EAED;
}
.legend-wrapper {
    position: absolute;
    top: 0;
    left: 100px;
    right: 20px;
}
.legend {
    background: #ececec;
    z-index: 10000;
    padding: 0 2px 0 5px;
    font-size: 14px;
}
.darkBG .dygraph-axis-label {
    color:  #C4CBD2;
}
.darkBG .chart-control {
    background: #2b2b2b;
}
.darkBG .chart-control-label,
.darkBG .chart-control-wrapper {
    color: #eeeeef;
    border-color: #2b2b2b;
}
.darkBG .legend {
    background: #2a2a2a;
}
.align-bottom {
    position: relative;
}
.address-btn {
    margin-bottom: 5px !important;
}
.d-hide {
    display: none !important;
}