/* dygraph */
.dygraph-label {
    font-size: 14px;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(214,225,231, .3 )
                url('/images/loader.gif')
                50% 50%
                no-repeat;
}
body.loading .modal {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.bal-d {
    font-weight: bolder;
    margin: 0 auto;
    text-align: center;
}
.btn_sm {
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: linear-gradient(#ffffff, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.50) !important;
  }

  .btn-active, .btn:active {
    background-color: hsl(195, 79%, 43%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
    background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
    background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
    background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
    background-image: linear-gradient(#56c5eb, #1798c4);
    border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15) !important;
   }

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.chart-btn-display, .block-chart-btn-display {
    display: none;
    line-height: 0.8;
}
.dygraph-legend-line {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    padding-left: 1em;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.dygraph-legend-dash {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.dygraph-roller {
    position: absolute;
    z-index: 10;
}
.dygraph-axis-label {
    z-index: 10;
    line-height: normal;
    overflow: hidden;
    color: black;
}
.dygraph-xlabel {
    text-align: center;
}
.dygraph-label-rotate-left {
    text-align: center;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.dygraph-label-rotate-right {
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
/* chart theme */
.chart-wrapper {
    position: relative;
}
.chart-wrapper.loading .spinner-wrapper {
    display: block;
}
.chart-control-wrapper {
    border: 1px solid #E6EAED;
}
.chart-control-label {
    font-size: 14px;
    font-weight: 600;
    color: #8997A5;
    text-align: center;
    border-bottom: 1px solid #E6EAED;
}
.chart-control {
    padding: 2px;
    background: #fff;
    height: 42px;
}
.chart-control select,
.chart-control input {
    border: none;
}
.chart-control input {
    height: 38px;
}
.chart-control-wrapper {
    border-left:  1px solid #E6EAED;
}
.legend-wrapper {
    position: absolute;
    top: 0;
    left: 100px;
    right: 20px;
}
.legend {
    background: #ececec;
    z-index: 10000;
    padding: 0 2px 0 5px;
    font-size: 14px;
}
.darkBG .dygraph-axis-label {
    color:  #C4CBD2;
}
.darkBG .chart-control {
    background: #2b2b2b;
}
.darkBG .chart-control-label,
.darkBG .chart-control-wrapper {
    color: #eeeeef;
    border-color: #2b2b2b;
}
.darkBG .legend {
    background: #2a2a2a;
}
.align-bottom {
    position: relative;
}
.address-btn {
    margin-bottom: 5px !important;
}
.d-hide {
    display: none !important;
}