.chart-wrapper {
    position: relative;
}
.chart-wrapper.loading .spinner-wrapper {
    display: block;
}
.legend {
    min-width: 360px;
}

.dygraph-legend {
    position: absolute;
    font-size: 14px;
    z-index: 10;
    background: white;
    line-height: normal;
    text-align: left;
    overflow: hidden;
    padding: 4px !important;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content !important;
    color: #3D5873;
}
.dygraph-rangesel-bgcanvas {
    z-index: 0 !important;
}
.dygraph-rangesel-fgcanvas {
    z-index: 0 !important;
}
.dygraph-rangesel-zoomhandle {
    z-index: 0 !important;
}
.dygraph-axis-label {
    z-index: 0 !important;
}
.dygraph-label {
    font-size: 14px;
}
.dygraph-legend-line {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    padding-left: 1em;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.dygraph-legend-dash {
    display: inline-block;
    position: relative;
    bottom: .5ex;
    height: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.dygraph-roller {
    position: absolute;
    z-index: 10;
}
.dygraph-annotation {
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
.dygraph-default-annotation {
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.dygraph-axis-label {
    z-index: 10;
    line-height: normal;
    overflow: hidden;
    color: black; 
}

.dygraph-title {
    font-weight: bold;
    z-index: 10;
    text-align: center;
}

.dygraph-xlabel {
    text-align: center;
}
.dygraph-label-rotate-left {
    text-align: center;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.dygraph-label-rotate-right {
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.darkBG .dygraph-axis-label {
    color:  #C4CBD2;
}