@font-face {
    font-family: 'Source Sans Pro';
    src:  url('/fonts/source-sans-pro-v9-latin-regular.eot');
    src:  url('/fonts/source-sans-pro-v9-latin-regular.eot#iefix') format('embedded-opentype'),
    url('/fonts/source-sans-pro-v9-latin-regular.woff') format('woff'),
    url('/fonts/source-sans-pro-v9-latin-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src:  url('/fonts/inconsolata-v15-latin-regular.eot');
    src:  url('/fonts/inconsolata-v15-latin-regular.eot#iefix') format('embedded-opentype'),
    url('/fonts/inconsolata-v15-latin-regular.woff') format('woff'),
    url('/fonts/inconsolata-v15-latin-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src:  url('/fonts/inconsolata-bold-webfont.eot');
    src:  url('/fonts/inconsolata-bold-webfont.eot#iefix') format('embedded-opentype'),
    url('/fonts/inconsolata-bold-webfont.woff') format('woff'),
    url('/fonts/inconsolata-bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
*:focus {
    outline: none !important;
}
body {
    background-color: #F4F6F6;
}
#nexthome .container {
    max-width: 100% !important;
    width: 100%;
    padding: 0 10%;
}
#mainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    align-items: flex-start;
}
.flex-space {
    width: 5%;
}
.blocks-section {
    flex-grow: 1;
    flex-basis: 250px;
}
.blocks-section .title,
.netstats-section .title {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.blocks-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-gap: 20px;
}
.block {
    display: none;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border: 1px solid #c4cbd2;
    position: relative;
}
.block.visible {
    display: block;
}
.block-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .2em .5em;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 1px solid #c4cbd2;
}
.block-info .amount {
    flex-grow: 1;
    text-align: center;
}
.block-info a.color-code {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    color: #989898;
    text-align: left;
}
.block-info span.timespan {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    color: #989898;
    text-align: right;
}
.block-rows {
  display: flex;
  flex-direction: column;
  height: 90px;
  padding: 1px;
}
.block-rows .block-rewards,
.block-rows .block-votes,
.block-rows .block-tickets,
.block-rows .block-transactions {
  flex-basis: 5px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  border-top: 1px solid white;
}
.block-rows .block-rewards {
    border-top: none;
}
.block-rows .block-rewards > span,
.block-rows .block-votes > span,
.block-rows .block-tickets > span,
.block-rows .block-transactions > span {
  border-left: 1px solid white;
}
.block-rows .block-rewards > span:first-child,
.block-rows .block-votes > span:first-child,
.block-rows .block-tickets > span:first-child,
.block-rows .block-transactions > span:first-child {
    border-left: none;
}
.block-rows .block-rewards > span {
  position: relative;
  flex-basis: 10px;
  flex-grow: 1;
}
.block-rows .block-rewards .pow .paint {
  opacity: 0.4;
}
.block-rows .block-rewards .pos .paint {
  opacity: 0.6;
}
.block-rows .block-rewards .fund .paint {
  opacity: 0.8;
}
.block-rows .block-rewards .paint {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2ed6a1;
}
.block-rows .block-rewards > .fees {
  background-color: #2ed6a1;
}
.block-rows .block-votes > span,
.block-rows .block-tickets > span,
.block-rows .block-transactions > span {
  flex-basis: 5px;
  flex-grow: 1;
}
.block-rows .block-element-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.3;
    color: #5a5a5a;
}
.block-rows .block-tickets .block-ticket {
  background-color: #FFC84D;
}
.block-rows .block-tickets .block-rev {
  background-color: #FD714A;
}
.block-rows .block-transactions .block-tx {
  background-color: #c4cbd2;
}
.block-rows .block-element-link,
.block-rows .block-element-link:hover {
    text-decoration: none;
}
.netstats-section {
    flex-shrink: 0;
}
#mainContainer .decimal {
    margin-left: 0;
}
.netstats-section .statCard {
  background: white;
  padding: 15px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
  margin-bottom: 20px;
}
.netstats-section .statCard img {
    margin-top: 4px;
    margin-bottom: 12px;
    margin-right: 12px;
    float: left;
}
.netstats-section .statCard p.statcard-title {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0;
    font-size: 14px;
}
.netstats-section .statCard .heading {
    color: #8997A5;
    font-size: 12px;
}
.netstats-section .statCard .data {
    font-family: "Inconsolata", monospace;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.netstats-section .statCard .data span:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.netstats-section .statCard .data p {
    margin: 0;
}
.netstats-section .statCard span {
    line-height: 29px;
}
.netstats-section .statCard .subdata {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: semibold;
    color: #8997A5;
}
.netstats-section .statCard .subdata p {
    margin: 0;
}
.netstats-section .statCard .subdata span {
    font-size: 12px;
}
.showmore {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    cursor: pointer;
    border-radius: 4px;
}
.showmore p {
    margin-bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #8997A5;
    font-size: 14px;
}
.blockhchainWrapper {
    padding: 60px 0;
}
.blockhchainWrapper .title {
    font-family: "Source Sans Pro", sans-serif;
    color: #2970FF;
    font-size: 20px;
    margin-bottom: 30px;
}
.blockhchainWrapper table#blockchainTable {
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}
.blockhchainWrapper table#blockchainTable tr {
    border-bottom: 1px solid #d1d7dc;
}
.blockhchainWrapper table#blockchainTable tr.heading {
    background: #ffffff;
    color: #17173C;
    height: 40px;
}
.blockhchainWrapper table#blockchainTable tr.data {
    font-family: "Inconsolata", monospace;
    height: 50px;
    cursor: pointer;
    transition: 0.1s linear;
}
.blockhchainWrapper table#blockchainTable tr.data td.blocks {
    color: #2970FF;
}
.blockhchainWrapper table#blockchainTable tr.data td.selector {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.blockhchainWrapper table#blockchainTable tr.data td.selector span {
    position: absolute;
    background: none;
    border: 2px solid #2970FF;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.blockhchainWrapper table#blockchainTable tr.data td.selector span.clicked {
    background: #2970FF;
}
.blockhchainWrapper table#blockchainTable tr.data:hover {
    background: #eeeeee;
}
#mainContainer.stats {
    padding: 60px 0;
}
#mainContainer.stats .title {
    font-family: "Source Sans Pro", sans-serif;
    color: #3D5873;
    font-size: 30px;
    margin-bottom: 30px;
}
#mainContainer.stats .statCardWrap {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    border: 1px solid #d1d7dc;
    overflow: hidden;
    margin-bottom: 25px;
    height: 160px;
}
#mainContainer.stats .statCardWrap .heading {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #E6EAED;
    color: #8997A5;
    padding: 7.5px;
    text-transform: uppercase;
}
#mainContainer.stats .statCardWrap .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#mainContainer.stats .statCardWrap .content .data {
    width: 80%;
    padding: 25px 0;
}
#mainContainer.stats .statCardWrap .content .data .count {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #3D5873;
}
#mainContainer.stats .statCardWrap .content .data .count span.subcount {
    font-size: 16px;
}
#mainContainer.stats .statCardWrap .content .data a .footing {
    font-size: 14px;
    color: #2970FF;
}
#mainContainer.stats .statCardWrap .content .data .footing {
    font-size: 14px;
    color: #C4CBD2;
    font-family: "Source Sans Pro", sans-serif;
}
#mainContainer.stats .statCardWrap .progress {
    position: relative;
    overflow: visible;
    background: #d9faf3;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-top: 35px;
}
#mainContainer.stats .statCardWrap .progress .progress-bar {
    border-radius: 100px;
    background: #1dd0aa;
}
#mainContainer.stats .statCardWrap .progress .progress-bar .tool {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    transform: translateX(-50%);
    top: -35px;
    color: #17a385;
    background: #c2f7eb;
    border-radius: 5px;
    padding: 5px;
    transition: .6s linear;
}
.lh15rem {
    line-height: 1.5rem !important;
}
#mainContainer.stats.collaspe .statCardWrap {
    margin-bottom: 0;
    height: 75px;
}
#mainContainer.stats.collaspe .statCardWrap .heading {
    justify-content: flex-start;
    padding-left: 5%;
}
#mainContainer.stats.collaspe .statCardWrap .content {
    justify-content: flex-start;
    text-align: left;
}
#mainContainer.stats.collaspe .statCardWrap .content .data {
    position: relative;
    width: 100%;
    padding: 25px 5%;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .progress {
    border-radius: 2px;
    margin-bottom: 0;
    background: #8997A5;
    margin-top: 0;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .progress .progress-bar {
    border-radius: 2px;
    background: #1dd0aa;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .progress .progress-bar .tool {
    display: none;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .count {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: normal;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .count span.subcount {
    font-size: 16px;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .footing {
    display: none;
}
#mainContainer.stats.collaspe .statCardWrap .content .data .progress + .footing {
    display: block;
    position: absolute;
    color: #ffffff;
    top: 24px;
    left: calc(5% + 7px);
    z-index: 99;
}
.img-size {
    height: 20px;
}
.networkStatsWrap,
.blockRewardsWrapper,
.proofofstakeWrapper {
    padding-right: 50px;
}
.tippy-tooltip.light-theme {
    color: #26323d;
    box-shadow: 0 0 20px 4px rgba(154,161,177,.15), 0 4px 80px -8px rgba(36,40,47,.25), 0 4px 4px -2px rgba(91,94,105,.15);
    background-color: #fff;
}
.tippy-popper[x-placement^=top] .tippy-arrow {
    border-top-color: white;
}
@media (max-width: 1070px) {
    .netstats-section {
        width: 100%;
    }
    .flex-space {
        display: none;
    }
    .blocks-section {
        margin-top: 0;
    }
}
@media (min-width: 1400px) {
    .top-nav .logo a {
        width: 120px !important;
    }
}
@media (min-width: 800px) {
    header .right .searchbox.full input {
        flex: 1;
    }
}
@media (max-width: 600px) {
    header .right .searchbox input {
        width: 150px;
    }
}
@media only screen and (max-width: 768px) {
    #nexthome .container {
        padding: 0 5%;
    }
    .top-nav .logo a {
        width: 90px !important;
    }
    .nh-col-md-6 {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-4 {
        flex: 0 0 100%;
        max-width: 33.333333%;
    }
    .netstats-section .statCard {
        margin-right: 1% !important;
        min-height: fit-content;
    }
    .dcr-icon {
        width: 100px;
    }
    .dcr-icon-container {
        width: 100px;
    }
}
@media only screen and (max-width: 576px) {
    .blocks-section {
        padding: 0 0;
    }
    .col-lg-4 {
        flex: 0 0 100%;
        max-width: 50%;
    }
    .statCard .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .dcr-icon {
        width: 60px;
    }
    .dcr-icon-container {
        width: 60px;
    }
    .navbar-fixed-bottom {
        font-size: 12px;
    }
}
body.darkBG .netstats-section .statCard {
    background: #2d2d2d!important
}
body.darkBG .blocks-section .showmore {
    background: #2d2d2d!important
}
body.darkBG .blocks-holder .info-block {
    background: #2d2d2d!important
}
body.darkBG .blocks-holder .info-block .color-code {
    color: rgba(148, 255, 202, .75)!important
}
input#search {
    background: inherit!important
}
