{{define "charts"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Decred Charts"}}
    {{template "navbar" . }}

    <div data-controller="charts"
         data-charts-tps="{{.TargetPoolSize}}"
         data-charts-svh="{{.ChainParams.StakeValidationHeight}}"
         data-charts-pos="{{.ChainParams.StakeRewardProportion}}"
         data-charts-premine="{{.Premine}}"
         data-charts-bs="{{.ChainParams.BaseSubsidy}}"
         data-charts-sri="{{.ChainParams.SubsidyReductionInterval}}"
         data-charts-mul-subsidy="{{.ChainParams.MulSubsidy}}"
         data-charts-div-subsidy="{{.ChainParams.DivSubsidy}}"
         data-charts-window-size="{{.ChainParams.StakeDiffWindowSize}}"
         data-charts-block-time="{{.ChainParams.TargetTimePerBlock.Seconds}}">

        <div class="container main">

            <div class="d-flex flex-wrap justify-content-center align-items-center chart-controls mb-1 mt-1">

                <div class="chart-control-wrapper me-2 mb-1">
                    <div class="chart-control-label">CHART</div>
                    <div class="chart-control">
                        <select
                            id="selectBox"
                            class="form-control chart-form-control"
                            data-charts-target="chartSelect"
                            data-action="charts#selectChart"
                        >
                            <option value="ticket-price">Ticket Price</option>
                            <option value="ticket-pool-size">Ticket Pool Size</option>
                            <option value="ticket-pool-value">Ticket Pool Value</option>
                            <option value="stake-participation">Stake Participation</option>
                            <option value="block-size">Block Size</option>
                            <option value="blockchain-size">Blockchain Size</option>
                            <option value="tx-count">Transaction Count</option>
                            <option value="pow-difficulty">PoW Difficulty</option>
                            <option value="coin-supply">Circulation</option>
                            <option value="fees">Fees</option>
                            <option value="privacy-participation">Privacy Participation</option>
                            <option value="duration-btw-blocks">Duration Between Blocks</option>
                            <option value="chainwork">Total Work</option>
                            <option value="hashrate">Hashrate</option>
                            <option value="missed-votes">Missed Votes</option>
                        </select>
                    </div>
                </div>

                <div class="chart-control-wrapper me-2 mb-1" data-charts-target="zoomSelector">
                    <div class="chart-control-label">ZOOM</div>
                    <div class="chart-control">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link active"
                                data-charts-target="zoomOption"
                                data-action="click->charts#setZoom"
                                data-option="all">
                                All
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="zoomOption"
                                data-action="click->charts#setZoom"
                                data-option="year">
                                Year
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="zoomOption"
                                data-action="click->charts#setZoom"
                                data-option="month">
                                Month
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="zoomOption"
                                data-action="click->charts#setZoom"
                                data-option="week">
                                Week
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="zoomOption"
                                data-action="click->charts#setZoom"
                                data-option="day">
                                Day
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chart-control-wrapper me-2 mb-1" data-charts-target="binSelector">
                    <div class="chart-control-label">BIN</div>
                    <div class="chart-control">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link active"
                                data-charts-target="binSize"
                                data-action="click->charts#setBin"
                                data-option="day">
                                Day
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="binSize"
                                data-action="click->charts#setBin"
                                data-option="block">
                                Blocks
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chart-control-wrapper me-2 mb-1" data-charts-target="scaleSelector">
                    <div class="chart-control-label">SCALE</div>
                    <div class="chart-control">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link active"
                                data-charts-target="scaleType"
                                data-action="click->charts#setScale"
                                data-option="linear">
                                Linear
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="scaleType"
                                data-action="click->charts#setScale"
                                data-option="log">
                                Log
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chart-control-wrapper me-2 mb-1" data-charts-target="vSelector">
                    <div class="chart-control-label">VISIBILITY</div>
                    <div class="chart-control">
                        <ul class="nav nav-pills">
                            <li class="nav-item" data-charts-target="vSelectorItem" data-charts="ticket-price">
                                <label class="customcheck ms-2 d-inline-flex">Price
                                    <input
                                        type="checkbox"
                                        checked="checked"
                                        data-action="click->charts#setVisibility"
                                        data-charts-target="ticketsPrice"
                                    >
                                    <span class="checkmark tickets-price"></span>
                                </label>
                            </li>
                            <li class="nav-item" data-charts-target="vSelectorItem" data-charts="ticket-price">
                                <label class="customcheck mx-2 d-inline-flex">Tickets Bought
                                    <input
                                        type="checkbox"
                                        data-action="click->charts#setVisibility"
                                        data-charts-target="ticketsPurchase"
                                    >
                                    <span class="checkmark tickets-bought"></span>
                                </label>
                            </li>
                            <li class="nav-item">
                                <label class="customcheck mx-2 d-inline-flex"
                                    data-charts-target="vSelectorItem" data-charts="coin-supply">Mixed Coins
                                    <input
                                        type="checkbox"
                                        data-action="click->charts#setVisibility"
                                        data-charts-target="anonymitySet"
                                    >
                                    <span class="checkmark total-mixed"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chart-control-wrapper me-2 mb-1" data-charts-target="modeSelector">
                    <div class="chart-control-label">MODE</div>
                    <div class="chart-control">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link active"
                                data-charts-target="modeOption"
                                data-action="click->charts#setMode"
                                data-option="smooth">
                                Smooth
                            </li>
                            <li class="nav-item nav-link"
                                data-charts-target="modeOption"
                                data-action="click->charts#setMode"
                                data-option="stepped">
                                Stepped
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div data-charts-target="chartWrapper" class="chart-wrapper px-2 pb-5">
            <div
                class="chartview"
                data-charts-target="chartsView">
            </div>
            <div class="d-flex flex-wrap justify-content-center align-items-center mb-1 mt-1">
                <div class="chart-control chart-control-wrapper">
                    <ul class="nav nav-pills">
                        <li class="nav-item nav-link active"
                            data-charts-target="axisOption"
                            data-action="click->charts#setAxis"
                            data-option="time">
                            Time
                        </li>
                        <li class="nav-item nav-link"
                            data-charts-target="axisOption"
                            data-action="click->charts#setAxis"
                            data-option="height">
                            Blocks
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column align-items-center p-2 px-3 my-2 bg-white">
                <span class="fs18">JSON-formatted raw data for this chart @</span>
                <div class="d-inline-block text-center fs15 clipboard py-1">
                  <span class="text-center" data-charts-target="rawDataURL"></span>
                  {{template "copyTextIcon"}}
                </div>
              </div>
            </div>
            <div class="spinner-wrapper">
                <div class="spinner-centerer d-flex align-items-center justify-content-center">
                    <div class="spinner">
                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center legend-wrapper">
                <div class="legend d-flex align-items-center" data-charts-target="labels">
                  <div class="pe-3" data-charts-target="legendEntry"><div class="dygraph-legend-line" data-charts-target="legendMarker"></div></div>
                </div>
            </div>
        </div>

    </div>
    {{ template "footer" . }}

</body>
</html>
{{end}}
