{{define "home" -}}
{{- $conv := .Conversions -}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" headData .CommonPageData "Decred Block Explorer by dcrdata.org"}}
    {{ template "navbar" . }}
    <div class="container main" data-controller="time blocklist homepage">
        <div class="row">
            <div class="d-flex flex-column col-md-15 p-0">
                <div class="bg-white mb-1 py-2 px-3 my-0">
                    <div class="d-inline-block position-relative p-2">
                        <span class="card-icon dcricon-twoblocks h1 me-2"></span> <a href="/blocks" class="h3 my-3">Latest {{.NetName}} Blocks</a>
                    </div>

                    <div class="row">
                        {{with .BestBlock -}}
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 mb-0 position-relative text-secondary" data-tooltip="stakeholders are validating this block now.">proposed</span><br>
                            <a class="d-inline-block h3 position-relative" href="/block/{{.Hash}}" data-homepage-target="blockHeight">{{.Height}}</a>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 position-relative text-secondary" data-tooltip="total DCR sent in this block">value</span><br>
                            <span class="h4" data-homepage-target="blockTotal">{{threeSigFigs .Total}}</span><span class="h6"> DCR</span>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <div class="d-flex align-items-baseline justify-content-center p-0 m-0">
                                <span class="h6 me-2 text-secondary" data-tooltip="stakeholder's votes for the proposed block.">votes</span>
                                {{if eq $.Consensus -1 -}}
                                <span data-homepage-target="consensusMsg" class="small text-danger">rejected</span>
                                {{else if eq $.Consensus 0}}
                                <span data-homepage-target="consensusMsg" class="small"></span>
                                {{else}}
                                <span data-homepage-target="consensusMsg" class="small text-green">approved</span>
                                {{- end}}
                            </div>
                            <div class="d-inline-block p1 h5" data-homepage-target="blockVotes" data-hash="{{.Hash}}">
                                {{range $index, $vote := $.BlockTally -}}
                                <div
                                class="d-inline-block position-relative"
                                data-tooltip="{{if eq $vote -1}}the stakeholder has voted to reject this block{{else if eq $vote 1}}the stakeholder has voted to accept this block{{else}}this vote has not been received yet{{end}}"
                                >
                                <span class="dcricon-{{if eq $vote -1}}reject{{else if eq $vote 1}}affirm{{else}}missing{{end}}"></span>
                                </div>
                                {{- end}}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <span class="h6 text-secondary">size</span><br>
                            <span class="h4" data-homepage-target="blockSize">{{.FormattedBytes}}</span>
                        </div>
                        {{- end}}
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table w-100 mt-2 mx-auto mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-start ps-2">Height</th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="regular transactions">Txn</span
                                          ><span class="d-none d-sm-inline">Transactions</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="vote transactions">Vote</span
                                          ><span class="d-none d-sm-inline">Votes</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="ticket transactions">Tkt</span
                                          ><span class="d-none d-sm-inline">Tickets</span></th>
                                        <th class="text-center"
                                          ><span class="d-sm-none position-relative" data-tooltip="ticket revocations">Rev</span
                                          ><span class="d-none d-sm-inline">Revokes</span></th>
                                        <th class="text-end" data-tooltip="total DCR sent">DCR</th>
                                        <th class="d-none d-sm-table-cell d-md-none d-lg-table-cell text-end">Size</th>
                                        <th class="text-end pe-2" data-time-target="header" data-jstitle="Age">Time (UTC)</th>
                                    </tr>
                                </thead>
                                <tbody data-blocklist-target="table">
                                    {{range .Blocks -}}
                                    <tr data-height="{{.Height}}" data-link-class="fs18">
                                        <td class="text-start ps-1" data-type="height"><a href="/block/{{.Height}}" class="fs18">{{.Height}}</a></td>
                                        <td class="text-center" data-type="tx">{{.Transactions}}</td>
                                        <td class="text-center" data-type="votes">{{.Voters}}</td>
                                        <td class="text-center" data-type="tickets">{{.FreshStake}}</td>
                                        <td class="text-center" data-type="revocations">{{.Revocations}}</td>
                                        <td class="text-end" data-type="value">{{threeSigFigs .Total}}</td>
                                        <td class="text-end d-none d-sm-table-cell d-md-none d-lg-table-cell text-nowrap" data-type="size">{{.FormattedBytes}}</td>
                                        <td class="text-end pe-1 text-nowrap" data-type="age" data-time-target="age" data-age="{{.BlockTime.UNIX}}">{{.BlockTime.DatetimeWithoutTZ}}</td>
                                    </tr>
                                    {{- end}}
                                </tbody>
                            </table>
                            <a href="/blocks" class="small ms-2">more blocks...</a>
                        </div>
                    </div>
                </div> <!-- end blocks card -->

                <div class="py-1 px-2 mb-1 bg-white flex-grow-1">

                    <div class="d-flex align-items-baseline my-2">
                        <div class="position-relative col px7-5 nowrap">
                            <span class="card-icon dcricon-stack h1 me-2"></span> <a href="/mempool" class="h3">Mempool</a>
                        </div>
                        <div class="align-right me-3">
                            <span
                                class="h2 position-relative"
                                data-homepage-target="mempool"
                                {{template "mempoolDump" .Mempool}}
                                data-tooltip="transactions ready for the next block"
                            >{{threeSigFigs .Mempool.LikelyMineable.Total}}</span>
                            <span class="h5">DCR</span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-9 mb-3">
                            <div class="d-flex justify-content-between align-items-center px-2 mx-auto mt-1 mt-lg-4 pt-1">
                                <div class="text-start ps-3 ps-sm-3 ps-md-3 ps-lg-3 tx-bar tx-regular d-inline-block">
                                    <span data-homepage-target="mpRegCount" class="h4">{{.Mempool.NumRegular}}</span>
                                    <span class="h6"> regular</span>
                                    <br>
                                    <span class="h4" data-homepage-target="mpRegTotal">{{threeSigFigs .Mempool.LikelyMineable.RegularTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                                <div class="text-end pe-3 tx-bar tx-ticket d-inline-block">
                                    <span data-homepage-target="mpTicketCount" class="h4">{{.Mempool.NumTickets}}</span>
                                    <span class="h6"> tickets</span>
                                    <br>
                                    <span class="h4" data-homepage-target="mpTicketTotal"
                                    >{{threeSigFigs .Mempool.LikelyMineable.TicketTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                            </div>

                            <div class="mx-2 jsonly text-nowrap d-flex my-3">
                                <div class="tx-gauge tx-regular rounded-start" data-homepage-target="mpRegBar"></div>
                                <div class="tx-gauge tx-ticket" data-homepage-target="mpTicketBar"></div>
                                <div class="tx-gauge tx-rev" data-homepage-target="mpRevBar"></div>
                                <div class="tx-gauge tx-vote rounded-end" data-homepage-target="mpVoteBar"></div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mx-auto px-2">
                                <div class="text-start ps-3 pe-sm-3 pe-md-3 pe-lg-3 tx-bar tx-rev d-inline-block">
                                    <span data-homepage-target="mpRevCount" class="h4 lh1rem">{{.Mempool.NumRevokes}}</span>
                                    <span class="h6"> revokes</span>
                                    <br>
                                    <span class="h4" data-homepage-target="mpRevTotal"
                                    >{{threeSigFigs .Mempool.LikelyMineable.RevokeTotal}}</span>
                                    <span class="h6">DCR</span>
                                </div>
                                <div class="text-end pe-3 ps-sm-3 ps-md-3 ps-lg-3 tx-bar tx-bar tx-vote d-inline-block">
                                    <span data-homepage-target="mpVoteCount"
                                    class="h4 lh1rem"
                                    data-tickets-per-block="{{.Mempool.VotingInfo.MaxVotesPerBlock}}">
                                    {{$afterFirst := false -}}
                                    {{- range $hash, $tally := .Mempool.VotingInfo.VoteTallys -}}
                                        {{if $afterFirst}} + {{end}}
                                        <span class="position-relative d-inline-block"
                                        data-homepage-target="voteTally"
                                        data-hash="{{$hash}}"
                                        data-affirmed="{{$tally.Affirmations}}"
                                        data-count="{{$tally.VoteCount}}"
                                        data-tooltip="for block {{$hash}}"
                                        >{{$tally.VoteCount}}</span>
                                        {{$afterFirst = true}}
                                    {{- end}}
                                    </span>
                                    <span class="h6"> votes</span>
                                    <br>
                                    <span class="h4" data-homepage-target="mpVoteTotal">{{threeSigFigs .Mempool.LikelyMineable.VoteTotal}}</span>
                                    <span class="h6">DCR</span><br>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-1">
                            <table class="table table-sm w-100 mx-auto mb-0">
                                <thead>
                                <tr>
                                    <th class="text-start ps-2">Hash</th>
                                    <th class="text-start">Type</th>
                                    <th class="text-end">DCR</th>
                                    <th class="text-end">Size</th>
                                    <th class="text-end pe-2 jsonly">Age</th>
                                </tr>
                                </thead>
                                <tbody class="homepage-mempool" data-homepage-target="transactions">
                                {{range .Mempool.LatestTransactions -}}
                                <tr>
                                    <td class="text-start ps-1 clipboard">{{template "hashElide" (hashlink .Hash (print "/tx/" .Hash))}}</td>
                                    <td class="text-start">{{.Type}}</td>
                                    <td class="text-end">{{threeSigFigs .TotalOut}}</td>
                                    <td class="text-nowrap text-end">{{.Size}} B</td>
                                    <td class="text-end pe-1 jsonly text-nowrap" data-time-target="age" data-age="{{.Time}}"></td>
                                </tr>
                                {{- end}}
                                </tbody>
                            </table>
                            <a href="/mempool" class="small ms-2">more transactions...</a>
                        </div>
                    </div>
                </div>  <!-- end mempool card -->
            </div> <!-- end column -->

            <div class="d-flex flex-column col-md-9 p-0">
                {{with .Info -}}
                <div class="bg-white mb-1 py-2 px-3 mx-1">
                    <div class="my-3 h4">
                        <span class="dcricon-ticket d-inline-block pe-2 h3"></span>
                        Voting
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/charts?chart=ticket-price&zoom=month">Current Ticket Price</a>
                            </div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-homepage-target="blocksdiff">{{template "decimalParts" (float64AsDecimalParts .StakeDiff 8 false 2)}}</span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv -}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="convertedStake">{{$conv.StakeDiff.TwoDecimals}} {{$conv.StakeDiff.Index}}</span>
                            </div>
                            {{- end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Next Ticket Price</div>
                            <div class="mono d-flex align-items-baseline lh1rem pt-1 pb-1">
                                <span class="fs22">~</span><span class="fs24 d-flex" data-homepage-target="nextExpectedSdiff">{{template "decimalParts" (float64AsDecimalParts .NextExpectedStakeDiff 2 false)}}</span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="d-flex lh1rem fs12 text-black-50">
                                <span>min:&nbsp;</span>
                                <span class="d-flex" data-homepage-target="nextExpectedMin">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMin 2 false)}}</span>
                                <span>&nbsp;&mdash;&nbsp;max:&nbsp;</span>
                                <span class="d-flex" data-homepage-target="nextExpectedMax">{{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMax 2 false)}}</span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="d-block fs13 text-secondary"><a href="/charts?chart=ticket-pool-size">Ticket Pool Size</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-homepage-target="poolSize">
                                    {{intComma .PoolInfo.Size}}
                                </span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="targetPct">{{printf "%.2f" (toAbsValue $.PercentChange)}}</span>%
                                {{if lt $.PercentChange 0.0}} under {{else}} over {{end -}}
                                target
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Next Ticket Price Change</div>
                            <div class="progress mt-1 mb-1">
                                <div
                                    class="progress-bar rounded"
                                    data-homepage-target="posBar"
                                    role="progressbar"
                                    style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                    aria-valuenow="{{.IdxBlockInWindow}}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{.Params.WindowSize}}"
                                >
                                    <span class="nowrap ps-1">block <span data-homepage-target="windowIndex">{{.IdxBlockInWindow}}</span> of {{.Params.WindowSize}}</span>
                                </div>
                            </div>
                            <div class="fs12 lh1rem">
                                <span class="text-black-50">
                                    {{remaining .IdxBlockInWindow .Params.WindowSize .Params.BlockTime}}
                                </span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Vote Reward</div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-homepage-target="bsubsidyPos">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide .NBlockSubsidy.PoS 5)) 8 true 2)}}
                                </span>
                                <span class="ps-1 unit lh15rem" style="font-size:13px;">DCR/vote</span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="ticketReward">{{printf "%.2f" .TicketReward}}%</span> per ~{{.RewardPeriod}}
                            </div>
                            <div class="fs12 lh1rem text-black-50" title="Annual Stake Rewards">{{printf "%.2f" .ASR}}% per year</div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/charts?chart=stake-participation">Total Staked DCR</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 pt-1 pb-1 d-flex align-items-baseline">
                                <span data-homepage-target="poolValue">
                                    {{template "decimalParts" (float64AsDecimalParts .PoolInfo.Value 0 true)}}
                                </span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="poolSizePct">{{printf "%.2f" .PoolInfo.Percentage}}</span> % of circulating supply
                            </div>
                        </div>
                    </div>
                </div> <!-- end voting card -->

                <div class="bg-white mb-1 py-2 px-3 mx-1 my-0">
                    <div class="my-3 h4">
                        <span class="dcricon-pickaxe d-inline-block pe-2 h3"></span>
                        <span>Mining</span>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/charts?chart=pow-difficulty">Difficulty</a>
                            </div>
                            <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-homepage-target="difficulty">{{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1000000.0) 0 true)}}</span>
                                <span class="ps-1 unit lh15rem">Mil</span>
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/charts?chart=hashrate">Hashrate</a></div>
                            <div class="mono lh1rem pt-1 pb-1 fs14-decimal fs24 d-flex align-items-baseline">
                                <span data-homepage-target="hashrate">{{template "decimalParts" (float64AsDecimalParts .HashRate 8 true 2)}}</span>
                                <span class="ps-1 unit lh15rem">Ph/s</span>
                            </div>
                            <div class="fs12 text-black-50 lh1rem text-black-50">
                                <span data-homepage-target="hashrateDelta">{{template "fmtPercentage" .HashRateChangeMonth}}</span> in past 30 days
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">PoW Reward</div>
                            <div class="mono lh1rem p03rem0 fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-homepage-target="bsubsidyPow">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.PoW) 8 true 2)}}</span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv -}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="powConverted">{{$conv.PowSplit.TwoDecimals}} {{$conv.PowSplit.Index}}</span>
                            </div>
                            {{- end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary lh1rem">Next Block Reward Reduction</div>
                            <div class="progress mt-1 mb-1">
                                <div
                                    class="progress-bar rounded"
                                    data-homepage-target="powBar"
                                    role="progressbar"
                                    style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                    aria-valuenow="{{.IdxInRewardWindow}}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{.Params.RewardWindowSize}}"
                                >
                                    <span
                                        id="powreward"
                                        class="nowrap ps-1"
                                    >
                                        block <span data-homepage-target="rewardIdx" >{{.IdxInRewardWindow}}</span> of {{.Params.RewardWindowSize}}
                                    </span>
                                </div>
                            </div>
                            <div class="fs12 lh1rem">
                                <span class="text-black-50">
                                    {{remaining .IdxInRewardWindow .Params.RewardWindowSize .Params.BlockTime}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end mining card -->

                <div class="bg-white mb-1 p-2 px-3 mx-1 flex-grow-1">
                    <div class="my-3 h4">
                        <span class="dcricon-tree d-inline-block pe-2 h4"></span>
                        Distribution
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary"><a href="/treasury">Treasury</a></div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-homepage-target="devFund">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (add .DevFund .TreasuryBalance.Balance)) 0 true)}}
                                </span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv -}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="convertedDev">{{threeSigFigs $conv.TreasuryBalance.Value}} {{$conv.TreasuryBalance.Index}}</span>
                            </div>
                            {{- end}}
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="d-block fs13 text-secondary lh1rem"><a href="/charts?chart=coin-supply">Total Coin Supply</a> <span class="nowrap">(of 21 mil)</span></div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-homepage-target="coinSupply">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .CoinSupply) 0 true)}}
                                </span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="fs12 lh1rem text-black-50">
                                {{if $conv -}}
                                <span data-homepage-target="convertedSupply">{{threeSigFigs $conv.CoinSupply.Value}} {{$conv.CoinSupply.Index}}</span>,
                                {{- end}}
                                <span data-homepage-target="mixedPct">{{printf "%.0f" .MixedPercent}}</span>% mixed
                            </div>
                        </div>
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">Treasury Block Reward</div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span data-homepage-target="bsubsidyDev">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.Dev) 8 true 2)}}
                                </span>
                                <span class="ps-1 unit lh15rem">DCR</span>
                            </div>
                            {{if $conv -}}
                            <div class="fs12 lh1rem text-black-50">
                                <span data-homepage-target="convertedDevSub">{{$conv.TreasurySplit.TwoDecimals}} {{$conv.TreasurySplit.Index}}</span>
                            </div>
                            {{- end}}
                        </div>
                        {{if $conv -}}
                        <div class="col-12 mb-3 mb-sm-2 mb-md-3 mb-lg-3">
                            <div class="fs13 text-secondary">
                                <a class="no-underline" href="/market">Exchange Rate</a>
                            </div>
                            <div class="mono lh1rem fs14-decimal fs24 p03rem0 d-flex align-items-baseline">
                                <span class="d-inline-block" data-homepage-target="exchangeRate">{{$conv.ExchangeRate.TwoDecimals}}</span>
                                <span class="ps-1 unit lh15rem">{{$conv.ExchangeRate.Index}}</span>
                            </div>
                        </div>
                        {{- end}}
                    </div>
                </div>
                {{- end}}
            </div> <!-- end column -->
        </div>
    </div>
    <!-- end wrapper -->
    {{  template "footer" . }}
</body>
</html>
{{- end}}
