{{define "market" -}}
{{- $botState := .XcState -}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Decred Market Data"}}
<body class="{{ theme }}" style="background-color: #3d5873;">

{{- template "navbar" . -}}

{{- if $botState -}}

<div class="row w-100 align-items-top mb-4" data-controller="market">


    {{- /* LEFT COLUMN */ -}}
    <div class="col-24 col-lg-auto p-0">


        {{- /* PRICE */ -}}
        <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white text-center">
            <div class="text-center">
                <span class="fs18 text-secondary">1 DCR =</span>
                {{if eq $botState.Index "USD"}}
                    <span class="fs22 fw-bold d-inline-block">$</span>
                {{end}}
                <span class="fs24" data-market-target="price">{{printf "%.2f" $botState.Price}}</span>
                <span class="fs16 text-secondary">{{$botState.Index}}</span>
            </div>
        </div>


        {{- /* DCR/BTC MARKETS */ -}}
        <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white">
            <div colspan="4" class="fs24 text-center pb-4"><span class="dcricon-coin-negative fs24 me-2"></span> Decred Markets</div>
            <table class="mx-auto mx-lg-3">
                <tbody>
                    <tr class="fs14 lh1rem">
                      <td></td>
                      <td class="text-end fw-bold">DCR Vol.</td>
                      <td class="text-end fw-bold">Price</td>
                      <td></td>
                      <td class="text-end fw-bold">{{$botState.Index}}</td>
                    </tr>
                    {{range $botState.VolumeOrderedExchanges}}
                        <tr class="fs hover-row" data-market-target="xcRow" data-action="click->market#setExchange" data-token="{{.Token}}" data-pair="{{.CurrencyPair}}">
                            <td class="py-2 fs18 fw-bold">
                                <div class="exchange-logo {{.Token}} me-2"></div>
                                <span >{{xcDisplayName .Token}}</span>
                                <span class="py-2 fs12 fw-bold">({{.CurrencyPair.QuoteAsset}})</span> 
                            </td>
                            <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                {{threeSigFigs .State.Volume}}
                            </td>
                            <td class="ps-3 fs16 py-2 text-end" data-type="price">
                                {{threeSigFigs .State.Price}}
                            </td>
                            <td class="fs16 px-2" data-type="arrow">
                              {{if eq .State.Change 0.0}}
                                  <span></span>
                              {{else if gt .State.Change 0.0}}
                                  <span class="dcricon-arrow-up text-green"></span>
                              {{else}}
                                  <span class="dcricon-arrow-down text-danger"></span>
                              {{end}}
                            </td>
                            <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                                {{printf "%.2f" ($botState.PriceToFiat .State.Price .CurrencyPair)}}
                            </td>
                        </tr>
                    {{end}}
                    <tr class="fs sum-row" data-market-target="xcRow" data-token="aggregated">
                        <td class="py-2 fs18 fw-bold"><div class="exchange-logo aggregated me-2"></div> Aggregate</td>
                        <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                            {{threeSigFigs $botState.Volume}}
                        </td>
                        <td class="ps-3 fs16 py-2 text-end" data-type="price">
                            {{threeSigFigs ($botState.FiatToBtc $botState.Price)}}
                        </td>
                        <td></td> {{- /* no arrow for aggregated data */ -}}
                        <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                            {{printf "%.2f" $botState.Price}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        {{- /* BITCOIN INDICES */ -}}
        <div class="ms-4 me-2 my-4 py-4 bg-white">
            <div colspan="4" class="fs24 d-flex align-items-center justify-content-center pb-3"><div class="exchange-logo bitcoin me-2"></div> <span>Bitcoin Indices</span></div>
            <div class="row">
              {{range $token, $state := $botState.BitcoinIndices}}
                  <div class="col-12 text-center">
                      <div class="fs18 fw-bold d-flex align-items-center justify-content-center"><div class="exchange-logo {{$token}} me-1"></div> <span class="d-inline-block">{{toTitleCase $token}}</span></div>
                      {{if eq $botState.Index "USD"}}
                          <span class="fs22 fw-bold d-inline-block">$</span>
                      {{end}}
                      <span class="fs24" data-price="{{$state.Price}}" data-token="{{$token}}" data-market-target="xcIndex">{{commaWithDecimal $state.Price 2}}</span> <span class="fs16 text-secondary">{{$botState.Index}}</span><br>
                  </div>
              {{end}}
            </div>
        </div>
    </div>


    {{- /* RIGHT COLUMN */ -}}
    <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
        <div class="col ms-4 ms-lg-3 me-2 me-lg-3 mb-4 mt-1 mt-lg-4 flex-grow-1 d-flex flex-column bg-white px-2 px-lg-4 py-2 py-lg-3 position-relative">
        <div class="loader-v2 loading" data-market-target="chartLoader"></div>


            {{- /* CHART ONTROLS */ -}}
            <div class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">


                {{- /* EXCHANGE SELECTION */ -}}
                <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                    <label>Exchange</label>
                    <select
                        class="chart-box d-inline-flex"
                        data-market-target="exchanges"
                        data-action="change->market#changeExchange"
                    >
                        {{range $botState.VolumeOrderedExchanges}}
                          <option
                              value="{{.Token}}:{{.CurrencyPair}}"
                              {{if .State.HasCandlesticks}}
                                  data-sticks="1"
                                  data-bins="{{.State.StickList}}"
                              {{end}}
                              {{if .State.HasDepth}}
                                  data-depth="1"
                              {{end}}
                              >{{xcDisplayName .Token}} ({{.CurrencyPair.QuoteAsset}})
                          </option>
                        {{end}}
                    </select>
                </div>


                {{- /* CHART TYPE SELECTION */ -}}
                <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                    <label>Chart</label>
                    <select
                        class="chart-box d-inline-flex"
                        data-market-target="chartSelect"
                        data-action="change->market#changeGraph"
                    >
                        <option value="depth" data-market-target="depthOnly" selected>Depth Chart</option>
                        <option value="orders" data-market-target="depthOnly">Order Book</option>
                        <option value="candlestick" data-market-target="sticksOnly">Candlesticks</option>
                        <option value="history" data-market-target="sticksOnly">Market History</option>
                        <option value="volume" data-market-target="sticksOnly">Volume</option>

                    </select>
                </div>


                {{- /* BIN SIZE SELECTIONS */ -}}
                <div
                    class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                    data-market-target="bin"
                    data-action="click->market#changeBin"
                >
                  <label class="text-nowrap">Bin Size</label>
                  <button name="5m">5m</button>
                  <button name="30m">30m</button>
                  <button name="1h" class="btn-selected">Hour</button>
                  <button name="1d">Day</button>
                  <button name="1mo">Month</button>
                </div>


                {{- /* DISPLAY CURRENCY */ -}}
                <div
                    class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                    data-market-target="conversion"
                    data-indices="{{$botState.Indices}}"
                    data-code="{{$botState.Index}}"
                    data-action="click->market#setConversion"
                >
                  <label>Index</label>
                  <button class="btn-selected" name="USDT">USDT</button>
                  <button name="fiat">{{$botState.Index}}</button>
                </div>

                {{- /* ZOOM */ -}}
                <div
                    class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                    data-market-target="zoom"
                    data-action="click->market#setZoom"
                >
                  <label>Zoom +/-</label>
                  <button class="btn-selected" name="10">10%</button>
                  <button name="20">20%</button>
                  <button name="40">40%</button>
                  <button name="95">95%</button>
                </div>

                {{- /* OTHER CHART OPTIONS */ -}}
                <div
                    class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                    data-market-target="actions"
                >
                  <label>Actions</label>
                  <button><a data-market-target="link" href="" target="_blank" rel="noopener noreferrer"></a></button>
                </div>
            </div>


            {{- /* CHART */ -}}
            <div class="flex-grow-1 ps-3 mb-2 market-chart-box d-flex">
              <div class="d-flex w-100 position-relative market-chart">
                <div class="market-chart-title d-flex align-items-center">
                    <div data-market-target="xcLogo"></div>
                    <div data-market-target="xcName"></div>
                </div>
                <div class="market-chart-legend" data-market-target="legend"></div>
                <div class="position-absolute w-100 h-100" data-market-target="chart"></div>
              </div>
            </div>

            {{- /* TODO: Test this data controller (time & market) */ -}}
            <div class="text-center py-2 py-lg-0 text-lg-end px-4 fs13 d-hide" data-market-target="age">updated <span data-controller="time" data-time-target="age" data-market-target="ageSpan" data-age="0"></span> ago</div>
        
        </div>
    </div>
</div>

{{- else -}} {{/* EXCHANGE MONITORING DISABLED */}}

    <h5 class="py-5 text-center">Exchange monitoring disabled</h5>

{{- end -}}

{{- template "footer" . -}}

</body>
</html>
{{end}}
