{{define "rawtx"}}
<!DOCTYPE html>
<html lang="en">
    {{template "html-head" headData .CommonPageData "Decode Raw Decred Transaction"}}
        {{template "navbar" . }}
        <div class="container main" data-controller="rawtx">
            <h4 class="mb-2">Decred transaction to decode or broadcast</h4>
            <form>
                <textarea
                    autofocus
                    rows="6"
                    class="w-100 px7-5"
                    data-rawtx-target="rawTransaction"
                    data-action="keypress->rawtx#send"
                    data-event-id="decodetx"
                    placeholder="Enter the full transaction (hexadecimal encoded) here"
                ></textarea>
                <button
                    type="button"
                    data-rawtx-target="decode"
                    data-action="click->rawtx#send"
                    data-event-id="decodetx"
                    class="button btn btn-primary me-1"
                >Decode</button>
                <button
                    type="button"
                    data-rawtx-target="broadcast"
                    data-action="click->rawtx#send"
                    data-event-id="sendtx"
                    class="button btn btn-success color-inherit"
                >Broadcast</button>
            </form>
            <h4 class="my-2" data-rawtx-target="decodeHeader">Decoded transaction</h4>
            <pre
                data-rawtx-target="decodedTransaction"
                class="json-block mono pt-3 pe-3 pb-3 ps-3"
            >
            </pre>
        </div>
        {{ template "footer" . }}
    </body>
</html>
{{end}}
