{{define "statistics"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "Decred Statistics"}}
        {{ template "navbar" . }}
        {{with .Stats}}
        <div class="container py-1">
            <div class="row" style="margin-top:24px;">
                <div style="width: 20%" class="col">
                    <h5 class="mb-2 stat-headers">Network Stats</h5>
                    <div class="card">
                        <div class="card-header network-statistics">Total Supply</div>
                        <div class="card-body card-body-padding-top">
                            <span id="total-supply-card" class="stat-data">{{template "decimalParts" (amountAsDecimalPartsTrimmed .TotalSupply 2 true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR</span>
                            {{if .TotalSupplyPercentage}}
                            </br>
                            <span class="stat-details no-decimal">{{printf "%.2f" .TotalSupplyPercentage}}% mined of {{template "decimalParts" (amountAsDecimalParts .UltimateSupply true)}}</span>
                            {{end}}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header network-statistics">Proof-of-Work Difficulty</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data no-decimal">{{template "decimalParts" (float64AsDecimalParts .PoWDiff 0 true)}}</span>
                            </br>
                            <span class="stat-link"><a href="/charts">show chart</a></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header network-statistics">Hash Rate</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{printf "%.2f" .HashRate}}</span>
                        </br>
                        <span class="stat-details">PHash/s</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header network-statistics">Project Fund</div>
                        <div class="card-body card-body-padding-top">
                            <span id="project-fund-card"
                                  class="stat-data">{{ template "decimalParts" (amountAsDecimalPartsTrimmed .ProjectFunds 2 true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR</span>
                            </br>
                            <span class="stat-link"><a href="/address/{{.ProjectAddress}}">show address</a></span>
                        </div>
                    </div>
                </div>

                <div style="width: 20%" class="col">
                    <h5 class="mb-2 stat-headers">Block Rewards</h5>
                    <div width="45%" class="card">
                        <div class="card-header block-rewards">Block Reward Adjustment</div>
                        <div class="card-body card-body-padding-top" style="width: 100%;">
                            <div class="row">
                                <div style="margin: auto" class="col-12 col-lg-24">
                                    <div class="progress" style="max-width: 330px">
                                        <div
                                            class="progress-bar rounded"
                                            id="pow-window-progess-bar"
                                            role="progressbar"
                                            style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                            aria-valuenow="{{.IdxInRewardWindow}}"
                                            aria-valuemin="0"
                                            aria-valuemax="{{.RewardWindowSize}}"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="stat-details">block {{.IdxInRewardWindow}} of {{.RewardWindowSize}}<br />
                               ({{remaining .IdxInRewardWindow .RewardWindowSize .BlockTime}})</span>
                            </br>
                            <div style="text-align:left;margin-left:33px;">
                              <span class="stat-details">Curent {{template "decimalParts" (amountAsDecimalParts .BlockReward true)}} DCR</span>
                              </br>
                              <span class="stat-details">Next  (est.) {{template "decimalParts" (amountAsDecimalParts .NextBlockReward true)}} DCR</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header block-rewards" style="padding-left:6px">Block Reward</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{template "decimalParts" (amountAsDecimalParts .BlockReward true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header block-rewards">Proof-Of-Work Reward</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{template "decimalParts" (amountAsDecimalParts .PoWReward true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR per block</span>
                            </br>
                            <span class="stat-details unit" style="margin-left: 10px;">can be lower if less than 5 votes are mined
                            </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header block-rewards">Project Fund Subsidy</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{template "decimalParts" (amountAsDecimalParts .ProjectFundReward true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR per block</span>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="width: 50%;">
                    <h5 id="proof-stake-header"
                        class="mb-2 stat-headers">Proof-of-Stake Stats</h5>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Tickets In Mempool</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{.TicketsInMempool}}</span>
                            </br>
                            <span class="stat-details unit">Ticket{{if gt .TicketsInMempool 1}}s{{end}}</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Votes In Mempool</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{.VotesInMempool}}</span>
                            </br>
                                <span class="stat-details unit">Vote{{if gt .VotesInMempool 1}}s{{end}}</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Ticket Price</div>
                        <div class="card-body card-body-padding-top">
                            <span  class="stat-data">{{template "decimalParts" (float64AsDecimalParts .TicketPrice 8 false)}}</span>
                            </br>
                            <span class="stat-details unit">DCR</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Ticket Price Adjustment</div>
                        <div class="card-body card-body-padding-top" style="width: 100%;">
                            <div class="row">
                                <div style="margin: auto" class="col-12 col-lg-24">
                                    <div class="progress">
                                        <div
                                            class="progress-bar rounded"
                                            id="pos-window-progess-bar"
                                            role="progressbar"
                                            style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                            aria-valuenow="{{.IdxBlockInWindow}}"
                                            aria-valuemin="0"
                                            aria-valuemax="{{.WindowSize}}"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="stat-details">{{.IdxBlockInWindow}} of {{.WindowSize}}</br>
                              ({{remaining .IdxBlockInWindow .WindowSize .BlockTime}})</span>
                            </br>
                            <div style="text-align:left;margin-left:34px;">
                              <span class="stat-details">Curent: {{template "decimalParts" (float64AsDecimalParts .TicketPrice 8 false)}} DCR</span>
                              </br>
                              <span class="stat-details">Next: {{template "decimalParts" (float64AsDecimalParts .NextEstimatedTicketPrice 8 false)}} DCR</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header proof-of-stake">Proof-Of-Stake Reward</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{template "decimalParts" (amountAsDecimalParts ( divide .PoSReward 5) true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR per ticket</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Ticket Rewards</div>
                        <div class="card-body card-body-padding-top">
                            <span  class="stat-data"
                                   data-toggle="tooltip"
                                   title="Price based on continuous re-staking and variable ticket price.">
                                    +{{printf "%.2f" .TicketsROI}}%
                            </span>
                            </br>
                            <span class="stat-details"
                                  data-toggle="tooltip"
                                  title="Price based on continuous re-staking and variable ticket price.">
                                    per ticket, ~{{.RewardPeriod}} to vote
                            </span>
                            </br>
                            <span class="stat-details" title="Annual Stake Rewards">({{printf "%.2f" .APR}}% / year)</span>
                            </br>
                            <span class="stat-details">rough approximation</span>
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Ticket Pool Size</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data">{{intComma .TicketPoolSize}}</span>
                            </br>
                            {{if ge .TicketPoolSizePerToTarget 100.0}}
                            <span class="stat-details">+{{printf "%.2f" (floatsubtract .TicketPoolSizePerToTarget 100.0)}}% above target 40,960</span>
                            {{else}}
                            <span class="stat-details">-{{printf "%.2f" (floatsubtract 100.0 .TicketPoolSizePerToTarget)}}% below target 40,960</span>
                            {{end}}
                        </div>
                    </div>
                    <div width="45%" class="card">
                        <div class="card-header proof-of-stake">Ticket Pool Value</div>
                        <div class="card-body card-body-padding-top">
                            <span class="stat-data no-decimal">{{template "decimalParts" (float64AsDecimalParts  .TicketPoolValue 8 true)}}</span>
                            </br>
                            <span class="stat-details unit">DCR</span>
                            </br>
                            <span class="stat-details">{{printf "%.2f" .TPVOfTotalSupplyPeecentage}}% of total supply</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
        {{template "footer" . }}
    </body>
</html>
{{end}}
