{{define "treasury"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Decred Decentralized Treasury"}}
  {{template "navbar" . }}
  {{- with .Data}}
  {{- $bal := .Balance -}}
  {{- $TxnCount := $bal.TxCount}}
  {{- $txType := .TxnType -}}
  <div class="container main"
    data-controller="address"
    data-address-dcraddress="treasury"
    data-address-offset="{{.Offset}}"
    data-address-txn-count="{{ $bal.TxCount}}"
    data-address-balance="{{toFloat64Amount $bal.Balance}}"
  >
    <div class="fullscreen d-none" data-address-target="fullscreen" data-action="click->address#exitFullscreen">
      <div class="secondary-card d-inline-block w-100 h-100 p-4" data-address-target="bigchart"></div>
    </div>
    <div class="row pb-4 px-2">
      <div class="col-24 col-xl-10 bg-white px-3 py-3 position-relative">
        <div class="fs22 pb-3">Decred Treasury</div>
        <div class="position-relative d-flex justify-content-between align-items-start flex-wrap">
          <div class="d-inline-block text-start pe-2 pb-3">
            <span class="text-secondary fs13">Balance</span>
            <br>
            <span class="lh1rem d-inline-block pt-1 fs18 fs14-decimal fw-bold">
            {{- if $bal.Balance}}
              {{template "decimalParts" (amountAsDecimalParts $bal.Balance true)}} <span class="text-secondary fs14">DCR</span><br>
            {{- else}}
              <span class="fs18">0</span> <span class="text-secondary fs14">DCR</span>
            {{- end}}
            </span>
            {{if .ConvertedBalance}}
              <br>
              <span class="fs15 medium-sans lh1rem">{{threeSigFigs .ConvertedBalance.Value}}</span>
              <span class="text-secondary fs13 lh1rem">{{.ConvertedBalance.Index}}</span>
            {{end}}
            <br>
            <span class="text-secondary fs14 lh1rem">{{template "decimalParts" (amountAsDecimalParts $bal.Immature true)}} immature</span>
          </div>
          <div class="d-inline-block text-start pe-2 pb-3">
            <span class="text-secondary fs13">Received</span>
            <br>
            <span class="lh1rem d-inline-block pt-1 fs18 fs14-decimal fw-bold">
            {{- if or $bal.Added $bal.TBase}}
              {{- $received := add $bal.Added $bal.TBase}}
              {{- template "decimalParts" (amountAsDecimalParts $received true)}} <span class="text-secondary fs14">DCR</span>
            {{- else}}
              <span class="fs18">0</span> <span class="text-secondary fs14">DCR</span>
            {{- end}}
            </span>
            <br>
            <span class="text-secondary fs14 lh1rem">{{intComma $bal.TBaseCount}} gens, {{intComma $bal.AddCount}} adds</span>
          </div>
          <div class="d-inline-block text-start pe-2 pb-3">
            <span class="text-secondary fs13">Spent</span>
            <br>
            <span class="lh1rem d-inline-block pt-1 fs18 fs14-decimal fw-bold">
            {{- if $bal.Spent}}
              {{- template "decimalParts" (amountAsDecimalParts $bal.Spent true)}} <span class="text-secondary fs14">DCR</span>
            {{- else}}
              <span class="fs18">0</span> <span class="text-secondary fs14">DCR</span>
            {{- end}}
            </span>
            <br>
            <span class="text-secondary fs14 lh1rem">{{intComma $bal.SpendCount}} spends</span>
          </div>
          <span></span>
        </div>
        <div class="position-relative d-flex justify-content-between align-items-start flex-wrap">
          <span>See also the <a href="/address/{{$.DevAddress}}">legacy treasury</a> during the transition to this decentralized treasury account.</span>
        </div>
      </div>
      <div class="col-24 col-xl-14 secondary-card p-2">
        <noscript>
          <div class="text-center pt-5 fs15">Enable Javascript to see charts</div>
        </noscript>
        <div class="jsonly h-100" data-address-target="littlechart">
          <div class="d-flex flex-column h-100" data-address-target="chartbox">
            <div class="d-flex flex-wrap justify-content-around align-items-start">
              <div class="loader-v2 loading" data-address-target="chartLoader"></div>
              <div class="btn-set secondary-card d-inline-flex flex-nowrap mx-2">
                <label>Chart</label>
                <select
                  class="chart-box d-inline-flex"
                  data-address-target="options"
                  data-action="change->address#changeGraph"
                >
                  <option name="balance" value="balance">Balance</option>
                  <!-- <option name="types" value="types">Tx Type</option> -->
                  <option name="amountflow" value="amountflow">Sent/Received</option>
                </select>
              </div>
              <div
                class="btn-set secondary-card d-inline-flex flex-nowrap mx-2"
                data-toggle="buttons"
                data-address-target="zoom"
                data-action="click->address#onZoom"
              >
                <label>Zoom</label>
                <button class="btn-selected" name="all" data-fixed="1">All</button>
                <button name="year">Year</button>
                <button name="month">Month</button>
                <button name="week">Week</button>
                <button name="day">Day</button>
              </div>
              <div
                class="btn-set secondary-card d-inline-flex flex-nowrap mx-2"
                data-toggle="buttons"
                data-txcount="{{$TxnCount}}"
                data-address-target="interval"
                data-action="click->address#changeBin"
              >
                <label class="d-inline-flex pe-1">Group By </label>
                <button name="year">Year</button>
                <button class="btn-selected" name="month">Month</button>
                <button name="week">Week</button>
                <button name="day" data-fixed="1">Day</button>
                <button name="all" data-fixed="1">Block</button>
              </div>
              <div class="row flex-nowrap d-inline-flex d-hide mx-2 mb-2" data-address-target="flow"
                data-action="change->address#updateFlow">
                <label class="customcheck ms-2 d-inline-flex">Sent
                  <input type="checkbox" value="2">
                  <span class="checkmark sent"></span>
                </label>
                <label class="customcheck ms-2 d-inline-flex">Received
                  <input type="checkbox" checked="checked" value="1">
                  <span class="checkmark received"></span>
                </label>
                <label class="customcheck mx-2 d-inline-flex">Net
                  <input type="checkbox" value="4">
                  <span class="checkmark net"></span>
                </label>
              </div>
            </div>
            <div class="p-3 address_chart_wrap">
              <div class="expando dcricon-expand" data-address-target="expando" data-action="click->address#toggleExpand"></div>
              <div class="py-5 fs16 d-none" data-address-target="noconfirms"></div>
              <div data-address-target="chart" class="address_chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="position-relative" data-address-target="listbox">
      <div class="row align-items-center">
        <div class="me-auto mb-0 h4 col-24 col-sm-6">Transactions</div>
        <div data-address-target="paginationheader" class="d-flex flex-wrap-reverse align-items-center justify-content-end py-1 col-24 col-sm-18">
          <span class="fs12 nowrap text-end" data-address-target="range">
            showing {{intComma (add .Offset 1)}} &mdash; {{intComma (add .Offset .NumTransactions)}} of
            <span data-address-target="txnCount" data-txn-count="{{$bal.TxCount}}">{{intComma .TypeCount}}</span> transactions
          </span>
          <nav aria-label="address transactions navigation"
            data-limit="{{.Limit}}"
            class="my-1 ms-2{{if ge .NumTransactions $TxnCount}} d-hide{{end}}"
            data-address-target="pagebuttons"
          >
            <ul class="pagination mb-0 pagination-sm">
              <li class="page-item {{if eq .Offset 0}}disabled{{end}}"
                  data-address-target="pageminus">
                <a class="page-link"
                   href="{{.Path}}?n={{.Limit}}&start={{if gt (subtract .Offset .Limit) 0}}{{subtract .Offset .Limit}}{{else}}0{{end}}&txntype={{$txType}}"
                   data-turbolinks="false"
                   data-address-target="paginator"
                   data-action="address#prevPage"
                >Previous</a>
              </li>
              <li class="page-item {{if lt (subtract $TxnCount .Offset) (add .Limit 1)}}disabled{{end}}"
                  data-address-target="pageplus">
                <a class="page-link"
                   href="{{.Path}}?n={{.Limit}}&start={{add .Offset .Limit}}&txntype={{$txType}}"
                   data-turbolinks="false"
                   data-address-target="paginator"
                   data-action="address#nextPage"
                >Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="position-relative">
      {{- /* TODO: unconfirmed tadd and tspend txns */}}
        <div class="loader-v2" data-address-target="listLoader"></div>
        <div class="position-relative" data-address-target="table">
          {{template "treasuryTable" .}}
        </div>
      </div>
      <div class="text-end pe-3" data-address-target="tablePagination">
        {{if ne .Offset 0}}
        <a class="d-inline-block dcricon-arrow-left m-1 fz20"
           data-action="click->address#pageNumberLink"
           href="/treasury?start={{subtract .Offset .Limit}}&n={{.Limit}}&txntype={{$txType}}"></a>
        {{end}}
        {{range $.Pages}}
          {{if eq .Link ""}}
          <span>{{.Str}}</span>
          {{else}}
          <a class="fs18 pager px-1{{if .Active}} active{{end}}"
              data-action="click->address#pageNumberLink"
              href="{{.Link}}">{{.Str}}</a>
          {{end}}
        {{end}}
        {{if gt (subtract .TypeCount .Offset) .Limit}}
        <a class="d-inline-block dcricon-arrow-right m-1 fs20"
            data-action="click->address#pageNumberLink"
            href="/treasury?start={{add .Offset .Limit}}&n={{.Limit}}&txntype={{$txType}}"></a>
        {{end}}
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <span></span>{{/*This dummy span ensures left/right alignment of the buttons, even if one is hidden.*/}}
        <div class="d-flex flex-row">
          <div class="d-inline-block text-end">
            <label class="mb-0 me-1" for="txntype">Type</label>
            <select
              name="txntype"
              data-address-target="txntype"
              data-action="change->address#changeTxType"
              class="form-control-sm mb-2 me-sm-2 mb-sm-0"
            >
              <option {{if eq $txType "all"}}selected{{end}} value="all">All</option>
              <option {{if eq $txType "tspend"}}selected{{end}} value="tspend">Spend</option>
              <option {{if eq $txType "tadd"}}selected{{end}} value="tadd">Add</option>
              <option {{if eq $txType "treasurybase"}}selected{{end}} value="treasurybase">Treasurybase</option>
            </select>
          </div>
          <div class="d-inline-block text-end">
            <label class="mb-0 me-1" for="pagesize">Page size</label>
            <select
              name="pagesize"
              id="pagesize"
              data-address-target="pagesize"
              data-action="change->address#changePageSize"
              class="form-control-sm mb-2 me-sm-2 mb-sm-0 {{if lt $TxnCount 20}}disabled{{end}}"
              {{- if lt $TxnCount 20}} disabled{{end}}
            >
            {{- $Txlen := len .Transactions}}
              <option {{if eq $Txlen 20}}selected {{end}}value="20"{{if lt $TxnCount 20}} disabled{{end}}>20</option>
              <option {{if eq $Txlen 40}}selected {{end}}value="40"{{if lt $TxnCount 40}} disabled{{end}}>40</option>
              <option {{if eq $Txlen 80}}selected {{end}}value="80"{{if lt $TxnCount 80}} disabled{{end}}>80</option>
            {{- if lt $TxnCount 160}}
              <option {{if eq $Txlen $TxnCount}}selected {{end}}value="{{$TxnCount}}"{{if le $TxnCount 160}} disabled{{end}}>{{$TxnCount}}</option>
            {{- else}}
              <option {{if ge $Txlen 160}}selected {{end}}value="160">160</option>
            {{- end}}
            </select>
          </div>
        </div>
      </div>
    </div>{{/*address.listbox*/}}
  </div>{{/* container main */}}
  {{- end}}{{/* with .Data */}}
  {{template "footer" . }}
</body>
</html>
{{- end}}
