/* socket connection */

/* Notice: Portions of the connection indicator style come from html5rocks.com */
@-webkit-keyframes glowgreen {
  from {
    -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
  }

  50% {
    -webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;
  }

  to {
    -webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
  }
}

@-webkit-keyframes glowred {
  from {
    -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }

  50% {
    -webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;
  }

  to {
    -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }
}

#connection {
  font: 12px sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

#connection div {
  background-image: url("/images/connecting.svg");
  background-size: 15px 15px;
  background-position: center;
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#connection.connected div {
  background-image: url("/images/connected.svg");
  -webkit-box-shadow: rgba(0, 255, 0, 0.5) 0 0 5px;
  -webkit-animation-name: glowgreen;
}

#connection.disconnected div {
  background-image: url("/images/disconnected.svg");
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0 0 5px;
  -webkit-animation-name: glowred;
}
