name: Build and Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        go: [1.16, 1.17]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Go Build
      env:
        GO111MODULE: "on"
      run: go build -v ./...
      working-directory: ./cmd/dcrdata

    - name: Use nodejs ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm clean-install
      run: npm clean-install
      working-directory: ./cmd/dcrdata
    - name: npm run build
      run: npm run build
      working-directory: ./cmd/dcrdata

    - name: Install Linters
      run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.43.0"
    - name: tests
      env:
        GO111MODULE: "on"
      run: |
        ./run_tests.sh
