name: Build and Test
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build-go:
    name: Go Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.18, 1.19]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}

    - name: Go Build dcrdata
      env:
        GO111MODULE: "on"
      run: go build -v ./...
      working-directory: ./cmd/dcrdata

    - name: Install Linters
      run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.48.0"

    - name: Go Tests
      env:
        GO111MODULE: "on"
      run: |
        ./run_tests.sh

  build-js:
    name: Build JS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3

      - name: Use nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm clean-install
        run: npm clean-install
        working-directory: ./cmd/dcrdata

      - name: npm run build
        run: |
          npm run build
          git diff --exit-code views/extras.tmpl
        working-directory: ./cmd/dcrdata
